{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Tester | Test</title>


	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<!-- fontawesome cdn -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'tester/css/tester-test.css' %}">
	<style>
		.cursor{
			cursor: pointer;
		}
		.selected_pwg{
			    background-color: #007bff;
				display: inline-block;
				color: white;
				border-radius: 6px;
		}
	</style>
</head>
<body>



	<section class="bg-light">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light ">

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item pl-3">
							<a class="nav-link "  href="tester-home">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link active" href="tester-test">Test</a>
						</li>


					</ul>

				</div>

				<a class="navbar-brand pr-3" href="#" style="color: green; font-size: 30px; position: relative;"><i class="fas fa-bell "></i><span class="badge badge-danger" style="position: absolute; top: -5px; font-size: 14px; left:15px; ">1</span></a>

				<div class="dropdown  dropleft float-xl-right mb-0" >
					<button  class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#" >Chat With Admin</a>
						<a class="dropdown-item" href="tester-home" >Exit</a>
					</div>
				</div>


			</nav>
		</div>
	</section>


	<section class="bg-detail">
		<div class="container-fluid">
			<div class="row justify-content-center">

				<div class="col-md-10  py-5 px-5">

					<div class="row justify-content-center bg-button-2 p-xl-4 mt-3" id="div-1" >

						<div class="col-md">

							<header class="">
								<nav class="navbar navbar-light justify-content-center">
									<div class="row "><div class="col-md" style="display:inline-flex">
									<a class="h4 text-dark font-weight-bold pt-2">Testing PWG: </a>
									<form class="form-inline px-3" >
										<div class="input-group-prepend mb-1 mr-2">
											<span class="input-group-text" id="addon-wrapping">
												<i class="fas fa-search fa-1x"></i>
											</span>
											<input type="text" class="form-control" placeholder="Enter PWG Name" aria-label="Username" aria-describedby="addon-wrapping" id="myInput" style="font-weight:700;">
										</div>

									</form>
									</div></div>


								</nav>
							</header>


							<div class="row justify-content-center next-password">
				<div class="col-md-5">
					<div class="row justify-content-center bg-button-2 p-2 mb-3" id="div-4">

						<div class="col-md text-center my-5" id="password-tagline" style="display: none;">
							<h6 id="password" style="display: none;"></h6>
							<p id="randomText" class="font-weight-bolder" style="display: none;">Your Password</p>

							<ul class="nav justify-content-around mt-5" id="buttons">

								<li class="nav-item" id="pass">
									<button class="nav-link btn-info btn text-white btn-sm" id="pass_pwg" disabled onclick="myfun2()">Pass</button>
								</li>
								<li class="nav-item">
									<button class="nav-link btn-primary btn text-white btn-sm" disabled id="yourButton">Get Password</button>
								</li>
								<li class="nav-item">
									<button class="nav-link btn-danger btn text-white btn-sm" id="fail_button" disabled onclick="myfun3()">Fail</button>
								</li>
							</ul>

						</div>
					</div>
				</div>

			</div>

							<div class="row">
				<div class="col-md-6">
					<div class="table-responsive">
								<br>
								<table class="table">
									<thead>
										<tr>
											<th scope="col">PWGs</th>
										</tr>
									</thead>
									<tbody id="myTable" class="table-borderless">

										<tr>

											<td onclick="select_pwg('PWG11')" class="cursor" id="pwg0">PWG11</td>

										</tr>

										<tr>
											<td class="cursor" onclick="select_pwg('PWG12')" id="pwg1">PWG12</td>

										</tr>

										<tr>

											<td class="cursor" onclick="select_pwg('PWG13')" id="pwg2">PWG13</td>
										</tr>

										<tr>

											<td class="cursor" onclick="select_pwg('PWG14')" id="pwg3">PWG14</td>

										</tr>
									<tr>

										<td class="cursor" onclick="select_pwg('PWG09')" id="pwg4">PWG09</td>

									</tr>
									<tr>
										<td class="cursor" onclick="select_pwg('PWG17')" id="pwg5">PWG17</td>
									</tr>
									<tr>
										<td class="cursor" onclick="select_pwg('PWG15')" id="pwg6">PWG15</td>
									</tr>

									</tbody>
								</table>
							</div>
				</div>
				<div class="col-md-6">
					<div class="table-responsive">


								<br>
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Action</th>

										</tr>
									</thead>
									<tbody class="table-borderless">

										<tr>
											<td></td>
										</tr>

										<tr>
											<td colspan="4" id="right_next"><button type="button" class="btn btn-primary" id="first_next" onclick="right_next()" ><i class="fas fa-chevron-right"></i> Next</button></td>
										</tr>

										<tr>
											<td></td>
										</tr>

										<tr>
											<td></td>
										</tr>
									<tr>
										<td colspan="3" id="left_next"><button type="button"  id="last_prev" class="btn btn-primary" onclick="left_next()" ><i class="fas fa-chevron-left"></i> Prev One</button></td>
									</tr>
									<tr>
									</tr>
									<tr>
									</tr>

									</tbody>
								</table>
							</div>
				</div>
			</div>
						</div>



					<div class="row justify-content-center bg-button-2 p-4 mt-3" id="div-2" style="display: none;">

						<div class="col-md">
							<h5 class="font-weight-bold"> <span><i class="fas fa-caret-right"></i></span> Add Seller Account</h5>
							<div class="row">
								<div class="col-md-6 py-3">

									<form>
									  <div class="form-group">
									    <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Name ">
									  </div>
									  <div class="form-group">
									     <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Alias Name ">
									  </div>

									  <div class="form-group">
									     <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Email ">
									  </div>

									  <div class="form-group">
									     <input type="number" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Contact Number ">
									  </div>

									  <div class="form-group">
									     <input type="password" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Password ">
									  </div>

									<button class="btn btn-primary" type="submit">Submit</button>
									<button class="btn btn-danger" type="submit" onclick="cancel()">Cancel</button>
									</form>
								</div>
							</div>


						</div>

					</div>


					<div class="row justify-content-center bg-button-2 p-4 mt-3" id="div-3" style="display: none;">

						<div class="col-md">
							<h5 class="font-weight-bold"> <span><i class="fas fa-caret-right"></i></span> List Of Tested PWG</h5>
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Sr. No.</th>
										<th scope="col">Name</th>
										<th scope="col">TESTED</th>



									</tr>
								</thead>
								<tbody id="myTable">
									<tr>
										<th scope="row">1</th>
										<td><a href="">PWG-1</a></td>
										<td><i class="fas fa-check pl-4"></i></td>


									</tr>

									<tr>
										<th scope="row">2</th>
										<td>PWG-2</td>
										<td><i class="fas fa-check pl-4"></i></td>

									</tr>
								</tbody>


							</table>

							<button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Transfer Tested PWG to Seller</button>
							<!-- Modal -->
							<div class="modal fade" id="imagemodal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							  <div class="modal-dialog">
								<div class="modal-content">
								  <div class="modal-header">
									<h5 class="modal-title font-weight-bold">PWG Passed</h5>
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								  </div>
								  <div class="modal-body">
								  	<p id="removed_pwg"></p>
								  </div>

								  <div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
								  </div>
								</div>
							  </div>
							</div>


						</div>

					</div>

				</div>
			</div>
		</div>


	</div>
</section>








		<script type="text/javascript">
			var clicks = 0;
			var next_pass = 0;

			function randomText(length) {
				   var result           = '';
				   var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789(){}[]+-/*^_@#$%!&';
				   var charactersLength = characters.length;
				   for ( var i = 0; i < length; i++ ) {
					  result += characters.charAt(Math.floor(Math.random() * charactersLength));
				   }
				   return result;
				}

			$(function(){
				$('#yourButton').click(function(){
					next_pass += 1;
					var btn = $(this);
					btn.html("Next Password");
					$('#randomText').html(randomText(15));
					btn.prop('disabled',true);
					window.setTimeout(function(){
						btn.prop('disabled',false);
					},3000);

					//fetching search bar's value
					pwg_name = $("#myInput").val();

					//displaying password section and text on the top
					$("#password").css("display","block");
					$("#randomText").css("display","block");
					if(next_pass == 1){
						$("#password").html("The "+next_pass+"<sup>st</sup> Password Of "+pwg_name+" is Below");
					} else if(next_pass == 2){
						$("#password").html("The "+next_pass+"<sup>nd</sup> Password Of "+pwg_name+" is Below");
					} else if (next_pass == 3){
						$("#password").html("The "+next_pass+"<sup>rd</sup> Password Of "+pwg_name+" is Below");
					} else{
						$("#password").html("The "+next_pass+"<sup>th</sup> Password Of "+pwg_name+" is Below");
					}



					if(next_pass >= 3){
						$('#pass_pwg').prop('disabled',false);
						$('#pass').html('<a class="nav-link btn-success btn text-white btn-sm pop1"  onclick="myfun2()" id="pass_pwg">Pass</a>');
					}
					$('#fail_button').prop('disabled',false);
				});
			});



				// search filter table
				$(document).ready(function(){
					$("#myInput").on("keyup", function() {
						var value = $(this).val().toLowerCase();
						$("#myTable tr").filter(function() {
							$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
						});
					});
				});


		//for pass button
		function myfun2(){
			var pwg_name = $('#myInput').val();

			//fetching table's td values
			table = document.getElementById("myTable");
			rows = table.rows;
			var len = rows.length;

			for(i=0;i<len;i++){
				if(pwg_name == rows[i].getElementsByTagName("td")[0].innerHTML){
					rows[i].getElementsByTagName("td")[0].remove();
					$('#myInput').attr("value", "");
					$('#password').html("The XXXth Password Of PWGx-x is Below");
					$('#randomText').html("Your Password");
					$('#yourButton').prop("disabled", true);
					break;
				}
			}

			// modal popup

				  $("#removed_pwg").html(pwg_name+" is successfully Passed and send to tested list");
				  $("#imagemodal1").modal("show");

		}







		//for fail button
		function myfun3(){

			var pwg_name = $('#myInput').val();

			//fetching table's td values
			table = document.getElementById("myTable");
			rows = table.rows;
			var len = rows.length;

			for(i=0;i<len;i++){
				if(pwg_name == rows[i].getElementsByTagName("td")[0].innerHTML){
					rows[i].getElementsByTagName("td")[0].remove();
					$('#myInput').attr("value","");
					$('#password').html("The XXXth Password Of PWGx-x is Below");
					$('#randomText').html("Your Password");
					break;
				}
			}
		}

		function myfun4(){
			document.getElementById("div-4").style.display = "block";
			document.getElementById("div-8").style.display = "none";
			document.getElementById("ret").style = "margin-left: 48%;margin-top: 15px;margin-bottom: 15px;";


		}

		function select_pwg(value){

		//displaying the next password block
		$('#password-tagline').css("display", "block");

		//resetting the value of next_pass, use to enable pass button
		$('#pass').html('<button class="nav-link btn-info btn text-white btn-sm"  onclick="myfun2()" id="pass_pwg">Pass</button>');
		$('#pass_pwg').prop('disabled',true);
		next_pass = 0;


		//resetting Next Password password to get Password
			$('#yourButton').html("Get Password");

		//resetting Password field to empty
		$('#randomText').html(" ");

			$("#yourButton").removeAttr("disabled");
			$('#myInput').attr("value",value);




			//checking prev one button's value to set warning
			text = document.getElementById("first_next").innerHTML;
			if("Prev One" != text.slice(-8)){
				$('#left_next').html('<button type="button" id="last_prev" class="btn btn-primary" onclick="left_next()"><i class="fas fa-chevron-left"></i> Prev One</button>');
			}

			//checking Next button's value to set warning
				text = document.getElementById("last_prev").innerHTML;
				if("Next" != text.slice(-4)){
					$('#right_next').html('<button type="button" class="btn btn-primary" onclick="right_next()" id="first_next"><i class="fas fa-chevron-right"></i> Next</button>');
				}

			//making selected PWG highlighted and de-highlighted
			table = document.getElementById('myTable');
			rows = table.rows;
			for(i=0;i<rows.length;i++){
				if( value == rows[i].getElementsByTagName("td")[0].innerHTML){
					id_name = rows[i].getElementsByTagName("td")[0].getAttribute('id');
					$('#'+id_name).addClass("selected_pwg");
				} else{
					id_name = rows[i].getElementsByTagName("td")[0].getAttribute('id');
					$('#'+id_name).removeClass("selected_pwg");
				}
			}

		}




		function right_next(){
		//resetting the value of next_pass, use to enable pass button
		$('#pass').html('<button class="nav-link btn-info btn text-white btn-sm"  onclick="myfun2()" id="pass_pwg">Pass</button>');
		$('#pass_pwg').attr('disabled','true');
		next_pass = 0;


		//resetting Next Password password to get Password
		$('#yourButton').html("Get Password");

		//resetting Password field to empty
		$('#randomText').html(" ");


		//displaying the next password block
		$('#password-tagline').css("display", "block")

		//enabling next password button to get next password
		$("#yourButton").removeAttr("disabled");

		//checking prev one button's value to set warning
			text = document.getElementById("first_next").innerHTML;
				if("Prev One" != text.slice(-8)){
					$('#left_next').html('<button type="button" id="last_prev" class="btn btn-primary" onclick="left_next()"><i class="fas fa-chevron-left"></i> Prev One</button>');
				}

			//checking Selected PWG's value to set pwg according
			text = $("#myInput").val();

			//fetching table's td values
			table = document.getElementById("myTable");
			rows = table.rows;
			var len = rows.length;

			//for the first time it will set pwg name using global click var
			if(text == ""){
				$("#myInput").attr("value", rows[clicks].getElementsByTagName("td")[0].innerHTML);
				document.getElementById("password").innerHTML = 'The XXXth Password Of '+rows[clicks].getElementsByTagName("td")[0].innerHTML+' is Below';
				clicks += 1;
				//Highlighting selected PWG
				id_name = rows[0].getElementsByTagName("td")[0].getAttribute('id');
				$('#'+id_name).addClass("selected_pwg");
			}else{
				//making selected PWG de-highlighted
				id_name = rows[0].getElementsByTagName("td")[0].getAttribute('id');
				$('#'+id_name).removeClass("selected_pwg");
				for(i=0;i<len;i++){
					if(text == rows[i].getElementsByTagName("td")[0].innerHTML){
						if(i+1 < len){
							text = rows[i+1].getElementsByTagName("td")[0].innerHTML;
							$("#myInput").attr("value",text);
							document.getElementById("password").innerHTML = 'The XXXth Password Of '+rows[i+1].getElementsByTagName("td")[0].innerHTML+' is Below';
							break;
						} else{
							$('#right_next').html('<button type="button" class="btn btn-info" id="first_next">No More PWG, Try below Button</button>');
						}
					}
				}
			}

			//making selected PWG highlighted and de-highlighted

			for(i=1;i<len;i++){
				if( text == rows[i].getElementsByTagName("td")[0].innerHTML){
					id_name = rows[i].getElementsByTagName("td")[0].getAttribute('id');
					$('#'+id_name).addClass("selected_pwg");
				} else{
					id_name = rows[i].getElementsByTagName("td")[0].getAttribute('id');
					$('#'+id_name).removeClass("selected_pwg");
				}
			}

		}


		function left_next(){
				//resetting the value of next_pass, use to enable pass button
				$('#pass').html('<button class="nav-link btn-info btn text-white btn-sm"  onclick="myfun2()" id="pass_pwg">Pass</button>');
				$('#pass_pwg').attr('disabled',"true");
				next_pass = 0;


				//resetting Next Password  to get Password
				$('#yourButton').html("Get Password");

				//resetting Password field to empty
				$('#randomText').html(" ");


				//displaying the next password block
				$('#password-tagline').css("display", "block")


				//enabling next password button to get next password
				$("#yourButton").removeAttr("disabled");

				//checking Next button's value to set warning
				text = document.getElementById("last_prev").innerHTML;
				if("Next" != text.slice(-4)){
					$('#right_next').html('<button type="button" class="btn btn-primary" onclick="right_next()" id="first_next"><i class="fas fa-chevron-right"></i> Next</button>');
				}

				//checking Selected PWG's value to set pwg according
				text = $("#myInput").val();

				//fetching table's td values
				table = document.getElementById("myTable");
				rows = table.rows;
				var len = rows.length;

				//for the first time it will set warning using text
				if(text == ""){
					$('#left_next').html('<button type="button" class="btn btn-info" id="last_prev">No More PWG, Try above Button</button>');
				}else{
					for(i=0;i<len;i++){
						if(text == rows[i].getElementsByTagName("td")[0].innerHTML){
							if(i-1 >= 0){
								text = rows[i-1].getElementsByTagName("td")[0].innerHTML;
								$("#myInput").attr("value", text);
								document.getElementById("password").innerHTML = 'The XXXth Password Of '+rows[i-1].getElementsByTagName("td")[0].innerHTML+' is Below';
								break;
							}else{
								$('#left_next').html('<button type="button" class="btn btn-info" id="last_prev">No More PWG, Try above Button</button>');
								break;
							}
						}
					}
				}

				//making selected PWG highlighted and de-highlighted
				table = document.getElementById('myTable');
				rows = table.rows;
				for(i=0;i<rows.length;i++){
					if( text == rows[i].getElementsByTagName("td")[0].innerHTML){
						id_name = rows[i].getElementsByTagName("td")[0].getAttribute('id');
						$('#'+id_name).addClass("selected_pwg");
					} else{
						id_name = rows[i].getElementsByTagName("td")[0].getAttribute('id');
						$('#'+id_name).removeClass("selected_pwg");
					}
				}
		}
	</script>
</body>
</html>
