{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Tester | Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<!-- fontawesome cdn -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'tester/css/tester-test.css' %}">
</head>
<body>
	<section class="bg-light">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light ">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item pl-3">
							<a class="nav-link "  href="tester-home">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link active" href="tester-test">Test</a>
						</li>
					</ul>
				</div>

				{% include 'notification.html' %}

				<div class="dropdown  dropleft float-xl-right mb-0" >
					<button  class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" onclick="custom_chat('joe@joe.com')">Chat With Admin</a>
						<a class="dropdown-item" href="tester-home" >Exit</a>
					</div>
				</div>
			</nav>
		</div>
	</section>


	<section class="bg-detail">
		<div class="container-fluid">
			<div class="row justify-content-center">

				<!-- for showing error and messages-->
				<div class="col-md-10 py-2 px-5 mt-3" id="msg">

				</div>


				<div class="col-md-10  py-5 px-5">
					<div class="row justify-content-center bg-button-2 p-xl-4 mt-3" id="div-1" >
						<div class="col-md-8">
							<header>
								<nav class="navbar navbar-light justify-content-center">
									<div class="row ">
										<div class="col-md" style="display:inline-flex">
											<a class="h4 text-dark font-weight-bold pt-2 test_tag">Testing PWG: </a>
											<form class="form-inline px-3" >
										<div class="input-group-prepend mb-1 mr-2">
											<span class="input-group-text" id="addon-wrapping">
												<i class="fas fa-search fa-1x"></i>
											</span>
											<input type="text" class="form-control" placeholder="PWG Name" aria-label="Username" id="myInput" style="font-weight:700;background-color: white;" disabled>
										</div>

									</form>
										</div>
									</div>
								</nav>
							</header>


							<div class="row justify-content-center next-password">
								<div class="col-md">
									<div class="row justify-content-center bg-button-2 p-2 mb-3" id="div-4">

										<div class="col-md-6  my-2" id="password-tagline">
											<div style="display:flex;" class="text-center">
												<p id="password" class="h6 test_tag">The XX<sup>th</sup> Password</p>
												<p id="randomText" class="font-weight-bolder ml-3"></p>
											</div>
											<div class="col-md-12  mt-5" id="buttons" style="display:none">
													<button class="btn btn-info text-white  my-2 mx-2" id="pass_pwg" disabled onclick="myfun2()">Pass</button>
													<button class="btn btn-primary text-white btn-sm my-2 mx-2" disabled id="yourButton">Get Password</button>
													<button class="btn btn-danger text-white my-2 mx-2" id="fail_button" disabled onclick="myfun3()">Fail</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-2"></div>
								<div class="col-4">
									<ul class="list-group  mt-5 text-center" id="myTable">
										{% for pwg in pwg_untested %}
										<li class="list-group-item cursor" id="pwg{{forloop.counter0}}" onclick="select_pwg('{{pwg.alias}}', {{pwg.id}})" style="border-radius: 30px;" data-content="{{pwg.id}}">
											 {{pwg.alias}}
										</li>
										{% endfor %}

										<li class="list-group-item" style="display:none;">No more PWG</li>
									</ul>
								</div>
								<div class="col-6">
									<div class="table-responsive ml-5">
												<br>
												<table class="table">
													<thead>
														<tr>
														</tr>
													</thead>
													<tbody class="table-borderless">
														<tr>
															<td></td>
														</tr>
														<tr>
															<td colspan="4" id="right_next"><button type="button" class="btn btn-primary" id="first_next" onclick="right_next()" ><i class="fas fa-chevron-right"></i> Next</button></td>
														</tr>
														<tr>
															<td></td>
														</tr>
														<tr>
															<td></td>
														</tr>
													<tr>
														<td colspan="3" id="left_next"><button type="button"  id="last_prev" class="btn btn-primary" onclick="left_next()" ><i class="fas fa-chevron-left"></i> Prev One</button></td>
													</tr>
													<tr>
													</tr>
													<tr>
													</tr>

													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>


		<!--	to show confirmation of delete and freeze-->
		<div class="modal fade" id="imagemodalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
						<a href="" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
					</div>
					<div class="modal-body text-center p-4">
						<i class="fa fa-question-circle fa-3x" style="color: #bd2130;" id="confirm-message-color"></i>
						<p class="pt-2 font-weight-bold" id="confirm-message-delete"></p>

					</div>
					<div class="modal-footer justify-content-center">
						<button type="button" class="btn btn-primary" id="confirm-modal-button" onclick="sendsellerspk();">Confirm</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<!--	to make fail pwg -->
		<form action="fail" method="post" name="fail_pwg">
			{% csrf_token %}
			<input type="hidden" id="fail_pwg_value" name="fail_pwg_value">
		</form>

    	<!--	to make pwg passed -->
		<form action="pass_pwg" method="post" name="pass_pwg">
			{% csrf_token %}
			<input type="hidden" id="pass_pwg_value" name="pass_pwg_value">
		</form>

			<!--	to start chat to a single user -->
	<form action="chat" method="post" name="single_chat">
		{% csrf_token %}
		<input type="hidden" id="chatting_to" name="email_user">
	</form>


		<script src="{% static 'js/mark_read.js' %}"></script>
		<script type="text/javascript">
			var clicks = 0;
			var next_pass = 0;

			function randomText(length) {
				   var result           = '';
				   var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789(){}[]+-/*^_@#$%!&';
				   var charactersLength = characters.length;
				   for ( var i = 0; i < length; i++ ) {
					  result += characters.charAt(Math.floor(Math.random() * charactersLength));
				   }
				   return result;
			}

		// Shorthand for $( document ).ready()
		$(function() {
			setTimeout(function(){
				$("#msg").removeClass('bg-light');
				$("#msg").html('');
			}, 4000);
			{% if messages %}
			$("#msg").addClass('bg-light');
			{% endif %}
			$("#msg").html('{% for msg in messages %}<h3 class="text-danger">{{msg}}</h3>{% endfor %}');
		});


			function setNextPassValue(pwg_name){
					if(next_pass == 1){
						$("#password").html("The "+next_pass+"<sup>st</sup> Password");
					} else if(next_pass == 2){
						$("#password").html("The "+next_pass+"<sup>nd</sup> Password");
					} else if (next_pass == 3){
						$("#password").html("The "+next_pass+"<sup>rd</sup> Password");
					} else{
						$("#password").html("The "+next_pass+"<sup>th</sup> Password");
					}
					next_pass += 1
			}

			$(function(){
				$('#yourButton').click(function(){

					var btn = $(this);
					btn.html("Next Password");
					$('#randomText').html(randomText(15));
					btn.prop('disabled',true);
					window.setTimeout(function(){
						btn.prop('disabled',false);
					},10000);

					//fetching search bar's value
					pwg_name = $("#myInput").val();

					//displaying password section and text on the top
					//$("#password").css("display","block");
					//$("#randomText").css("display","block");

					setNextPassValue(pwg_name);

					if(next_pass > 3){
						$('#pass_pwg').prop('disabled',false);
						$('#pass').html('<a class="btn btn-success text-white my-2 mx-2"  onclick="myfun2()" id="pass_pwg">Pass</a>');
					}
					$('#fail_button').prop('disabled',false);
				});
			});



				// search filter table
				$(document).ready(function(){
					$("#myInput").on("keyup", function() {
						var value = $(this).val().toLowerCase();
						$("#myTable li").filter(function() {
							$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
						});
					});
				});


		//for pass button
		function myfun2(){
		    var pwg_id = $('#myInput').attr('data-content');
			var pwg_name = $('#myInput').val();
			$('#pass_pwg_value').attr('value', pwg_id);
			$('#confirm-message-delete').html('Are you sure you want to Pass this '+pwg_name);
			$('#confirm-modal-button').attr('onclick', 'send_pass_pwg()');

			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
	        $('#imagemodalConfirm').modal('show');

		}

		//for fail button
		function myfun3(){
			var pwg_id = $('#myInput').attr('data-content');
			var pwg_name = $('#myInput').val();
			$('#fail_pwg_value').attr('value', pwg_id);
			$('#confirm-message-delete').html('Are you sure you want to fail this '+pwg_name);
			$('#confirm-modal-button').attr('onclick', 'send_fail_pwg()');

			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
	        $('#imagemodalConfirm').modal('show');

		}

        // to submit fail form
        function send_fail_pwg(){
            document.forms['fail_pwg'].submit();
        }

        // to submit pass form
        function send_pass_pwg(){
            document.forms['pass_pwg'].submit();
        }

		function select_pwg(value, id_pwg){

			//displaying the buttons block
			$('#buttons').css("display", "flex");

			//resetting the value of next_pass, use to enable pass button
			$('#pass').html('<button class="nav-link btn-info btn text-white btn-sm my-2"  onclick="myfun2()" id="pass_pwg">Pass</button>');
			$('#pass_pwg').prop('disabled',true);
			next_pass = 0;


			//resetting Next Password password to get Password
			$('#yourButton').html("Get Password");

			//resetting Password field to empty
			$('#randomText').html("xxxxxxxxxx");
			$('#randomText').css("padding","0.5rem 1.4rem");


			$("#yourButton").removeAttr("disabled");
			$('#myInput').attr("value", value);
			$('#myInput').attr("data-content", id_pwg);

			//checking prev one button's value to set warning
			text = document.getElementById("first_next").innerHTML;
			if("Prev One" != text.slice(-8)){
				$('#left_next').html('<button type="button" id="last_prev" class="btn btn-primary" onclick="left_next()"><i class="fas fa-chevron-left"></i> Prev One</button>');
			}

			//checking Next button's value to set warning
				text = document.getElementById("last_prev").innerHTML;
				if("Next" != text.slice(-4)){
					$('#right_next').html('<button type="button" class="btn btn-primary" onclick="right_next()" id="first_next"><i class="fas fa-chevron-right"></i> Next</button>');
				}

			//making selected PWG highlighted and de-highlighted
			list = document.getElementById('myTable').getElementsByTagName("li");


			for(i=0;i<list.length;i++){
				if( value == list[i].innerHTML.trim()){
					id_name = list[i].getAttribute('id');

					$('#'+id_name).addClass("selected_pwg");
				} else{
					id_name = list[i].getAttribute('id');

					$('#'+id_name).removeClass("selected_pwg");
				}
			}

			//making password available when it got selected
			setNextPassValue(value);

		}


		function right_next(){
			//resetting the value of next_pass, use to enable pass button
			$('#pass').html('<button class="btn btn-info text-white my-2 mx-2"  onclick="myfun2()" id="pass_pwg">Pass</button>');
			$('#pass_pwg').attr('disabled','true');
			next_pass = 0;


			//resetting Next Password password to get Password
			$('#yourButton').html("Get Password");


			//resetting Password field to empty
			$('#randomText').html("xxxxxxxxxx");
			$('#randomText').css("padding","0.5rem 1.4rem");

			//displaying the buttons block
			$('#buttons').css("display", "flex");

			//enabling next password button to get next password
			$("#yourButton").removeAttr("disabled");

			//checking prev one button's value to set warning
			text = document.getElementById("first_next").innerHTML;
				if("Prev One" != text.slice(-8)){
					$('#left_next').html('<button type="button" id="last_prev" class="btn btn-primary" onclick="left_next()"><i class="fas fa-chevron-left"></i> Prev One</button>');
				}

			//checking Selected PWG's value to set pwg according
			text = $("#myInput").val();

			//fetching ul's li values
			list = document.getElementById('myTable').getElementsByTagName("li");
			var first_data_content = list[0]['attributes']['data-content']['value'];
			var len = list.length;

			//for the first time it will set pwg name using global click var
			if(text == ""){
				$("#myInput").attr("value", list[clicks].innerHTML.trim());
				$("#myInput").attr("data-content", first_data_content);


				//showing password when it got selected
				setNextPassValue(list[clicks].innerHTML);

				clicks += 1;

				//Highlighting selected PWG
				id_name = list[0].getAttribute('id');
				$('#'+id_name).addClass("selected_pwg");

			}else{
				//making selected PWG de-highlighted
				id_name = list[0].getAttribute('id');
				$('#'+id_name).removeClass("selected_pwg");
				for(i=0;i<len;i++){
					if(text == list[i].innerHTML.trim()){
						if(i+1 < len-1){
							text = list[i+1].innerHTML.trim();
							var onward_data_content = list[i+1]['attributes']['data-content']['value'];
							$("#myInput").attr("value",text);
							$("#myInput").attr("data-content", onward_data_content);

							//showing password when it got selected
							//$('#randomText').html(randomText(15));
							setNextPassValue(list[i+1].innerHTML.trim());
							break;
						} else{
							$('#right_next').html('<button type="button" class="btn btn-info" id="first_next">Next</button>');
						}
					}
				}
			}

			//making selected PWG highlighted and de-highlighted

			for(i=1;i<len;i++){
				if( text == list[i].innerHTML.trim()){
					id_name = list[i].getAttribute('id');
					$('#'+id_name).addClass("selected_pwg");
				} else{
					id_name = list[i].getAttribute('id');
					$('#'+id_name).removeClass("selected_pwg");
				}
			}
		}


		function left_next(){
				//resetting the value of next_pass, use to enable pass button
				$('#pass').html('<button class="btn btn-info text-white my-2 mx-2"  onclick="myfun2()" id="pass_pwg">Pass</button>');
				$('#pass_pwg').attr('disabled',"true");
				next_pass = 0;


				//resetting Next Password  to get Password
				$('#yourButton').html("Get Password");

				//resetting Password field to empty
				$('#randomText').html("xxxxxxxxxx");


				//enabling next password button to get next password
				$("#yourButton").removeAttr("disabled");


				//checking Next button's value to set warning
				text = document.getElementById("last_prev").innerHTML;
				if("Next" != text.slice(-4)){
					$('#right_next').html('<button type="button" class="btn btn-primary" onclick="right_next()" id="first_next"><i class="fas fa-chevron-right"></i> Next</button>');
				}

				//checking Selected PWG's value to set pwg according
				text = $("#myInput").val();

				//fetching ul's li values
				list = document.getElementById('myTable').getElementsByTagName("li");
				var len = list.length;


				//for the first time it will set warning using text
				if(text == ""){
					$('#left_next').html('<button type="button" class="btn btn-info" id="last_prev">Prev One</button>');
				}else{
					for(i=0;i<len;i++){
						if(text == list[i].innerHTML.trim()){
							if(i-1 >= 0){
								//displaying the buttons block
								$('#buttons').css("display", "flex");

								text = list[i-1].innerHTML.trim();
								var data_content = list[i-1]['attributes']['data-content']['value'];
								$("#myInput").attr("value", text);
								$("#myInput").attr("data-content", data_content);

								//showing password when it got selected
								setNextPassValue(list[i-1].innerHTML.trim());
								break;
							}else{
								$('#left_next').html('<button type="button" class="btn btn-info" id="last_prev">Prev One</button>');
								break;
							}
						}
					}
				}

				//making selected PWG highlighted and de-highlighted
				for(i=0;i<len;i++){
					if( text == list[i].innerHTML.trim()){
						id_name = list[i].getAttribute('id');
						$('#'+id_name).addClass("selected_pwg");
					} else{
						id_name = list[i].getAttribute('id');
						$('#'+id_name).removeClass("selected_pwg");
					}
				}
		}

		//to chat a single user
		function custom_chat(email){
			$('#chatting_to').attr('value', email);
			document.forms['single_chat'].submit();
		}
	</script>
</body>
</html>
