{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Tester | Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'tester/css/tester-home.css' %}" />

  </head>
  <body>
    <section class="bg-light">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item pl-3">
                <a class="nav-link active" href="tester-home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item pl-3">
                <a class="nav-link" href="tester-test">Test</a>
              </li>
             </ul>
          </div>

          <a class="navbar-brand pr-3" href="#" style="color: green; font-size: 30px; position: relative;">
            <i class="fas fa-bell"></i><span class="badge badge-danger" style="position: absolute; top: -5px; font-size: 14px; left: 15px;">1</span>
          </a>

          <div class="dropdown dropleft float-xl-right mb-0" id="pwg-off" style="display:none;">
            <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" >
              <a class="dropdown-item" href="#">Chat With Admin</a>
              <a class="dropdown-item" href="#">Get Payment from Admin</a>
              {% if user.is_authenticated %}
              <a class="dropdown-item" href="logout">Logout</a>
              {% else %}
              <a class="dropdown-item" href="/">Exit</a>
              {% endif %}
            </div>
          </div>

          <div class="dropdown dropleft float-xl-right mb-0" id="pwg-on" style="display:none">
            <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Chat With Admin</a>
              <a class="dropdown-item" href="#">Get Payment from Admin</a>
              <a class="dropdown-item" href="#" onclick="retest_pwg_multiple();">Retest</a>
              <a class="dropdown-item" href="#" onclick="return_pwg_tested();">Return PWG to Admin</a>
              {% if user.is_authenticated %}
              <a class="dropdown-item" href="logout">Logout</a>
              {% else %}
              <a class="dropdown-item" href="/">Exit</a>
              {% endif %}
            </div>
          </div>

          <div class="dropdown dropleft float-xl-right mb-0" id="pwg-on-untested">
            <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" onclick="return_pwg_untested();">Return PWG to Admin</a>
              <a class="dropdown-item" href="#">Chat With Admin</a>
              <a class="dropdown-item" href="#">Get Payment from Admin</a>
              {% if user.is_authenticated %}
              <a class="dropdown-item" href="logout">Logout</a>
              {% else %}
              <a class="dropdown-item" href="/">Exit</a>
              {% endif %}
            </div>
          </div>
        </nav>
      </div>
    </section>

    <section class="bg-detail">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-10 py-5 px-5">
            <div class="row justify-content-center bg-button-2 p-xl-4 mt-3" id="div-3">
              <div class="col-md-8 com-md-6" id="div-7">
                <header class="pb-4">
                  <nav class="navbar navbar-light venue-registration">
                    <a class="h4 text-dark font-weight-bold pt-2" id="heading">PWG List</a>
                    <form class="form-inline">
                      <div class="input-group-prepend mr-2">
                        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search fa-1x"></i></span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" id="myInput" />
                      </div>

                    </form>
                  </nav>

                  <div class="pb-3 pl-3">
                    <div class="form-check form-check-inline">
                      <button type="button" class="btn btn-primary onClick" style="border-radius:20px;" id="tested-button" onclick="tested_faulty()"> Tested </button>
                    </div>
                    <div class="form-check form-check-inline">
                        <button type="button" class="btn btn-primary" id="untested-button" style="border-radius:20px;" onclick="untested()"> Untested </button>
                    </div>
                  </div>

                  <div class="pb-3 pl-3" id="tested-faulty" style="display: none;">
                    <div class="form-check form-check-inline">
                      <input type="radio" onclick="tested()" name="inlineRadioOption" style="cursor: pointer;" checked>
                      <label class="form-check-label label-font" for="inlineRadio1"> Tested Good</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOption" id="inlineRadio2" value="option2" onclick="faulty()" style="cursor: pointer;" />
                      <label class="form-check-label label-font" for="inlineRadio2"> Tested Faulty</label>
                    </div>
                  </div>
                </header>

                <div id="tested" style="display:none;">
                  <div class="accordion" id="accordionExample myTable">
                    <div class="row px-2 big-screen-table-header">
                      <div class="col-2">
                        <h5>Select</h5>
                      </div>
                      <div class="col-6 pl-2">
                        <h5 class="pl-3">Name</h5>
                      </div>
                      <div class="col-3 pl-2">
                        <h5 class="pl-3">Action</h5>
                      </div>
                    </div>

                    <div class="row px-2 small-screen-table-header">
                      <div class="col-2">
                        <h5>Select</h5>
                      </div>
                      <div class="col-5 pl-2">
                        <h5 class="pl-3">Name</h5>
                      </div>

                      <div class="col-3 pl-2">
                        <h5 class="pl-3">Action</h5>
                      </div>
                    </div>
                    {% for pwgs in pwgs_tested_good%}
                      {% with count=forloop.counter %}
					  {% if count == 1 %}
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn" type="button" data-toggle="collapse">
                            <input type="checkbox" id="checkAllTested{{count}}"  disabled="" />
                            <span class="pwg-list">{{pwgs.alias}}</span>
                          </button>
                          <i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="myFunction(this)" style="position: absolute; top: 31px; font-size: 18px; cursor:pointer;"></i>
                        </h2>
                      </div>

                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      {% elif count == 2 %}
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn" type="button" data-toggle="collapse">
                            <input type="checkbox" id="checkAllTested{{count}}" disabled="" />
                            <span class="pwg-list">{{pwgs.alias}}</span>
                          </button>
                          <i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onclick="myFunction(this)" style="position: absolute; top: 31px; font-size: 18px; cursor:pointer;"></i>
                        </h2>
                      </div>

                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

                      {% elif count == 3 %}
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn" type="button" data-toggle="collapse">
                            <input type="checkbox" id="checkAllTested{{count}}" disabled="" />
                            <span class="pwg-list">{{pwgs.alias}}</span>
                          </button>
                          <i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" onclick="myFunction(this)" style="position: absolute; top: 31px; font-size: 18px; cursor:pointer;"></i>
                        </h2>
                      </div>

                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      {% endif %}

                        <div class="card-body px-xl-5">
                          <table class="table table-borderless">
                            <tbody>
                            {% for pwg in pwg_obj %}
                              {% if pwgs.id == pwg.owned_by.id %}
                                {% if pwg.is_tested_good %}
                              <tr>
                                <td>
                                  <input type="checkbox" class="pwg_tested{{count}}"  name="floatingButtonHere" disabled=""  value="{{pwg.id}}"/> {{pwg.alias}}
                                </td>

                                <td>
                                  <div class="dropdown mb-0 ml-xl-3 ml-sm-2">
                                    <button class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
                                      <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu menu-left-align">
                                      <a class="dropdown-item" href="#" onclick="testingHistory({{pwg.id}});"> History</a>
                                      <a class="dropdown-item" href="#" onclick="retest_pwg({{pwg.id}})"> Retest</a>
                                      <a class="dropdown-item" href="#" onclick="return_pwg({{pwg.id}}, '{{pwg.alias}}');"> Return to Admin</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                      {% endwith %}
                    {% endfor %}
                  </div>
                </div>


                <div id="faulty" style="display:none;">
                  <div class="accordion" id="accordionExample myTable">
                    <div class="row px-2 big-screen-table-header">
                      <div class="col-2">
                        <h5>Select</h5>
                      </div>
                      <div class="col-6 pl-2">
                        <h5 class="pl-3">Name</h5>
                      </div>

                      <div class="col-3 pl-2">
                        <h5 class="pl-3">Action</h5>
                      </div>
                    </div>

                    <div class="row px-2 small-screen-table-header">
                      <div class="col-2">
                        <h5>Select</h5>
                      </div>
                      <div class="col-5 pl-2">
                        <h5 class="pl-3">Name</h5>
                      </div>

                      <div class="col-3 pl-2">
                        <h5 class="pl-3">Action</h5>
                      </div>
                    </div>
                    {% for pwgs in pwgs_tested_faulty %}
                      {% with count=forloop.counter %}
					    {% if count == 1 %}
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn" type="button" data-toggle="collapse">
                            <input type="checkbox" id="checkAllFaulty{{count}}" disabled="" /><span class="pwg-list">{{pwgs.alias}}</span></button>
                          <i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="myFunction(this)" style="position: absolute; top: 31px; font-size: 18px; cursor:pointer;"></i>
                        </h2>
                      </div>

                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">

                    {% elif count == 2 %}
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn" type="button" data-toggle="collapse">
                            <input type="checkbox" id="checkAllFaulty{{count}}" disabled="" /><span class="pwg-list">{{pwgs.alias}}</span></button>
                          <i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onclick="myFunction(this)" style="position: absolute; top: 31px; font-size: 18px; cursor:pointer;"></i>
                        </h2>
                      </div>

                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

                    {% elif count == 3 %}
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn" type="button" data-toggle="collapse">
                            <input type="checkbox" id="checkAllFaulty{{count}}" disabled="" /><span class="pwg-list">{{pwgs.alias}}</span></button>
                          <i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" onclick="myFunction(this)" style="position: absolute; top: 31px; font-size: 18px; cursor:pointer;"></i>
                        </h2>
                      </div>

                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    {% endif %}

                        <div class="card-body px-xl-5">
                          <table class="table table-borderless">
                            <tbody>
                            {% for pwg in pwg_obj %}
                              {% if pwgs.id == pwg.owned_by.id %}
                                {% if pwg.is_tested_faulty %}
                              <tr>
                                <td>
                                  <input type="checkbox" class="pwg_faulty{{count}}" name="floatingButtonHere" value="{{pwg.id}}" disabled="" /> {{pwg.alias}}
                                </td>

                                <td>
                                  <div class="dropdown mb-0 ml-xl-3 ml-sm-2">
                                    <button class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
                                      <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu menu-left-align">
                                      <a class="dropdown-item" href="#" onclick="testingHistory({{pwg.id}});"> History</a>
                                      <a class="dropdown-item" href="#" onclick="return_pwg({{pwg.id}}, '{{pwg.alias}}');"> Return to Admin</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                      {% endwith %}
                    {% endfor %}
                  </div>
                </div>


                <div id="untested">
                  <div class="accordion" id="accordionExample">
                    <div class="row px-2">
                      <div class="col-2">
                        <h5>Select</h5>
                      </div>
                      <div class="col-6 pl-2">
                        <h5 class="pl-3">Name</h5>
                      </div>

                      <div class="col-3 pl-2">
                        <h5 class="pl-3">Action</h5>
                      </div>
                    </div>
                    {% for pwgs in pwgs_untested %}
                      {% with count=forloop.counter %}
					    {% if count == 1 %}
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn" type="button" data-toggle="collapse">
                            <input type="checkbox" id="checkAllUntested{{count}}" disabled="" />
                            <span class="pwg-list">{{pwgs.alias}}</span>
                          </button>
                          <i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="myFunction(this)" style="position: absolute; top: 31px; font-size: 18px; cursor:pointer;"></i>
                        </h2>
                      </div>

                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">

                    {% elif count == 2 %}
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn" type="button" data-toggle="collapse">
                            <input type="checkbox" id="checkAllUntested{{count}}" disabled="" />
                            <span class="pwg-list">{{pwgs.alias}}</span>
                          </button>
                          <i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onclick="myFunction(this)" style="position: absolute; top: 31px; font-size: 18px; cursor:pointer;"></i>
                        </h2>
                      </div>

                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

                      {% elif count == 3 %}
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn" type="button" data-toggle="collapse">
                            <input type="checkbox" id="checkAllUntested{{count}}" disabled="" />
                            <span class="pwg-list">{{pwgs.alias}}</span>
                          </button>
                          <i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" onclick="myFunction(this)" style="position: absolute; top: 31px; font-size: 18px; cursor:pointer;"></i>
                        </h2>
                      </div>

                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    {% endif %}
                        <div class="card-body px-xl-5">
                          <table class="table table-borderless">
                            <tbody>
                            {% for pwg in pwg_obj %}
                              {% if pwgs.id == pwg.owned_by.id %}
                                {% if not pwg.is_tested %}
                              <tr>
                                <td>
                                  <input type="checkbox" class="pwg_untested{{count}}" name="floatingButtonHere" disabled="" value="{{pwg.id}}"/> {{pwg.alias}}
                                </td>
                                <td>
                                  <div class="dropup mb-0 ml-xl-3 ml-sm-2">
                                    <button class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
                                      <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                     <a class="dropdown-item" href="#" onclick="testingHistory({{pwg.id}});"> History</a>
                                      <a class="dropdown-item" href="#" onclick="return_pwg({{pwg.id}}, '{{pwg.alias}}');"> Return to Admin</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                      {% endwith %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


<!--for showing history of pwg-->
<div class="modal fade" id="imagemodalHistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold" id="modal_title">Testing History</h5>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>
          <div class="modal-body" id="modal_body_history">
					<h6 class="font-weight-bold"><span><i class="fas fa-caret-right"></i></span> Number Of Times Tested</h6>
					<p id="tested_count">3 times</p>

                    <h6 class="font-weight-bold"><span><i class="fas fa-caret-right"></i></span> When Tested</h6>
					<p id="tested_on">on 08/10/2020 at 5:30 pm</p>

                    <h6 class="font-weight-bold"><span><i class="fas fa-caret-right"></i></span> Get from Admin</h6>
					<p id="get_from_admin">on 01/10/2020 at 3:30 pm</p>


          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>


<!--for confirmation of multiple operations-->
<div class="modal fade" id="imagemodal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Confirmation of PWG</h5>
				<a href="" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
			</div>
			<div class="modal-body text-center p-4">
				<i class="fa fa-question-circle fa-3x" style="color: #bd2130;" id="confirm-message-color"></i>
				<p class="pt-2 font-weight-bold" id="confirm-message-delete"></p>

			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-primary" id="confirm-modal-button">Confirm</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
		  	</div>
		</div>
	</div>
</div>


    <section class="floatingButtonHere" style="display: none;" id="button-floating-1">
      <a href="#" class=" btn btn-primary" onclick="confirm_popup()" id="proceed_button">Proceed</a>
      <a href="tester-home" class=" btn btn-danger">Cancel</a>
    </section>


  <!--	to return back PWG and PWGS -->
	<form action="getback_pwgs" method="post" name="getback">
		{% csrf_token %}
		<input type="hidden" id="assign_values" name="values">
		<input type="hidden"  name="user_pk" value="{{request.user.id}}">
		<input type="hidden"  name="accType" value="tester-home">
	</form>

  <!--	to return back PWG and PWGS -->
	<form action="retest" method="post" name="retest">
		{% csrf_token %}
		<input type="hidden" id="retest_values" name="values">
		<input type="hidden"  name="accType" value="tester-home">
	</form>


    <script type="text/javascript">
      // global variable
      var checkbox_values = [];
      // search filter table
      $(document).ready(function () {
        $("#myInput").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
          });
        });
      });


      function vanish(){
        window.location.href = "tester-home";
      }
      // division hide/show js


      function tested_faulty() {
        $('#tested-button').addClass('btn-primary');
        $('#tested-button').removeClass('onClick');
        $('#untested-button').removeClass('btn-primary');
        $('#untested-button').addClass('onClick');
        document.getElementById("tested-faulty").style.display = "block";
        document.getElementById("faulty").style.display = "none";
        document.getElementById("untested").style.display = "none";
        document.getElementById("pwg-on").style.display = "block";
        document.getElementById("pwg-on-untested").style.display = "none";
        document.getElementById("pwg-off").style.display = "none";
        document.getElementById("tested").style.display = "block";

      }


      function faulty() {
        document.getElementById("faulty").style.display = "block";

        document.getElementById("pwg-on").style.display = "none";

        document.getElementById("pwg-off").style.display = "block";
        document.getElementById("pwg-on-untested").style.display = "none";
        document.getElementById("untested").style.display = "none";

        document.getElementById("tested").style.display = "none";

      }


      function tested() {
        document.getElementById("untested").style.display = "none";

        document.getElementById("pwg-on").style.display = "block";
        document.getElementById("pwg-off").style.display = "none";
        document.getElementById("pwg-on-untested").style.display = "none";

        document.getElementById("faulty").style.display = "none";
        document.getElementById("tested").style.display = "block";
      }

      function untested() {
        $('#untested-button').addClass('btn-primary');
        $('#untested-button').removeClass('onClick');
        $('#tested-button').removeClass('btn-primary');
        $('#tested-button').addClass('onClick');
        document.getElementById("tested-faulty").style.display = "none";

        document.getElementById("pwg-on-untested").style.display = "block";
        document.getElementById("pwg-on").style.display = "none";
        document.getElementById("pwg-off").style.display = "none";

        document.getElementById("faulty").style.display = "none";
        document.getElementById("untested").style.display = "block";
        document.getElementById("tested").style.display = "none";

      }

      function myFunction(x) {
        x.classList.toggle("fa-sort-down");
      }

      // return pwg to admin
      function return_pwg_untested(){
        {% for i in pwgs_untested %}
        $("#checkAllUntested{{forloop.counter}}").attr("disabled", false);
        $(".pwg_untested{{forloop.counter}}").attr("disabled", false);
        {% endfor %}
        $("#proceed_button").attr("onclick","confirm_popup()");
      }

      // for  retest of multiple pwg
      function retest_pwg_multiple(){
          {% for pwgs in pwgs_tested_good %}
            $("#checkAllTested{{forloop.counter}}").attr("disabled", false);
            $(".pwg_tested{{forloop.counter}}").attr("disabled", false);
          {% endfor %}
          $("#proceed_button").attr("onclick","confirm_popup_retest()");
      }

      function return_pwg_tested(){
        {% for i in pwgs_tested_good %}
          $("#checkAllTested{{forloop.counter}}").attr("disabled", false);
          $(".pwg_tested{{forloop.counter}}").attr("disabled", false);
        {% endfor %}
        {% for i in pwgs_tested_faulty %}
          $("#checkAllFaulty{{forloop.counter}}").attr("disabled", false);
          $(".pwg_faulty{{forloop.counter}}").attr("disabled", false);
        {% endfor %}

        $("#proceed_button").attr("onclick","confirm_popup()");
      }

      // to remove all occurrence of the element
      function removeItemAll(value) {
            var i = 0;
            while (i < checkbox_values.length) {
                  if (checkbox_values[i] === value) {
                    checkbox_values.splice(i, 1);
                  } else {
                    ++i;
                  }
            }
      }

      // for selecting child elements of accordion of untested
	   {% for i in pwgs_untested %}
		$('#checkAllUntested{{forloop.counter}}').click(function () {

			var ele = $(".pwg_untested{{forloop.counter}}");
			if ($("#checkAllUntested{{forloop.counter}}").is(':checked')) {
				$(".pwg_untested{{forloop.counter}}").prop("checked", true);
				for(i=0;i<ele.length;i++){
					checkbox_values.push(ele[i].value);
				}
			}else{
				$(".pwg_untested{{forloop.counter}}").prop("checked", false);
				for(i=0;i<ele.length;i++){
					removeItemAll(ele[i].value);
				}
			}

			if( checkbox_values.length == 0){
				$(".floatingButtonHere").hide();
			}else{
				$(".floatingButtonHere").show(150);
			}
		});
		{% endfor %}


        // for selecting child elements of accordion of tested faulty
	   {% for i in pwgs_tested_faulty %}
		$('#checkAllFaulty{{forloop.counter}}').click(function () {

			var ele = $(".pwg_faulty{{forloop.counter}}");
			if ($("#checkAllFaulty{{forloop.counter}}").is(':checked')) {
				$(".pwg_faulty{{forloop.counter}}").prop("checked", true);
				for(i=0;i<ele.length;i++){
					checkbox_values.push(ele[i].value);
				}
			}else{
				$(".pwg_faulty{{forloop.counter}}").prop("checked", false);
				for(i=0;i<ele.length;i++){
					removeItemAll(ele[i].value);
				}
			}

			if( checkbox_values.length == 0){
				$(".floatingButtonHere").hide();
			}else{
				$(".floatingButtonHere").show(150);
			}
		});
		{% endfor %}

        // for selecting child elements of accordion of tested good
	   {% for i in pwgs_tested_good %}
		$('#checkAllTested{{forloop.counter}}').click(function () {

			var ele = $(".pwg_tested{{forloop.counter}}");
			if ($("#checkAllTested{{forloop.counter}}").is(':checked')) {
				$(".pwg_tested{{forloop.counter}}").prop("checked", true);
				for(i=0;i<ele.length;i++){
					checkbox_values.push(ele[i].value);
				}
			}else{
				$(".pwg_tested{{forloop.counter}}").prop("checked", false);
				for(i=0;i<ele.length;i++){
					removeItemAll(ele[i].value);
				}
			}

			if( checkbox_values.length == 0){
				$(".floatingButtonHere").hide();
			}else{
				$(".floatingButtonHere").show(150);
			}
		});
		{% endfor %}

		$('input[type="checkbox"]').click(function(){
          if($(this).attr("name")=="floatingButtonHere"){
              if($(this).is(':checked')){
                  checkbox_values.push($(this).val());
              }else{
                  removeItemAll($(this).val());
              }
          }
          if( checkbox_values.length == 0){
              $(".floatingButtonHere").hide();
          }else{
              $(".floatingButtonHere").show(150);
          }
          console.log(checkbox_values);
      });

      //for return to admin confirmation
      function confirm_popup(){
        $("#assign_values").attr("value", checkbox_values);
        if(checkbox_values.length == 1){
          $("#confirm-message-delete").html("Return "+checkbox_values.length+" PWG to Admin");
        }else{
          $("#confirm-message-delete").html("Return "+checkbox_values.length+" PWGs to Admin");
        }
        $("#confirm-modal-button").attr("onclick", 'returnPWG()');


        $(".imagepreview").attr("src", $(this).find("img").attr("src"));
        $("#imagemodal1").modal("show");
      }

      //to return for retest of PWGs
      function confirm_popup_retest(){
        $("#retest_values").attr("value", checkbox_values);

        if(checkbox_values.length == 1){
          $("#confirm-message-delete").html("Send "+checkbox_values.length+" PWG for retesting");
        }else{
          $("#confirm-message-delete").html("Send "+checkbox_values.length+" PWGs for retesting");
        }
        $("#confirm-modal-button").attr("onclick", 'retest_multiple_pwg()');


        $(".imagepreview").attr("src", $(this).find("img").attr("src"));
        $("#imagemodal1").modal("show");
      }


      // for submitting getback form
      function returnPWG(){
        document.forms['getback'].submit();
      }

     //to popup testing history
    function testingHistory(pk){
            // GET AJAX request
            $.ajax({
                type: 'GET',
                url: "testing_history",
                data: {"pk": pk},
                success: function (response) {
                    // if not valid user, alert the user
                    $('#modal_title').html("Testing History of PWG");

                    if(response["history"] == false){
                        $('#modal_body_history').html('<div class="h4">No testing history to show</div>');
                    }else{
                        var text = '';
                        var count = 0;

                        for(i=0;i<response.length;i++){
                            var date = response[i]['fields']['date'];
                            var time = response[i]['fields']['time'];
                            var got_on = response[i]['fields']['got_on'];
                            got_on = got_on.replace("T", " at ");
                            got_on = got_on.replace("Z", " ");
                            got_on = got_on.slice(0,-4);
                            count = count + 1;
                            $("#tested_on").html("on "+date+" at "+time.slice(0,-(time.length-5)));
                            $("#get_from_admin").html("on "+got_on);

                        }
                        $("#tested_count").html(count+" times");

                    }

                $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                $('#imagemodalHistory').modal('show');
                },
                error: function (response) {
                    console.log(response)
                }
            })
    }

    //to return pwq to admin
    function return_pwg(pk, pwg_name){
       $('#assign_values').attr('value', pk);

       $("#confirm-modal-button").attr("onclick", 'returnPWG()');
       $("#confirm-message-delete").html("Are you sure to return "+pwg_name+" to Admin");

       $(".imagepreview").attr("src", $(this).find("img").attr("src"));
       $("#imagemodal1").modal("show");
    }

    // to retest the tested PWG (single)
    function retest_pwg(pk){
      $("#retest_values").attr("value", pk);
      document.forms['retest'].submit();
    }

    // to retest the tested PWG (multiple)
    function retest_multiple_pwg(){
      document.forms['retest'].submit();
    }
    </script>
  </body>
</html>
