{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Seller | Home</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	

	<!-- fontawesome cdn -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'seller/css/seller-home.css' %}">

</head>
<body>
	<section class="bg-light">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light ">
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item pl-3">
							<a class="nav-link active"  href="seller-home">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link " href="seller-user">User</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link" href="seller-pwg">PWG</a>
						</li>
					</ul>
					
				</div>

				{% include 'notification.html' %}

				<div class="dropdown  dropleft float-xl-right mb-0" >
					<button  class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#" onclick="myfun()">Broadcast</a>
						<a class="dropdown-item" href="#change-passward" onclick="myfun3()">Change Password</a>
						<a class="dropdown-item" href="#" onclick="custom_chat('max')">Chat To Admin</a>
						<a class="dropdown-item" href="#login-history" onclick="myfun1()">Login History</a>
						<a class="dropdown-item" href="#password-history" onclick="myfun2()">Password History</a>
						<a class="dropdown-item" href="#" onclick="myfun4()">Set Alias</a>
						<a class="dropdown-item" href="#Statics" onclick="myfun()">Statistics</a>
						{% if user.is_authenticated %}
						<a class="dropdown-item" href="logout">Log Out</a>
						{%else%}
						<a class="dropdown-item" href="/">Exit</a>
						{% endif %}
					</div>
				</div>
			</nav>
		</div>
	</section>

	<section class="bg-detail">
		<div class="container-fluid">
			<div class="row justify-content-center ">
<!--				 for showing error and messages-->
				<div class="col-md-10 py-2 px-5 mt-3" id="msg">

				</div>
				<div class="col-md-10 py-2 px-5">
					<div class="row justify-content-center bg-button-1 p-4 my-5" id="Statics">
						<div class="col-md">
							<h4 class="">statistics</h4>
							<div class="row">
								<div class="col-md">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">Account Name</th>
													<th scope="col">Total Number</th>
													<th scope="col">Online Number</th>
													<th scope="col">Offline Number</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">PWGs</th>
													<td>{{pwgs}}</td>
													<td>{{pwgs}}</td>
													<td>0</td>
												</tr>

												<tr>
													<th scope="row">User</th>
													<td>{{seller.user_count}}</td>
													<td>{{user_online}}</td>
													<td>{{user_offline}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row justify-content-center bg-button-1 p-4 my-5" id="login-history" style="display: none;">

						<div class="col-md">
							<h4 class="">Login History</h4>
							<div class="row">
								<div class="col-md-6 py-3">
									<h6 class="font-weight-bold"><span><i class="fas fa-caret-right"></i></span> Number Of times Admin Been Logged in </h6>
									<p>{{history_count}} times</p>
								</div>
								<div class="col-md-6 ">
									<div class="float-right">
										<a href="seller-home"><button type="button" class="btn btn-secondary">Return</button></a>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md">
									<h6 class="font-weight-bold"> <span><i class="fas fa-caret-right"></i></span> Login History</h6>
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">Sr. No.</th>
													<th scope="col">Date</th>
													<th scope="col">Time</th>
													<th scope="col">Device Name</th>
													<th scope="col">Login IP Address</th>

												</tr>
											</thead>
											<tbody>
												{% for admin_history in history %}
												<tr>
													<th scope="row">{{forloop.counter}}</th>
													<td>{{admin_history.login_date}}</td>
													<td>{{admin_history.login_time|time:"H:i"}}</td>
													<td>{{admin_history.device_name}}</td>
													<td>{{admin_history.login_IP}}</td>
												</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

					</div>



					<div class="row justify-content-center bg-button-1 p-4 mt-3 mb-3" id="alias" style="display: none;">
						<div class="col-md">
							<h4 class="font-weight-bold"> Set Alias</h4>
							<div class="row">
								<div class="col-md-6 py-3">
									<form action="change_alias" method="post" name="alias_form">
										{% csrf_token %}
										<label for="" class="set_alias_error"></label>
									  <div class="form-group">
									    <input type="text" class="form-control" placeholder="Enter Alias " id="alias_name" required name="alias">
									  </div>
									  <div class="form-group">
									     <input type="text" class="form-control" placeholder="Confirm Alias " id="alias_name_conf" required name="alias_conf">
									  </div>
										<input type="hidden" name="alias_id" value="{{request.user.id}}">
										<input type="hidden" name="accType" value="seller">
									<button class="btn btn-success" type="button" onclick="check_alias()">Submit</button>
									<a href="seller-home" class="btn btn-secondary">Cancel</a>
									</form>
								</div>


							</div>
						</div>

					</div>

					<div class="row justify-content-center bg-button-1 p-4 my-5" id="change-passward" style="display: none;">

						<div class="col-md">
							<h4 class="">Change Password<span class="float-right"></span></h4>
							<div class="row ">
								<div class="col-md-8 py-3">
									<h6 class="font-weight-bold"> <span><i class="fas fa-caret-right"></i></span> Change Your Current Password </h6>
									<form action="password_change" method="post">
										{% csrf_token %}
										<label id="add-new-msg"></label>

										<div class="form-group"><div class="row">
										  <div class="col-md-6">
									   		 <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter your old Password" name="old_password" required id="old-password">
										  </div>
									  </div></div>
									  <div class="form-group"><div class="row">
										  <div class="col-md-6">
									     	<input type="password" class="form-control"  placeholder="Enter New Password " name="new_password" required id="new-password" value="" title="Password should include One Capital letter, any character from it ! @ # $ % ^ & * ( ) _ - = { } < > ? and atleast 8 characters">
										  </div>
										  <div class="col-md-2 mt-2 ml-n3">
										  <span data-toggle="tooltip" data-placement="right" title="Password should include One Capital letter, any character from this ! @ # $ % ^ & * ( ) _ - = { } < > ? and at least 8 characters">
											  <i class="fa fa-question danger" aria-hidden="true" style="color:red;"></i>
										  </span>
										  </div>
										  <div class="col-md-2 mt-2 ml-n5">
										  	<span id="check"></span>
										  </div>
									  </div></div>

									  <div class="form-group"><div class="row">
										  <div class="col-md-6">
									     <input type="password" class="form-control"  placeholder="Confirm New Password " name="new_conf_password" required id="conf-password" value="" title="Password should include One Capital letter, any character from it ! @ # $ % ^ & * ( ) _ - = { } < > ? and atleast 8 characters">
										  </div>
										  <div class="col-md-2 ml-n3 mt-2"></div>
										  <div class="col-md-2 mt-2 ml-n5">
										  <span id="cross"></span>
										  </div>
									  </div></div>

										<input type="hidden" name="accType" value="seller">
									<button class="btn btn-success" type="submit" disabled id="add-new-submit-button">Proceed</button>
									<a href="seller-home" class="btn-secondary btn " type="button">Cancel</a>
									</form>
								</div>
							</div>
						</div>

					</div>

					<div class="row justify-content-center bg-button-1 p-4 my-5" id="password-history" style="display: none;">

						<div class="col-md">
							<div class="row">
								<div class="col-md-6">
									<h4 class=""> Password HISTORY</h4>
								</div>
								<div class="col-md-6">
										<div class="float-right">
											<a href="seller-home"><button type="button" class="btn btn-secondary">Return</button></a>
										</div>
								</div>
							</div>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Sr. No.</th>
											<th scope="col">Date</th>
											<th scope="col">Time</th>
											<th scope="col">Device Name</th>
											<th scope="col">Last Password</th>
										</tr>
									</thead>
									<tbody>
										{% for history in password_history %}
											<tr>
												<th scope="row">{{forloop.counter}}</th>
												<td>{{history.login_date}}</td>
												<td>{{history.login_time|time:"H:i"}}</td>
												<td>{{history.device_name}}</td>
												<td>
													<input type="password" value="{{history.last_pass}}" disabled style="background-color: white;border: none" id="{{forloop.counter}}">
													<span  ondblclick="show_password('{{forloop.counter}}');" onmouseleave="hide_password('{{forloop.counter}}');" title="double click to show password" id="fa{{forloop.counter}}">                                -0
														<i class="fa fa-eye" aria-hidden="true"></i>
													</span>
												</td>
											</tr>
                                    	{% endfor %}
									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--	to start chat to a single user -->
	<form action="chat" method="post" name="single_chat">
		{% csrf_token %}
		<input type="hidden" id="chatting_to" name="email_user">
	</form>

	<script type="text/javascript">
		// for change password input tag
		$('#new-password').on('change', function(){
			var new_pass = $(this).val();
			var conf_pass = $('#conf-password').val();

			var len_alphab = new_pass.match(/[a-z]/g);
			if(!len_alphab){
				 len_alphab = 0;
			}else{
				var len_alphab = new_pass.match(/[a-z]/g).length;
			}
			var len_Cap_alphab = new_pass.match(/[A-Z]/g);
			if(!len_Cap_alphab){
				 len_Cap_alphab = 0;
			}else{
				var len_Cap_alphab = new_pass.match(/[A-Z]/g).length;
			}
			var len_digit = new_pass.match(/[0-9]/g);
			if(!len_digit){
				 len_digit = 0;
			}else{
				var len_digit = new_pass.match(/[0-9]/g).length;
			}
			var len_symbols = new_pass.match(/[!,@,#,$,%,^,&,*,(,),_,-,=,{,},<,>,?]/g);
			if(!len_symbols){
				 len_symbols = 0;
			}else{
				var len_symbols = new_pass.match(/[!,@,#,$,%,^,&,*,(,),_,-,=,{,},<,>,?]/g).length;
			}


			if( conf_pass == "" && new_pass == ""){}else{
				if(new_pass.length >=8 && len_alphab >=1 && len_Cap_alphab >=1 && len_digit >=1 && len_symbols >=1){

					if($('#new-password').val() == $('#conf-password').val()){
						$("#check").html('<i class="fa fa-2x fa-check" aria-hidden="true" style="color:green;"></i>');
						$("#cross").html('<i class="fa fa-2x fa-check" aria-hidden="true" style="color:green;"></i>');
						$("#add-new-submit-button").attr("disabled", false);
					}else{
						$("#check").html('<i class="fa fa-2x fa-check" aria-hidden="true" style="color:green;"></i>');
						$("#add-new-submit-button").attr("disabled", true);
						$('[data-toggle="tooltip"]').tooltip();
					}
				}else{
					$("#check").html('<i class="fa fa-2x fa-times" aria-hidden="true" style="color:#e02828;"></i>');
					$("#add-new-submit-button").attr("disabled", true);
					$('[data-toggle="tooltip"]').tooltip();
				}
			}

		});

		//for confirm input tag
		$('#conf-password').on('change', function(){
			var conf_pass = $(this).val();
			var new_pass = $('#new-password').val();

			var len_alphab = conf_pass.match(/[a-z]/g);
			if(!len_alphab){
				 len_alphab = 0;
			}else{
				var len_alphab = conf_pass.match(/[a-z]/g).length;
			}
			var len_Cap_alphab = conf_pass.match(/[A-Z]/g);
			if(!len_Cap_alphab){
				 len_Cap_alphab = 0;
			}else{
				var len_Cap_alphab = conf_pass.match(/[A-Z]/g).length;
			}
			var len_digit = conf_pass.match(/[0-9]/g);
			if(!len_digit){
				 len_digit = 0;
			}else{
				var len_digit = conf_pass.match(/[0-9]/g).length;
			}
			var len_symbols = conf_pass.match(/[!,@,#,$,%,^,&,*,(,),_,-,=,{,},<,>,?]/g);
			if(!len_symbols){
				 len_symbols = 0;
			}else{
				var len_symbols = conf_pass.match(/[!,@,#,$,%,^,&,*,(,),_,-,=,{,},<,>,?]/g).length;
			}


			if( conf_pass == "" && new_pass == ""){}else{
				if(conf_pass.length >=8 && len_alphab >=1 && len_Cap_alphab >=1 && len_digit >=1 && len_symbols >=1){

					if($('#new-password').val() == $('#conf-password').val()){
						$("#check").html('<i class="fa fa-2x fa-check" aria-hidden="true" style="color:green;"></i>');
						$("#cross").html('<i class="fa fa-2x fa-check" aria-hidden="true" style="color:green;"></i>');
						$("#add-new-submit-button").attr("disabled", false);
					}else{
						$("#cross").html('<i class="fa fa-2x fa-check" aria-hidden="true" style="color:green;"></i>');
						$("#add-new-submit-button").attr("disabled", true);
						$('[data-toggle="tooltip"]').tooltip();
					}

				}else{
					$("#cross").html('<i class="fa fa-2x fa-times" aria-hidden="true" style="color:#e02828;"></i>');
					$("#add-new-submit-button").attr("disabled", true);
					$('[data-toggle="tooltip"]').tooltip();
				}
			}

		});



		// Shorthand for $( document ).ready()
		$(function() {
			setTimeout(function(){
				$("#msg").removeClass('bg-light');
				$("#msg").html('');
			}, 4000);
			{% if messages %}
			$("#msg").addClass('bg-light');
			{% endif %}
			$("#msg").html('{% for msg in messages %}<h3 class="text-danger">{{msg}}</h3>{% endfor %}');
		});
		// statistics
		function myfun(){
			document.getElementById("Statics").style.display="block";
			document.getElementById("change-passward").style.display="none";
			document.getElementById("login-history").style.display="none";
			document.getElementById("password-history").style.display="none";
			document.getElementById("alias").style.display="none";
		}
		// login history
		function myfun1(){
			document.getElementById("login-history").style.display="block";
			document.getElementById("change-passward").style.display="none";
			document.getElementById("Statics").style.display="none";
			document.getElementById("password-history").style.display="none";
			document.getElementById("alias").style.display="none";
		}
		// change password
		function myfun3(){
			document.getElementById("login-history").style.display="none";
			document.getElementById("change-passward").style.display="block";
			document.getElementById("password-history").style.display="none";
			document.getElementById("Statics").style.display="none";
			document.getElementById("alias").style.display="none";
		}
		// password history
		function myfun2(){
			document.getElementById("password-history").style.display="block";
			document.getElementById("change-passward").style.display="none";
			document.getElementById("login-history").style.display="none";
			document.getElementById("Statics").style.display="none";
			document.getElementById("alias").style.display="none";
		}

		//set alias
		function myfun4(){
			document.getElementById("login-history").style.display="none";
			document.getElementById("change-passward").style.display="none";
			document.getElementById("alias").style.display="block";
			document.getElementById("password-history").style.display="none";
			document.getElementById("Statics").style.display="none";
		}


		// for last password toggle
		function show_password(id){
			$("#"+id).attr("type", "text");
			$("#fa"+id).html('<i class="fa fa-eye-slash" aria-hidden="true"></i>');
		}

		function hide_password(id){
			$("#"+id).attr("type", "password");
			$("#fa"+id).html('<i class="fa fa-eye" aria-hidden="true"></i>');
		}

		function check_alias(){
			var name_conf = $("#alias_name_conf").val();
			var name = $("#alias_name").val();
			if( name == name_conf ){
				document.forms['alias_form'].submit();
			}else{
				$(".set_alias_error").html("Alias name does not match, try again!");
				$(".set_alias_error").addClass('text-danger');
			}

		}


		//to chat a single user
		function custom_chat(email){
			$('#chatting_to').attr('value', email);
			document.forms['single_chat'].submit();
		}
	</script>


</body>
</html>