{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Seller | PWG</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

	<!-- fontawesome cdn -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'seller/css/seller-pwg.css' %}">

</head>
<body>
	<section class="bg-light">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light ">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item pl-3">
							<a class="nav-link "  href="seller-home">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link " href="seller-user">User</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link active" href="seller-pwg">PWG</a>
						</li>

					</ul>
					
				</div>


				{% include 'notification.html' %}

				<div class="dropdown  dropleft float-xl-right mb-0"  id="occupied-batch">
					<button  class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#" onclick="occupied_authorize('authorize();');"> Authorize </a>
						<a class="dropdown-item" href="#" onclick="occupied_authorize('share();');"> Share</a>
						<a class="dropdown-item" href="seller-home">Exit</a>
					</div>
				</div>

				<div class="dropdown  dropleft float-xl-right mb-0"  id="unoccupied-batch" style="display: none;">
					<button  class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-ellipsis-v"></i>
					</button>

					<div class="dropdown-menu">
						<a class="dropdown-item" href="#" onclick="">Transfer</a>
						<a class="dropdown-item" href="#" onclick="unoccupied_authorize('authorize()');"> Authorize </a>
						<a class="dropdown-item" href="#" onclick="unoccupied_authorize('share()');">Share</a>
						<a class="dropdown-item" href="#" onclick="unoccupied_authorize('return_pwg()');">Return to Admin</a>
						<a class="dropdown-item" href="seller-home">Exit</a>
					</div>
				</div>
			</nav>
		</div>
	</section>

	<section class="bg-detail">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-md-10  py-5 px-5">
					<div class="row justify-content-center bg-button-2 p-xl-4 mt-3" id="div-3">
						<div class="col-md" id="div-7">
							<header class="pb-4">
								<nav class="navbar navbar-light  venue-registration">
									<a class="h4 text-dark font-weight-bold pt-2" id="heading">PWG Account List</a>
									<form class="form-inline">
										<div class="input-group-prepend  mr-2">
											<span class="input-group-text" id="addon-wrapping"><i class="fas fa-search fa-1x"></i></span>
											<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" id="myInput">
										</div>
									</form>
								</nav>

								<div class="pb-3 pl-3">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked onclick="occupied()" style="cursor: pointer;">
										<label class="form-check-label" for="inlineRadio1" >Occupied</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" onclick="unoccupied()" style="cursor: pointer;">
										<label class="form-check-label" for="inlineRadio2" >Unoccupied</label>
									</div>
								</div>
							</header>

							<div id="occupied">
								<div class="accordion" id="accordionExample">
									<div class="row px-2 big-screen-table-header">
										<div class="col-2">
											<h5>Select</h5>
										</div>
										<div class="col-5 pl-2">
											<h5 class="pl-3">Name</h5>
										</div>

										<div class="col-2 pl-2">
											<h5 class="pl-3">Status</h5>
										</div>

										<div class="col-2 pl-2 display-none">
											<h5 class="pl-3">Action</h5>
										</div>
									</div>

									<div class="row px-2 small-screen-table-header">
										<div class="col-2">
											<h5>Select</h5>
										</div>
										<div class="col-4 pl-2">
											<h5 class="pl-3">Name</h5>
										</div>

										<div class="col-2 pl-2">
											<h5 class="pl-3">Status</h5>
										</div>

										<div class="col-2 pl-2 display-none">
											<h5 class="pl-3">Action</h5>
										</div>
									</div>
									{% for pwgs in pwgserver_occupied %}
									{% with count=forloop.counter %}
									{% if count == 1 %}
									<div class="card">
										<div class="card-header" id="headingOne">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="checkAll{{count}}"  disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">

											{% elif count == 2 %}
										<div class="card">
										<div class="card-header" id="headingTwo">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="checkAll{{count}}" disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

											{% elif count == 3 %}
										<div class="card">
										<div class="card-header" id="headingThree">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="checkAll{{count}}"  disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

											{% elif count == 4 %}
										<div class="card">
										<div class="card-header" id="headingFour">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="checkAll{{count}}"  disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">

											{% elif count == 5 %}
										<div class="card">
										<div class="card-header" id="headingFive">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="checkAll{{count}}" disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
										{% endif %}
											<div class="card-body px-xl-5">
												<table class="table table-borderless">
													<tbody>
													{% for item in pwg %}
														{% if pwgs.id == item.owned_by.id %}
														{% if item.is_shared or item.is_authorized or item.sold_from != None %}
														<tr>
															{% if item.sold_from != None  %}
																<td><a href="#"><input type="checkbox" name="floatingButtonHere" value="{{item.id}}" disabled=""> {{item.alias}}</a></td>
																<td data-toggle="tooltip" title="{{item.alias}} is assigned to User {{item.sold_from}}">NA</td>

															{% elif item.is_shared %}
																<td><a href="#"><input type="checkbox" name="floatingButtonHere" value="{{item.id}}" disabled="" class="pwg{{count}}"> {{item.alias}}</a></td>
																<td>DS</td>

															{% elif item.is_authorized %}
																<td><a href="#"><input type="checkbox" name="floatingButtonHere" value="{{item.id}}" disabled="" class="pwg{{count}}"> {{item.alias}}</a></td>
																<td>DA</td>
															{% endif %}

															<td class="display-none">
																<div class="dropdown  mb-0 ml-xl-3  ml-sm-2" >
																	<button  class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
																		<i class="fas fa-ellipsis-v"></i>
																	</button>
																	<div class="dropdown-menu menu-left-align">
																		{% if item.sold_from == None %}
																		<a class="dropdown-item" href="#" onclick="send_authorize({{item.id}});">Authorize</a>
																		{% if item.is_shared %}
																		<a class="dropdown-item" href="#" onclick="send_deshare({{item.id}});">De-Share</a>
																		{% else %}
																		<a class="dropdown-item" href="#" onclick="send_share({{item.id}});">Share</a>
																		{% endif %}
																		<a class="dropdown-item" href="#" onclick="pop1({{item.id}}, '{{item.alias}}')">History</a>
																		<a class="dropdown-item" href="#" onclick="delete_seller_user({{item.pk}});">Delete</a>
																		{% else %}
																		<a class="dropdown-item" href="#" onclick="pop1({{item.pk}}, '{{item.alias}}');">History</a>
																		{% endif %}
																	</div>
																</div>
															</td>
														</tr>
														{% endif %}
														{% endif %}
													{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
									{% endwith %}
									{% endfor %}
								</div>
							</div>



							<div id="unoccupied" style="display: none;">
								<div class="accordion" id="accordionExample">
									<div class="row px-2">
														<div class="col-2">
															<h5>Select</h5>
														</div>
														<div class="col-5 pl-2">
															<h5 class="pl-3">Name</h5>
														</div>

														<div class="col-3 pl-2 display-none">
															<h5 class="pl-3">Action</h5>
														</div>
													</div>
									{% for pwgs in pwgserver_unoccupied %}
									{% with count=forloop.counter %}
									{% if count == 1 %}
									<div class="card">
										<div class="card-header" id="headingOne">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="uncheckAll{{count}}"  disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">

											{% elif count == 2 %}
									<div class="card">
										<div class="card-header" id="headingTwo">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="uncheckAll{{count}}" disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

											{% elif count == 3 %}
									<div class="card">
										<div class="card-header" id="headingThree">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="uncheckAll{{count}}"  disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

											{% elif count == 4 %}
									<div class="card">
										<div class="card-header" id="headingFour">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="uncheckAll{{count}}" disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">

											{% elif count == 5 %}
									<div class="card">
										<div class="card-header" id="headingFive">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="uncheckAll{{count}}"  disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
										{% endif %}
											<div class="card-body px-xl-5">
												<table class="table table-borderless">
													<tbody>
													{% for item in pwg %}
														{% if pwgs.id == item.owned_by.id %}
														{% if not item.is_shared or not item.is_authorized %}
														{% if item.sold_from == None or item.sold_from == "elahi" %}

														<tr>
															<td><input type="checkbox" name="floatingButtonHere" value="{{item.id}}" disabled="" class="unpwg{{count}}">  {{item.alias}}</td>

															<td class="display-none">
																<a href="#" class="btn btn-primary btn-light btn-sm" onclick="transfer_pwg({{item.id}})">Transfer</a>
																<div class="dropdown  mb-0 ml-xl-3  ml-sm-2" >
																	<button  class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
																				<i class="fas fa-ellipsis-v"></i>
																			</button>
																	<div class="dropdown-menu">
																		<a class="dropdown-item" href="#" onclick="send_authorize({{item.id}});">Authorize</a>
																		<a class="dropdown-item" href="#" onclick="send_share({{item.id}});">Share</a>
																		<a class="dropdown-item pop1" href="#">History</a>
																		<a class="dropdown-item" href="#" onclick="delete_seller_user({{item.pk}});">Delete</a>
																	</div>
																</div>
															</td>
														</tr>
														{% endif %}
														{% endif %}
														{% endif %}
													{% endfor %}

													</tbody>
												</table>
											</div>
										</div>
									</div>
									{% endwith %}
									{% endfor %}
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

<!--for confirmation of multiple operations-->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Confirmation of PWG</h5>
				<a href="" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
			</div>
			<div class="modal-body text-center p-4">
				<i class="fa fa-question-circle fa-3x" style="color: #bd2130;" id="confirm-message-color"></i>
				<p class="pt-2 font-weight-bold" id="confirm-message-delete"></p>

			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-primary" id="confirm-modal-button">Confirm</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
		  	</div>
		</div>
	</div>
</div>


<!--	to show confirmation popup of single delete-->
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Message</h5>
				<a href="" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
			</div>
			<div class="modal-body text-center p-4">
				<i class="fas fa-check-circle fa-3x" style="color: green;" id="confirm-message-color"></i>
				<p class="pt-2 font-weight-bold" id="confirm-message"></p>

			</div>

		</div>
	</div>
</div>

<!--to display history of pwg-->
<div class="modal fade" id="imagemodal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title font-weight-bold" id="pwg-history-title"></h5>
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				</div>
				<div class="modal-body" id="modal-body-history">
					<div class="tabl-responsive">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Action</th>
									<th scope="col">Date & Time</th>
									<th scope="col">Objects</th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Authorize</th>
									<td>20/06/2020 & 08:00 Pm</td>
									<td>Naqui</td>
								</tr>

								<tr>
									<th scope="row">Transfer</th>
									<td>24/06/2020 & 07:00 Pm</td>
									<td>Faiz</td>
								</tr>

								<tr>
									<th scope="row">Share</th>
									<td>27/06/2020 & 05:00 Pm</td>
									<td>Jenifer<span><div class="dropdown">
										<button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: relative;">
											<i class="fas fa-sort-down" style="position: absolute;top: 0px; left: 0px;"></i>
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item">Jack</a>
											<a class="dropdown-item">Michael</a>
											<a class="dropdown-item">Nazia</a>
										</div>
									</div></span></td>
								</tr>

								<tr>
									<th scope="row">Buy From Admin</th>
									<td>30/06/2020 & 12:00 Pm</td>
									<td>Admin</td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			</div>
			</div>
		</div>
	</div>

	<section class="floatingButtonHere" style="display: none;" id="button-floating-1">
		<button class=" btn btn-primary" id="proceed">Proceed</button>
		<a href="seller-pwg" class=" btn btn-danger">Cancel</a>
	</section>

<!--	for authorization-->
	<form action="seller-authorized-pwg" method="post" name="send-authorize-pwg-ids">
		{% csrf_token %}
		<input type="hidden" id="authorize_pwg" name="pwg_ids">
	</form>

<!--	for share-->
	<form action="seller-shared-pwg" method="post" name="send-share-pwg-ids">
		{% csrf_token %}
		<input type="hidden" id="share_pwg" name="pwg_ids">
	</form>

	<!--	for de-share-->
	<form action="seller-deshared-pwg" method="post" name="send-deshare-pwg-ids">
		{% csrf_token %}
		<input type="hidden" id="deshare_pwg" name="pwg_ids">
	</form>

	<!--	for returning PWG to Admin-->
	<form action="return-pwg" method="post" name="return-pwg-ids">
		{% csrf_token %}
		<input type="hidden" id="return_pwg" name="pwg_ids">
		<input type="hidden" value="seller" name="accType">
	</form>

    <!--	for transfer-->
	<form action="transfer-seller-pwg" method="post" name="send-transfer-pwg-ids">
		{% csrf_token %}
		<input type="hidden" id="transfer_pwg" name="pwg_ids">
	</form>

<script type="text/javascript">
	// global variables
	var checkbox_values = []
	// to send primary key of single PWG for authorization
	function send_authorize(id){
		$("#authorize_pwg").attr('value',id);
		document.forms['send-authorize-pwg-ids'].submit();
	}

	// to send primary key of single PWG for sharification
	function send_share(id){
		$("#share_pwg").attr('value',id);
		document.forms['send-share-pwg-ids'].submit();
	}

	// to send primary key of single PWG to deshare
	function send_deshare(id){
		$("#deshare_pwg").attr('value',id);
		document.forms['send-deshare-pwg-ids'].submit();
	}

	// to send primary key of single PWG to transfer to user
	function transfer_pwg(id){
		$("#transfer_pwg").attr('value',id);
		document.forms['send-transfer-pwg-ids'].submit();
	}

      // search filter table
      $(document).ready(function () {
        $("#myInput").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
          });
        });
      });



      function occupied() {
        document.getElementById("unoccupied").style.display = "none";
        document.getElementById("occupied").style.display = "block";
        document.getElementById("unoccupied-batch").style.display = "none";
        document.getElementById("occupied-batch").style.display = "block";
      }

      function unoccupied() {
        document.getElementById("unoccupied").style.display = "block";
        document.getElementById("unoccupied-batch").style.display = "block";
        document.getElementById("occupied-batch").style.display = "none";
        document.getElementById("occupied").style.display = "none";
      }


      function myFunction(x) {
        x.classList.toggle("fa-sort-down");
      }

      function delete_seller_user(pk){
      	$.ajax({
            type: 'GET',
            url: "delete_temp",
            data: {"pk": pk, "accType": "pwg"},
            success: function (response) {
                    if(response['msg'] == false){
                        $("#confirm-message").html("Something went wrong, Try again");
                        $("#confirm-message-color").css("color","red");
                    }else{
                        $("#confirm-message").html(response['msg']);
                        $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                        $('#imagemodal1').modal('show');
                    }
                    window.setTimeout(function(){
                        location.reload(true);
                    }, 2000);

            },
            error: function (response) {
                console.log(response)
            }
        })
      }



    // for occupied authorization and share
	function occupied_authorize(func_name){
		{% for i in pwgserver_occupied %}
			$("#checkAll{{forloop.counter}}").attr("disabled", false);
			$(".pwg{{forloop.counter}}").attr("disabled", false);
		{% endfor %}
		$("#proceed").attr('onclick', func_name);

		$("#proceed").attr('disabled', true);
		$(".floatingButtonHere").show(150);
	}

	// for unoccupied authorization, share, and for return to admin
	function unoccupied_authorize(func_name){
		{% for i in pwgserver_unoccupied %}
			$("#uncheckAll{{forloop.counter}}").attr("disabled", false);
			$(".unpwg{{forloop.counter}}").attr("disabled", false);
		{% endfor %}
		$("#proceed").attr('onclick', func_name);

		$("#proceed").attr('disabled', true);
		$(".floatingButtonHere").show(150);
	}

	// to remove all occurrence of the element
	function removeItemAll(value) {
		  var i = 0;
		  while (i < checkbox_values.length) {
				if (checkbox_values[i] === value) {
				  checkbox_values.splice(i, 1);
				} else {
				  ++i;
				}
		  }
	}


	// for selecting child elements of accordion of unoccupied
	{% for i in pwgserver_unoccupied %}
		$('#uncheckAll{{forloop.counter}}').click(function () {

			var ele = $(".unpwg{{forloop.counter}}");
			if ($("#uncheckAll{{forloop.counter}}").is(':checked')) {
				$(".unpwg{{forloop.counter}}").prop("checked", true);
				for(i=0;i<ele.length;i++){
					checkbox_values.push(ele[i].value);
				}
			}else{
				$(".unpwg{{forloop.counter}}").prop("checked", false);
				for(i=0;i<ele.length;i++){
					removeItemAll(ele[i].value);
				}
			}

			if( checkbox_values.length == 0){
				$("#proceed").attr('disabled', true);
			}else{
				$("#proceed").attr('disabled', false);
			}
		});
		{% endfor %}

		// for selecting child checkboxes of occupied pwgs
		{% for i in pwgserver_occupied %}
		$('#checkAll{{forloop.counter}}').click(function () {

			var ele = $(".pwg{{forloop.counter}}");
			if ($("#checkAll{{forloop.counter}}").is(':checked')) {
				$(".pwg{{forloop.counter}}").prop("checked", true);
				for(i=0;i<ele.length;i++){
					checkbox_values.push(ele[i].value);
				}
			}else{
				$(".pwg{{forloop.counter}}").prop("checked", false);
				for(i=0;i<ele.length;i++){
					removeItemAll(ele[i].value);
				}
			}

			if( checkbox_values.length == 0){
				$("#proceed").attr('disabled', true);
			}else{
				$("#proceed").attr('disabled', false);
			}
		});
		{% endfor %}

		$('input[type="checkbox"]').click(function(){
		if($(this).attr("name")=="floatingButtonHere"){
			if($(this).is(':checked')){
				checkbox_values.push($(this).val());
			}else{
				removeItemAll($(this).val());
			}
		}
		if( checkbox_values.length == 0){
			$("#proceed").attr('disabled', true);
		}else{
			$("#proceed").attr('disabled', false);
		}
		console.log(checkbox_values);
	});

	// function to authorize pwgs
	function authorize(){
		checkbox_values = [...new Set(checkbox_values)];
		if(checkbox_values.length == 1){
			$("#confirm-message-delete").html("Authorize the selected "+checkbox_values.length+" PWG");
		}else{
			$("#confirm-message-delete").html("Authorize the selected "+checkbox_values.length+" PWGs");
		}
		$("#confirm-modal-button").attr('onclick','send_pwg_pk_authorize();');
		$(".imagepreview").attr("src", $(this).find("img").attr("src"));
        $("#imagemodal").modal("show");
	}
	// function to share pwgs
	function share(){
		checkbox_values = [...new Set(checkbox_values)];
		if(checkbox_values.length == 1){
			$("#confirm-message-delete").html("Share the selected "+checkbox_values.length+" PWG");
		}else{
			$("#confirm-message-delete").html("Share the selected "+checkbox_values.length+" PWGs");
		}
		$("#confirm-modal-button").attr('onclick','send_pwg_pk_share();');
		$(".imagepreview").attr("src", $(this).find("img").attr("src"));
        $("#imagemodal").modal("show");
	}

	// function to return PWG to Admin
	function return_pwg(){
		checkbox_values = [...new Set(checkbox_values)];
		if(checkbox_values.length == 1){
			$("#confirm-message-delete").html("Return the selected "+checkbox_values.length+" PWG to Admin");
		}else{
			$("#confirm-message-delete").html("Return the selected "+checkbox_values.length+" PWGs to Admin");
		}
		$("#confirm-modal-button").attr('onclick','return_pwg_pk();');
		$(".imagepreview").attr("src", $(this).find("img").attr("src"));
        $("#imagemodal").modal("show");
	}

	// function to send pk to share pwg
	function send_pwg_pk_share(){
		$("#share_pwg").attr("value", checkbox_values);
		document.forms['send-share-pwg-ids'].submit();
	}

	// function to send pk to authorize pwg
	function send_pwg_pk_authorize(){
		$("#authorize_pwg").attr("value", checkbox_values);
		document.forms['send-authorize-pwg-ids'].submit();
	}
	// function to return PWG to Admin
	function return_pwg_pk(){
		$("#return_pwg").attr("value", checkbox_values);
		document.forms['return-pwg-ids'].submit();
	}
	//for history
	function pop1(pk, name){
		$("#pwg-history-title").html("History of PWG "+name);
		$.ajax({
            type: 'GET',
            url: "validate_nickname",
            data: {"pk": pk, "accType": "seller-pwg"},
            success: function (response) {
                // if not valid user, alert the user

                if(response["history"] == false){
                    $('#modal-body-history').html('<div class="h4">No login history to show</div>');
                }else{
                var obj = []
                var text = '';
                var last_action = [];
                var action_sequence = [];
                    for(i=0;i<response.length;i++){
                        var date = response[i]['fields']['date'];
                        var time = response[i]['fields']['time'];
                        var action = response[i]['fields']['action'];


                        if( action == "A"){
                        	action = "Authorize";}
                        else if( action == "S"){
                        	action = "Share";}
                        else if( action == "T"){
                        	action = "Transfer";}
                        else if( action == "DA"){
                        	action = " De-authorize";}
                        else if( action == "DS"){
                        	action = " De-share";}
                        else if( action == "D"){
                        	action = " Deleted";}
                        else if( action == "AD"){
                        	action = "Buy From Admin";}

						if(last_action.indexOf(action) == -1){
							last_action.push(action);
							obj.push(response[i]['fields']['object']);
						}else{
							last_action.push(action);
							obj.push(response[i]['fields']['object']);
							continue;
						}

                        text += '<tr><td>'+action+'</td><td>'+date+' & '+time.slice(0,-(time.length-5))+'</td><td id="'+i+'"></td>';

                    }
                    $('#modal-body-history').html('<div class="table-responsive"><table class="table"><thead><tr><th scope="col">Action</th><th scope="col">Date & Time</th><th scope="col">Objects</th></tr></thead><tbody>'+text+'</tbody></table></div>');

                	get_name(last_action, obj);
                }

			//$('.imagepreview').attr('src', $(this).find('img').attr('src'));
			//$('#imagemodal1').modal('show');
            },
            error: function (response) {
                console.log(response)
            }
        })
    }


    //function to get the name of the objects
    function get_name(actions, objects){
    	$.ajax({
            type: 'GET',
            url: "find_username",
            dataType: "json",
            traditional: true,
            data: {'pk[]': objects, "accType": "seller-history"},
            success: function (response) {
                // if not valid user
                if(response["msg"] == false){
                }else{
                	var obj_name = response['msg'];
                	var text = '';
                	var flag = false;
                	for(i=0;i<actions.length;i++){
						for(j=i;j<actions.length;j++){
                			if(actions[i] == actions[j]){
                				if(!flag){
									flag = true;
									var name = obj_name[i];
                				}else{
                					text += '<a class="dropdown-item">'+obj_name[j]+'</a>';
                				}
                			}
                		}
                		console.log("i= "+i+" name = "+name+" text = "+text)
                		if(text != ""){
							$("#"+i).html(name+'<span><div class="dropdown"><button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: relative;"><i class="fas fa-sort-down" style="position: absolute;top: 0px; left: 0px;"></i></button><div class="dropdown-menu" aria-labelledby="dropdownMenuButton">'+text+'</div></div></span>');
							text = '';
						}else{
							$("#"+i).html(name);
						}
						flag = false;

                	}

                }

			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
			$('#imagemodal1').modal('show');
            },
            error: function (response) {
                console.log(response)
            }
        })
    }

</script>

</body>
</html>