{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Seller | PWG</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

	<!-- fontawesome cdn -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'seller/css/seller-pwg.css' %}">

</head>
<body>
	<section class="bg-light">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light ">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item pl-3">
							<a class="nav-link "  href="seller-home">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link " href="seller-user">User</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link active" href="seller-pwg">PWG</a>
						</li>

					</ul>
					
				</div>


				<a class="navbar-brand pr-3" href="#" style="color: green; font-size: 30px; position: relative;"><i class="fas fa-bell "></i><span class="badge badge-danger" style="position: absolute; top: -5px; font-size: 14px; left:15px; ">1</span></a>

				<div class="dropdown  dropleft float-xl-right mb-0"  id="occupied-batch">
					<button  class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#" onclick="authorize();"> Authorize </a>
						<a class="dropdown-item" href="#" onclick="share();"> Share</a>
						<a class="dropdown-item" href="seller-home" >Exit</a>
					</div>
				</div>

				<div class="dropdown  dropleft float-xl-right mb-0"  id="unoccupied-batch" style="display: none;">
					<button  class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-ellipsis-v"></i>
					</button>

					<div class="dropdown-menu">
						<a class="dropdown-item" href="#" onclick="transfer();">Transfer</a>
						<a class="dropdown-item" href="#" onclick="authorize1();"> Authorize </a>
						<a class="dropdown-item" href="#" onclick="share1();">Share</a>
						<a class="dropdown-item" href="#" onclick="returnAdmin();">Return to Admin</a>
						<a class="dropdown-item" href="seller-home">Exit</a>
					</div>
				</div>
			</nav>
		</div>
	</section>

	<section class="bg-detail">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-md-10  py-5 px-5">
					<div class="row justify-content-center bg-button-2 p-xl-4 mt-3" id="div-3">
						<div class="col-md" id="div-7">
							<header class="pb-4">
								<nav class="navbar navbar-light  venue-registration">
									<a class="h4 text-dark font-weight-bold pt-2" id="heading">PWG Account List</a>
									<form class="form-inline">
										<div class="input-group-prepend  mr-2">
											<span class="input-group-text" id="addon-wrapping"><i class="fas fa-search fa-1x"></i></span>
											<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" id="myInput">
										</div>
									</form>
								</nav>

								<div class="pb-3 pl-3">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked onclick="occupied()" style="cursor: pointer;">
										<label class="form-check-label" for="inlineRadio1" >Occupied</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" onclick="unoccupied()" style="cursor: pointer;">
										<label class="form-check-label" for="inlineRadio2" >Unoccupied</label>
									</div>
								</div>
							</header>

							<div id="occupied">
								<div class="accordion" id="accordionExample">
									<div class="row px-2 big-screen-table-header">
										<div class="col-2">
											<h5>Select</h5>
										</div>
										<div class="col-5 pl-2">
											<h5 class="pl-3">Name</h5>
										</div>

										<div class="col-2 pl-2">
											<h5 class="pl-3">Status</h5>
										</div>

										<div class="col-2 pl-2 display-none">
											<h5 class="pl-3">Action</h5>
										</div>
									</div>

									<div class="row px-2 small-screen-table-header">
										<div class="col-2">
											<h5>Select</h5>
										</div>
										<div class="col-4 pl-2">
											<h5 class="pl-3">Name</h5>
										</div>

										<div class="col-2 pl-2">
											<h5 class="pl-3">Status</h5>
										</div>

										<div class="col-2 pl-2 display-none">
											<h5 class="pl-3">Action</h5>
										</div>
									</div>
									{% for pwgs in pwgserver_occupied %}
									{% with count=forloop.counter %}
									{% if count == 1 %}
									<div class="card">
										<div class="card-header" id="headingOne">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="checkAll{{forloop.counter}}"  name="floatingButtonHere" disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">

											{% elif count == 2 %}
										<div class="card">
										<div class="card-header" id="headingTwo">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="checkAll{{forloop.counter}}"  name="floatingButtonHere" disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

											{% elif count == 3 %}
										<div class="card">
										<div class="card-header" id="headingThree">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="checkAll{{forloop.counter}}"  name="floatingButtonHere" disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

											{% elif count == 4 %}
										<div class="card">
										<div class="card-header" id="headingFour">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="checkAll{{forloop.counter}}"  name="floatingButtonHere" disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">

											{% elif count == 5 %}
										<div class="card">
										<div class="card-header" id="headingFive">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="checkAll{{forloop.counter}}"  name="floatingButtonHere" disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
										{% endif %}
											<div class="card-body px-xl-5">
												<table class="table table-borderless">
													<tbody>
													{% for item in pwg %}
														{% if pwgs.id == item.owned_by.id %}
														<tr>
															<td><a href="#"><input type="checkbox" name="floatingButtonHere" value="{{item.id}}" disabled="" class="pwg{{count}}"> {{item.alias}}</a></td>
															{% if item.is_shared %}
															<td>DS</td>

															{% elif item.is_authorized %}
															<td>DA</td>

															{% endif %}
															<td class="display-none">
																<div class="dropdown  mb-0 ml-xl-3  ml-sm-2" >
																	<button  class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
																				<i class="fas fa-ellipsis-v"></i>
																			</button>
																	<div class="dropdown-menu menu-left-align">
																		{% if item.is_shared or item.is_authorized %}
																		<a class="dropdown-item" href="#" onclick="send_authorize({{item.id}});">Authorize</a>
																		<a class="dropdown-item" href="#" onclick="send_share({{item.id}});">Share</a>
																		<a class="dropdown-item" href="#" onclick="send_deshare({{item.id}});">De-Share</a>
																		<a class="dropdown-item pop1" href="#">History</a>
																		<a class="dropdown-item" href="" >Delete</a>
																		{% else %}
																		<a class="dropdown-item pop1" href="#">History</a>
																		{% endif %}
																	</div>
																</div>
															</td>
														</tr>
														{% endif %}
													{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
									{% endwith %}
									{% endfor %}
								</div>
							</div>



							<div id="unoccupied" style="display: none;">
								<div class="accordion" id="accordionExample">
									<div class="row px-2">
														<div class="col-2">
															<h5>Select</h5>
														</div>
														<div class="col-5 pl-2">
															<h5 class="pl-3">Name</h5>
														</div>

														<div class="col-3 pl-2 display-none">
															<h5 class="pl-3">Action</h5>
														</div>
													</div>
									{% for pwgs in pwgserver_unoccupied %}
									{% with count=forloop.counter %}
									{% if count == 1 %}
									<div class="card">
										<div class="card-header" id="headingOne">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="checkAll{{forloop.counter}}"  name="floatingButtonHere" disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">

											{% elif count == 2 %}
									<div class="card">
										<div class="card-header" id="headingTwo">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="checkAll{{forloop.counter}}"  name="floatingButtonHere" disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

											{% elif count == 3 %}
									<div class="card">
										<div class="card-header" id="headingThree">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="checkAll{{forloop.counter}}"  name="floatingButtonHere" disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

											{% elif count == 4 %}
									<div class="card">
										<div class="card-header" id="headingFour">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="checkAll{{forloop.counter}}"  name="floatingButtonHere" disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">

											{% elif count == 5 %}
									<div class="card">
										<div class="card-header" id="headingFive">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox"  id="checkAll{{forloop.counter}}"  name="floatingButtonHere" disabled=""><span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>

											</h2>
										</div>

										<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
										{% endif %}
											<div class="card-body px-xl-5">
												<table class="table table-borderless">
													<tbody>
													{% for item in pwg %}
														{% if pwgs.id == item.owned_by.id %}
														<tr>
															<td><input type="checkbox" name="floatingButtonHere" value="{{item.id}}" disabled="" class="pwg{{count}}">  {{item.alias}}</td>

															<td class="display-none">
																<a href="transfer-seller-pwg" class="btn btn-primary btn-light btn-sm">Transfer</a>
																<div class="dropdown  mb-0 ml-xl-3  ml-sm-2" >
																	<button  class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
																				<i class="fas fa-ellipsis-v"></i>
																			</button>
																	<div class="dropdown-menu">
																		<a class="dropdown-item" href="seller-authorized-pwg">Authorize</a>
																		<a class="dropdown-item" href="seller-shared-pwg" >Share</a>
																		<a class="dropdown-item pop1" href="#">History</a>
																		<a class="dropdown-item" href="" >Delete</a>
																	</div>
																</div>
															</td>
														</tr>
														{% endif %}
													{% endfor %}

													</tbody>
												</table>
											</div>
										</div>
									</div>
									{% endwith %}
									{% endfor %}
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Transferred PWG</h5>
					<a href="" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
				</div>
				<div class="modal-body text-center p-4">
					<i class="fas fa-check-circle fa-3x" style="color: green;"></i>
					<p class="pt-2 font-weight-bold" id="confirmation">


					</p>

				</div>

			</div>
		</div>
	</div>




	<div class="modal fade" id="imagemodal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title font-weight-bold">History of PWG ABC</h5>
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				</div>
				<div class="modal-body">
					<div class="tabl-responsive">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Action</th>
									<th scope="col">Date & Time</th>
									<th scope="col">Objects</th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Authorize</th>
									<td>20/06/2020 & 08:00 Pm</td>
									<td>Naqui</td>
								</tr>

								<tr>
									<th scope="row">Transfer</th>
									<td>24/06/2020 & 07:00 Pm</td>
									<td>Faiz</td>
								</tr>

								<tr>
									<th scope="row">Share</th>
									<td>27/06/2020 & 05:00 Pm</td>
									<td>Jenifer<span><div class="dropdown">
										<button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: relative;">
											<i class="fas fa-sort-down" style="position: absolute;top: 0px; left: 0px;"></i>
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item">Jack</a>
											<a class="dropdown-item">Michael</a>
											<a class="dropdown-item">Nazia</a>
										</div>
									</div></span></td>
								</tr>

								<tr>
									<th scope="row">Buy From Admin</th>
									<td>30/06/2020 & 12:00 Pm</td>
									<td>Admin</td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			</div>
			</div>
		</div>
	</div>

	<section class="floatingButtonHere" style="display: none;" id="button-floating-1">
		<a href="#" class=" btn btn-primary pop">Confirm</a>
		<a href="seller-pwg" class=" btn btn-danger">Cancel</a>
	</section>

<!--	for authorization-->
	<form action="seller-authorized-pwg" method="post" name="send-authorize-pwg-ids">
		{% csrf_token %}
		<input type="hidden" id="authorize_pwg" name="pwg_ids">
	</form>

<!--	for share-->
	<form action="seller-shared-pwg" method="post" name="send-share-pwg-ids">
		{% csrf_token %}
		<input type="hidden" id="share_pwg" name="pwg_ids">
	</form>

	<!--	for de-share-->
	<form action="seller-deshared-pwg" method="post" name="send-deshare-pwg-ids">
		{% csrf_token %}
		<input type="hidden" id="deshare_pwg" name="pwg_ids">
	</form>

<!--<h1>Authorize and share ki history banani hai</h1>-->

<script type="text/javascript">
	// to send primary key of single PWG for authorization
	function send_authorize(id){
		$("#authorize_pwg").attr('value',id);
		document.forms['send-authorize-pwg-ids'].submit();
	}

	// to send primary key of single PWG for sharification
	function send_share(id){
		$("#share_pwg").attr('value',id);
		document.forms['send-share-pwg-ids'].submit();
	}

	// to send primary key of single PWG to deshare
	function send_deshare(id){
		$("#deshare_pwg").attr('value',id);
		document.forms['send-deshare-pwg-ids'].submit();
	}

      // search filter table
      $(document).ready(function () {
        $("#myInput").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
          });
        });
      });

      // modal popup
      $(function () {
        $(".pop").on("click", function () {
          $(".imagepreview").attr("src", $(this).find("img").attr("src"));
          $("#imagemodal").modal("show");
        });
      });



      $(function () {
        $(".pop1").on("click", function () {
          $(".imagepreview").attr("src", $(this).find("img").attr("src"));
          $("#imagemodal1").modal("show");
        });
      });


      function occupied() {
        document.getElementById("unoccupied").style.display = "none";
        document.getElementById("occupied").style.display = "block";
        document.getElementById("unoccupied-batch").style.display = "none";
        document.getElementById("occupied-batch").style.display = "block";
      }

      function unoccupied() {
        document.getElementById("unoccupied").style.display = "block";
        document.getElementById("unoccupied-batch").style.display = "block";
        document.getElementById("occupied-batch").style.display = "none";
        document.getElementById("occupied").style.display = "none";
      }

      function transfer() {
        document.getElementById("button-floating-1").innerHTML = '<a class=" btn btn-secondary">Transfer To</a><a href="seller-pwg" class=" btn btn-danger ml-1">Cancel</a>';
        document.getElementById("button-floating-1").style.display = "block";

        $(".display-none").css("display","none");

        document.getElementById("heading").innerHTML="Select one or more PWG below to Transfer to User"
        document.getElementById("checkAll3").disabled = false;
        document.getElementById("checkAll4").disabled = false;
        document.getElementById("checkAll5").disabled = false;
        document.getElementById("book13").disabled = false;
        document.getElementById("book14").disabled = false;
        document.getElementById("book15").disabled = false;
        document.getElementById("book16").disabled = false;
        document.getElementById("book17").disabled = false;
        document.getElementById("book18").disabled = false;
        document.getElementById("book19").disabled = false;
        document.getElementById("book20").disabled = false;
        document.getElementById("book21").disabled = false;
        document.getElementById("book22").disabled = false;
        document.getElementById("book23").disabled = false;
        document.getElementById("book24").disabled = false;

        jQuery('input[type=checkbox]').on('change', function() {
		   if (this.checked) {
                 document.getElementById("button-floating-1").innerHTML = '<a href="transfer-seller-pwg" class=" btn btn-primary">Transfer To</a><a href="seller-pwg" class=" btn btn-danger ml-1">Cancel</a>';
		   }
		 });
      }

      function authorize() {
        document.getElementById("button-floating-1").innerHTML = '<a class=" btn btn-secondary">Authorize To</a><a href="seller-pwg" class=" btn btn-danger ml-1">Cancel</a>';
        document.getElementById("heading").innerHTML="Select one or more PWG below to Authorize to User"
        document.getElementById("button-floating-1").style.display = "block";

        $(".display-none").css("display","none");
        document.getElementById("checkAll").disabled = false;
        document.getElementById("book1").disabled = false;
        document.getElementById("book2").disabled = false;
        document.getElementById("book3").disabled = false;
        document.getElementById("book4").disabled = false;
        document.getElementById("checkAll1").disabled = false;
        document.getElementById("book5").disabled = false;
        document.getElementById("book6").disabled = false;
        document.getElementById("book7").disabled = false;
        document.getElementById("book8").disabled = false;
        document.getElementById("checkAll2").disabled = false;
        document.getElementById("book9").disabled = false;
        document.getElementById("book10").disabled = false;
        document.getElementById("book11").disabled = false;
        document.getElementById("book12").disabled = false;
        document.getElementById("book12").disabled = false;

        jQuery('input[type=checkbox]').on('change', function() {
		   if (this.checked) {
                 document.getElementById("button-floating-1").innerHTML = '<a href="seller-authorized-pwg" class=" btn btn-primary">Authorize To</a><a href="seller-pwg" class=" btn btn-danger ml-1">Cancel</a>';
		   }
		 });

      }

      function share() {
        document.getElementById("button-floating-1").innerHTML = '<a class=" btn btn-secondary">Share To</a><a href="seller-pwg" class=" btn btn-danger ml-1">Cancel</a>';
        document.getElementById("heading").innerHTML="Select one or more PWG below to Share to User"
        document.getElementById("checkAll").disabled = false;
        document.getElementById("button-floating-1").style.display = "block";

        $(".display-none").css("display","none");

        document.getElementById("book1").disabled = false;
        document.getElementById("book2").disabled = false;
        document.getElementById("book3").disabled = false;
        document.getElementById("book4").disabled = false;
        document.getElementById("checkAll1").disabled = false;
        document.getElementById("book5").disabled = false;
        document.getElementById("book6").disabled = false;
        document.getElementById("book7").disabled = false;
        document.getElementById("book8").disabled = false;
        document.getElementById("checkAll2").disabled = false;
        document.getElementById("book9").disabled = false;
        document.getElementById("book10").disabled = false;
        document.getElementById("book11").disabled = false;
        document.getElementById("book12").disabled = false;

        jQuery('input[type=checkbox]').on('change', function() {
		   if (this.checked) {
		        document.getElementById("button-floating-1").innerHTML = '<a href="seller-shared-pwg" class=" btn btn-primary">Share To</a><a href="seller-pwg" class=" btn btn-danger ml-1">Cancel</a>';

		   }
		 });

      }




      function returnAdmin() {
      	document.getElementById("button-floating-1").style.display = "block";
        document.getElementById("button-floating-1").innerHTML = '<a class="btn btn-secondary">Return</a><a href="seller-pwg" class=" btn btn-danger ml-1">Cancel</a>';
        document.getElementById("confirmation").innerHTML ="PWG has been Returned to Admin successfully, Wait for payment";
        document.getElementById("checkAll3").disabled = false;
        document.getElementById("checkAll4").disabled = false;
        document.getElementById("checkAll5").disabled = false;
        document.getElementById("book13").disabled = false;
        document.getElementById("book14").disabled = false;
        document.getElementById("book15").disabled = false;
        document.getElementById("book16").disabled = false;
        document.getElementById("book17").disabled = false;
        document.getElementById("book18").disabled = false;
        document.getElementById("book19").disabled = false;
        document.getElementById("book20").disabled = false;
        document.getElementById("book21").disabled = false;
        document.getElementById("book22").disabled = false;
        document.getElementById("book23").disabled = false;
        document.getElementById("book24").disabled = false;

        jQuery('input[type=checkbox]').on('change', function() {
		   if (this.checked) {
		        document.getElementById("button-floating-1").innerHTML = '<a href="#" class=" btn btn-primary">Return</a><a href="seller-pwg" class=" btn btn-danger ml-1">Cancel</a>';
		   }
		 });
      }

      function authorize1() {
        document.getElementById("button-floating-1").style.display = "block";
        document.getElementById("button-floating-1").innerHTML = '<a class=" btn btn-secondary">Authorize To</a> <a href="seller-pwg" class=" btn btn-danger ml-1">Cancel</a>';
        document.getElementById("heading").innerHTML="Select one or more PWG below to Authorize to User"

        $(".display-none").css("display","none");
        document.getElementById("checkAll3").disabled = false;
        document.getElementById("checkAll4").disabled = false;
        document.getElementById("checkAll5").disabled = false;
        document.getElementById("book13").disabled = false;
        document.getElementById("book14").disabled = false;
        document.getElementById("book15").disabled = false;
        document.getElementById("book16").disabled = false;
        document.getElementById("book17").disabled = false;
        document.getElementById("book18").disabled = false;
        document.getElementById("book19").disabled = false;
        document.getElementById("book20").disabled = false;
        document.getElementById("book21").disabled = false;
        document.getElementById("book22").disabled = false;
        document.getElementById("book23").disabled = false;
        document.getElementById("book24").disabled = false;

        jQuery('input[type=checkbox]').on('change', function() {
		   if (this.checked) {
		        document.getElementById("button-floating-1").innerHTML = '<a href="seller-authorized-pwg" class=" btn btn-primary">Authorize To</a><a href="seller-pwg" class=" btn btn-danger ml-1">Cancel</a>';
		   }
		 });
      }

      function share1() {
        document.getElementById("button-floating-1").style.display = "block";
        document.getElementById("button-floating-1").innerHTML = '<a class=" btn btn-secondary">Share To</a> <a href="seller-pwg" class=" btn btn-danger ml-1">Cancel</a>';
        document.getElementById("heading").innerHTML="Select one or more PWG below to Share to User"
        $(".display-none").css("display","none");

        document.getElementById("checkAll3").disabled = false;
        document.getElementById("checkAll4").disabled = false;
        document.getElementById("checkAll5").disabled = false;
        document.getElementById("book13").disabled = false;
        document.getElementById("book14").disabled = false;
        document.getElementById("book15").disabled = false;
        document.getElementById("book16").disabled = false;
        document.getElementById("book17").disabled = false;
        document.getElementById("book18").disabled = false;
        document.getElementById("book19").disabled = false;
        document.getElementById("book20").disabled = false;
        document.getElementById("book21").disabled = false;
        document.getElementById("book22").disabled = false;
        document.getElementById("book23").disabled = false;
        document.getElementById("book24").disabled = false;

        jQuery('input[type=checkbox]').on('change', function() {
		   if (this.checked) {
		        document.getElementById("button-floating-1").innerHTML = '<a href="seller-shared-pwg" class=" btn btn-primary">Share To</a><a href="seller-pwg" class=" btn btn-danger ml-1">Cancel</a>';

		   }
		 });
      }


      function myFunction(x) {
        x.classList.toggle("fa-sort-down");
      }

    </script>

</body>
</html>