{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block main %}

    <div class="container">
        <div class="page-header">
            <h1>{% trans 'Welcome to ChatApp' %}
                <small>{% trans 'Pick a user and start chatting!' %}</small>
            </h1>
        </div>
        <div class="row">
            <div class="col-md justify-content-center">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{action}} {% trans 'to' %} {{name}}</h4>
                    </div>
                    <div>
                        <ul id="messages" class="messages">
                            {# Messages go here #}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="chat-input" type="text"
                                   class="form-control input"
                                   placeholder="{% trans 'Type your message here ...' %}"
                                   maxlength="500">
                            <span class="input-group-btn">
                            <button class="btn btn-info btn"
                                    id="btn-send">
                                {% trans 'Send' %}</button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let sessionKey = '{{ request.session.session_key }}';
        let currentUser = '{{ request.user.username }}';
        let recipient = {{ selected_user | safe }};
    </script>

    {% if action == 'Broadcasting' %}
        <script src="{% static 'js/broadcast.js' %}"></script>
    {% else %}
        <script src="{% static 'js/multiple.js' %}"></script>
    {% endif %}

{% endblock %}