{% extends 'base.html' %}
{% load static %}

{% block main %}

    <div class="container">
        <div class="page-header">
            <h1>Welcome to ChatApp
                <small>start chatting!</small>
            </h1>
        </div>
        <div class="row-fluid">
            <div class="col-md">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Chatting to {{name}}</h4>
                    </div>
                    <div>
                        <ul id="messages" class="messages">
                            {# Messages go here #}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="chat-input" type="text"
                                   class="form-control input"
                                   placeholder="Type your message here ..."
                                   maxlength="500">
                            <span class="input-group-btn">
                            <button class="btn btn-info btn"
                                    id="btn-send">
                                Send</button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let sessionKey = '{{ request.session.session_key }}';
        let currentUser = '{{ request.user.username }}';
        let recipient = '{{ selected_user }}';
    </script>
    <script src="{% static 'js/single.js' %}"></script>
    <script src="{% static 'js/detect_close.js' %}"></script>

{% endblock %}