

<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet"/>
<div class="d-lg-block d-none dropdown dropleft">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink78" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="top_flag flag-icon flag-icon-us"></span> Language</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink78">
                        <a class="dropdown-item" href="/"><span class="flag-icon flag-icon-us"></span> English</a>
                        <a class="dropdown-item" href="spanish"><span class="flag-icon flag-icon-es"></span> española</a>
                        <a class="dropdown-item" href="chinese"><span class="flag-icon flag-icon-cn"></span> 中文</a>
                    </div>
                </div>


<script>
    var uri = window.location.href;
    if(uri == "https://tesafe.org/es-cl/"){
        $('.top_flag').attr('class', 'top_flag flag-icon flag-icon-es');
    }else if(uri == "https://tesafe.org/zn-ch/"){
        $('.top_flag').attr('class', 'top_flag flag-icon flag-icon-cn');
    }
</script>