<!--<select class="selectpicker" data-width="fit">-->
<!--  <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>-->
<!--  <option  data-content='<span class="flag-icon flag-icon-es"></span> Español'>Español</option>-->
<!--  <option  data-content='<span class="flag-icon flag-icon-cn"></span> Español'>中文</option>-->
<!--</select>-->
<div class="d-lg-block d-none dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink78" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink78">
                        <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-us"></span> English</a>
                        <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-fr"></span> Français</a>
                        <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-de"></span> Deutsch</a>
                    </div>
                </div>
<script>
$(function(){
    $('.selectpicker').selectpicker();
});
</script>