{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>User | Users</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


	<!-- fontawesome cdn -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'tesafe/css/admin-seller.css' %}">
	<style>
		.cursor{
			cursor: pointer;
		}
		.selected_pwg{
			    background-color: #007bff;
				display: inline-block;
				color: white;
				border-radius: 25px;
		}
		.btn-primary:disabled{
			    color: #1868bb;
				background-color: #72ebff;
				border-color: #007bff;
		}
	</style>
</head>
<body>

	<section class="bg-light">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light ">

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item pl-3">
							<a class="nav-link"  href="user-home">PWGs <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link active" href="user-user">User</a>
						</li>
					</ul>

				</div>

				{% include 'notification.html' %}

				<div class="dropdown  dropleft float-xl-right mb-0" >
					<button  class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#" onclick="delete_user();">Delete</a>
						<a class="dropdown-item" href="#" onclick="chat()">Chat</a>
						<a class="dropdown-item" href="user-home">Exit</a>
					</div>
				</div>
			</nav>
		</div>
	</section>

	<section class="bg-detail">
		<div class="container-fluid">
			<div class="row justify-content-center">

				<!-- for showing error and messages-->
				<div class="col-md-10 py-2 px-5 mt-3" id="msg">

				</div>

				<div class="col-md-10  py-5 px-5">

					<div class="row justify-content-center bg-button-2 p-xl-4 mt-3" id="div-1" >

						<div class="col-md-6 col-md-4">

							<header class="d-flex justify-content-center mt-2">

								<nav class="navbar navbar-light  venue-registration" style="display:contents;">
									<form class="form-inline">
										<div class="input-group-prepend mb-1 mr-2">
											<span class="input-group-text" id="addon-wrapping"><i class="fas fa-search fa-1x"></i></span>
											<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" id="myInput">
										</div>
									</form>
									<!-- Example split danger button -->
									<div class="btn-group mb-1">
									  <button type="button" class="btn btn-primary" id="button-chat" disabled>Chat</button>
									  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
											  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled id="button-dropdown">
										<i class="fas fa-caret-down"></i>
									  </button>
									  <div class="dropdown-menu">
										<a class="dropdown-item" href="#" onclick="delete_temp_user()" id="delete_button">Delete</a>
										<a class="dropdown-item" href="#">Review Record</a>
										<a class="dropdown-item" onclick="change_name();" href="#" id="alias_button">Set Alias</a>
									  </div>
									</div>

								</nav>

							</header>

							<div class="row justify-content-center">
							<div class="col-md-6" style="display: flex;">
									<ul class="list-group mt-2">
									<li class="list mr-3 mt-3"><a href="#">a</a></li>
									<li class="list mr-3"><a href="#">b</a></li>
									<li class="list mr-3"><a href="#">c</a></li>
									<li class="list mr-3"><a href="#">d</a></li>
									<li class="list mr-3"><a href="#">e</a></li>
									<li class="list mr-3"><a href="#">f</a></li>
									<li class="list mr-3"><a href="#">g</a></li>
									<li class="list mr-3"><a href="#">h</a></li>
									<li class="list mr-3"><a href="#">i</a></li>
									<li class="list mr-3"><a href="#">j</a></li>
									<li class="list mr-3"><a href="#">k</a></li>
									<li class="list mr-3"><a href="#">l</a></li>
									<li class="list mr-3"><a href="#">m</a></li>
									<li class="list mr-3"><a href="#">n</a></li>
									<li class="list mr-3"><a href="#">o</a></li>
									<li class="list mr-3"><a href="#">p</a></li>
									<li class="list mr-3"><a href="#">q</a></li>
									<li class="list mr-3"><a href="#">r</a></li>
									<li class="list mr-3"><a href="#">s</a></li>
									<li class="list mr-3"><a href="#">t</a></li>
									<li class="list mr-3"><a href="#">u</a></li>
									<li class="list mr-3"><a href="#">v</a></li>
									<li class="list mr-3"><a href="#">w</a></li>
									<li class="list mr-3"><a href="#">x</a></li>
									<li class="list mr-3"><a href="#">y</a></li>
									<li class="list mr-3"><a href="#">z</a></li>

								</ul>
									<div class="table-responsive">
								<br>
								<table class="table">
									<tbody id="myTable" class="table-borderless">
									{% for user in user_obj %}
										<tr class="d-flex">
											<th class="col-3"><input type="checkbox" name="floatingButtonHere" disabled  value="{{user.associated_user.id}}" class="check"></th>
											{% if user.associated_user.alias != "none" %}
											<td onclick="show_buttons('{{user.associated_user.alias}}', {{user.associated_user.id}})" id="pwg-{{forloop.counter0}}" class="cursor col-5 text-center">{{user.associated_user.alias}}</td>
											{% else %}
											<td onclick="show_buttons('{{user.associated_user.system_name}}', {{user.associated_user.id}})" id="pwg-{{forloop.counter0}}" class="cursor col-5 text-center">{{user.associated_user.system_name}}</td>
											{% endif %}
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
							</div>
							</div>
						</div>

					</div>

				</div>

			</div>
		</div>
    </section>


<section class="floatingButtonHere" style="display: none;" id="floating-button">
	<button class=" btn btn-primary" id="proceed">Proceed</button>
	<a href="user-user" class=" btn btn-danger">Cancel</a>
</section>

<!--	to show confirmation popup of single delete-->
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Message</h5>
					<a href="" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
				</div>
				<div class="modal-body text-center p-4">
					<i class="fas fa-check-circle fa-3x" style="color: green;" id="confirm-message-color"></i>
					<p class="pt-2 font-weight-bold" id="confirm-message"></p>

				</div>

			</div>
		</div>
	</div>

<!--    for change alias-->
<div class="modal fade" id="imagemodal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 id="name-change">Change Name for </h5>
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					</div>
					<div class="modal-body" id="change-name">
						<form action="change_alias" method="post" name="submit_alias_change">
							{% csrf_token %}
							<div class="form-group">
								<label>Alias</label>
								<input type="text" class="form-control"  value="" name="alias" id="alias_value" required>
								<input type="hidden" class="form-control"  id="alias_id" name="alias_id">
								<input type="hidden" class="form-control"  value="user-user" name="accType">
							</div>
							<button  type="submit" class="btn btn-primary" onclick="submit_alias();" id="btn-alias">Change</button>
							<a  href="#" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</a>
						</form>
					</div>
				</div>
			</div>
		</div>

<!--	to show confirmation of delete and freeze-->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
					<a href="" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
				</div>
				<div class="modal-body text-center p-4">
					<i class="fa fa-question-circle fa-3x" style="color: #bd2130;" id="confirm-message-color"></i>
					<p class="pt-2 font-weight-bold" id="confirm-message-delete1"></p>

				</div>
				<div class="modal-footer justify-content-center">
					<button type="button" class="btn btn-primary" onclick="deletePWG();">Confirm</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>


	<!--	to Delete multiple PWG  -->
	<form action="delete_temp" method="post" name="delete_multiple">
		{% csrf_token %}
		<input type="hidden" id="pwg_pk_delete" name="pk">
		<input type="hidden" value="multiple-users" name="accType">
	</form>

	    	<!--	to start chat to a single user -->
	<form action="chat" method="post" name="single_chat">
		{% csrf_token %}
		<input type="hidden" id="chatting_to" name="email_user">
	</form>

	<!--	to start chat multiple -->
	<form action="chat_multiple" method="post" name="chat_form">
		{% csrf_token %}
		<input type="hidden" id="user_values" name="users">
		<input type="hidden" value="user" name="accType">
		<input type="hidden" value="" id="broadcast_action" name="action">
	</form>

<script type="text/javascript">
	var checkbox_values = [];
	// search filter table
	$(document).ready(function(){
		$("#myInput").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#myTable tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});

			// Shorthand for $( document ).ready()
		$(function() {
			setTimeout(function(){
				$("#msg").removeClass('bg-light');
				$("#msg").html('');
			}, 4000);
			{% if messages %}
			$("#msg").addClass('bg-light');
			{% endif %}
			$("#msg").html('{% for msg in messages %}<h3 class="text-danger">{{msg}}</h3>{% endfor %}');
		});

	function show_buttons(value, pk){
		//setting data-content value of delete button
		$('#delete_button').attr("data-content",pk);
		$('#alias_button').attr("data-content",pk);
		$('#alias_button').attr("data-to",value);

		//enabling top chat button and dropdown icon
		$('#button-chat').prop("disabled",false);
		$('#button-dropdown').prop("disabled",false);

		//putting pwg name in input field
		$("#myInput").attr("value",value);
		$('.modal-title').html("Record of "+value);
		$('#alias_pwg').html("Set alias for "+value);
		table = document.getElementById('myTable');
		rows = table.rows;
		for(i=0;i<rows.length;i++){
			if( value == rows[i].getElementsByTagName("td")[0].innerHTML){
				id_name = rows[i].getElementsByTagName("td")[0].getAttribute('id');
				$('#'+id_name).addClass("selected_pwg");
			} else{
				id_name = rows[i].getElementsByTagName("td")[0].getAttribute('id');
				$('#'+id_name).removeClass("selected_pwg");
			}
		}
	}


	// to remove all occurrence of the element
	function removeItemAll(value) {
		  var i = 0;
		  while (i < checkbox_values.length) {
				if (checkbox_values[i] === value) {
				  checkbox_values.splice(i, 1);
				} else {
				  ++i;
				}
		  }
	}

	$('input[type="checkbox"]').click(function(){
		if($(this).attr("name")=="floatingButtonHere"){
			if($(this).is(':checked')){
				checkbox_values.push($(this).val());
			}else{
				removeItemAll($(this).val());
			}
		}
		if( checkbox_values.length == 0){
			$("#proceed").attr('disabled', true);
		}else{
			$("#proceed").attr('disabled', false);
		}
		console.log(checkbox_values);
	});

	//to delete multiple users
	function delete_user(){
		$(".check").attr("disabled", false);
		$("#proceed").attr('onclick', "delete_popup();");

		$("#proceed").attr('disabled', true);
		$(".floatingButtonHere").show(150);
	}

	function delete_popup(){
		checkbox_values = [...new Set(checkbox_values)];
		if( checkbox_values.length == 1 ){
			$("#confirm-message-delete1").html("Delete the selected "+checkbox_values.length+" User");
		}else{
			$("#confirm-message-delete1").html("Delete the selected "+checkbox_values.length+"  Users");
		}

		$('.imagepreview').attr('src', $(this).find('img').attr('src'));
		$('#confirmDelete').modal('show');
	}
	// to submit delete
	function deletePWG(){
		$("#pwg_pk_delete").attr('value', checkbox_values);
		document.forms['delete_multiple'].submit();
	}
	// to delete single user
	function delete_temp_user(){
		var d_content = $('#delete_button').attr("data-content");

		$.ajax({
            type: 'GET',
            url: "delete_temp",
            data: {"pk": d_content, "accType": "user-user"},
            success: function (response) {
                    if(response['msg'] == false){
                        $("#confirm-message").html(response['msg']);
                        $("#confirm-message-color").css("color","red");
                    }else{
                        $("#confirm-message").html(response['msg']);
                        $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                        $('#confirm').modal('show');
                    }
                    window.setTimeout(function(){
                        location.reload(true);
                    }, 4000);

            },
            error: function (response) {
                console.log(response)
            }
        })
	}

	function change_name(){
		var name = $('#alias_button').attr("data-to");
		var pk = $('#alias_button').attr("data-content");
		$("#name-change").html("Change Alias Name for <b>"+name+"</b>");
		$("#alias_id").attr('value',pk);

		$('.imagepreview').attr('src', $(this).find('img').attr('src'));
		$('#imagemodal2').modal('show');
	}
	// to submit alias change form
	function submit_alias(){
		var value = $("#alias_value").val();
		if(value != ""){
			document.forms['submit_alias_change'].submit();
		}
	}


	function chat(){
		$(".check").attr("disabled",false);

		$("#proceed").attr('onclick', "chat_multiple()");

		$("#proceed").attr('disabled', true);
		$(".floatingButtonHere").show(150);
	}

	function chat_multiple(){
		checkbox_values = [...new Set(checkbox_values)];
		$('#user_values').attr('value', checkbox_values);
		$('#broadcast_action').attr('value', "Chatting");
		document.forms['chat_form'].submit();
	}


	//to chat a single user
		function custom_chat(email){
			$('#chatting_to').attr('value', email);
			document.forms['single_chat'].submit();
		}
</script>
</body>
</html>