{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>User | Users</title>


	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


	<!-- fontawesome cdn -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'tesafe/css/admin-seller.css' %}">
	<style>
		.cursor{
			cursor: pointer;
		}
		.selected_pwg{
			    background-color: #007bff;
				display: inline-block;
				color: white;
				border-radius: 25px;
		}
		.btn-primary:disabled{
			    color: #1868bb;
				background-color: #72ebff;
				border-color: #007bff;
		}
	</style>
</head>
<body>



	<section class="bg-light">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light ">

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item pl-3">
							<a class="nav-link"  href="user-home">PWGs <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link active" href="user-user">User</a>
						</li>
					</ul>

				</div>

				<a class="navbar-brand pr-3" href="#" style="color: green; font-size: 30px; position: relative;"><i class="fas fa-bell "></i><span class="badge badge-danger" style="position: absolute; top: -5px; font-size: 14px; left:15px; ">1</span></a>

				<div class="dropdown  dropleft float-xl-right mb-0" >
					<button  class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Delete</a>
						<a class="dropdown-item" href="#">Chat</a>
						<a class="dropdown-item" href="user-home">Exit</a>
					</div>
				</div>

			</nav>
		</div>
	</section>

	<section class="bg-detail">
		<div class="container-fluid">
			<div class="row justify-content-center">

				<div class="col-md-10  py-5 px-5">

					<div class="row justify-content-center bg-button-2 p-xl-4 mt-3" id="div-1" >

						<div class="col-md-6 col-md-4">

							<header class="d-flex justify-content-center mt-2">

								<nav class="navbar navbar-light  venue-registration" style="display:contents;">
									<form class="form-inline">
										<div class="input-group-prepend mb-1 mr-2">
											<span class="input-group-text" id="addon-wrapping"><i class="fas fa-search fa-1x"></i></span>
											<input type="text" class="form-control" placeholder="Username" aria-label="Username"
												   aria-describedby="addon-wrapping" id="myInput">
										</div>
									</form>
									<!-- Example split danger button -->
									<div class="btn-group mb-1">
									  <button type="button" class="btn btn-primary" id="button-chat" disabled>Chat</button>
									  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
											  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled id="button-dropdown">
										<i class="fas fa-caret-down"></i>
									  </button>
									  <div class="dropdown-menu">
										<a class="dropdown-item" href="#">Delete</a>
										<a class="dropdown-item pop" href="#">Review Record</a>
										<a class="dropdown-item" onclick="pop2();" href="#" >Set Alias</a>
									  </div>
									</div>

								</nav>

							</header>

							<div class="row justify-content-center">
							<div class="col-md-6" style="display: flex;">
									<ul class="list-group mt-2">
									<li class="list mr-3 mt-3"><a href="#">a</a></li>
									<li class="list mr-3"><a href="#">b</a></li>
									<li class="list mr-3"><a href="#">c</a></li>
									<li class="list mr-3"><a href="#">d</a></li>
									<li class="list mr-3"><a href="#">e</a></li>
									<li class="list mr-3"><a href="#">f</a></li>
									<li class="list mr-3"><a href="#">g</a></li>
									<li class="list mr-3"><a href="#">h</a></li>
									<li class="list mr-3"><a href="#">i</a></li>
									<li class="list mr-3"><a href="#">j</a></li>
									<li class="list mr-3"><a href="#">k</a></li>
									<li class="list mr-3"><a href="#">l</a></li>
									<li class="list mr-3"><a href="#">m</a></li>
									<li class="list mr-3"><a href="#">n</a></li>
									<li class="list mr-3"><a href="#">o</a></li>
									<li class="list mr-3"><a href="#">p</a></li>
									<li class="list mr-3"><a href="#">q</a></li>
									<li class="list mr-3"><a href="#">r</a></li>
									<li class="list mr-3"><a href="#">s</a></li>
									<li class="list mr-3"><a href="#">t</a></li>
									<li class="list mr-3"><a href="#">u</a></li>
									<li class="list mr-3"><a href="#">v</a></li>
									<li class="list mr-3"><a href="#">w</a></li>
									<li class="list mr-3"><a href="#">x</a></li>
									<li class="list mr-3"><a href="#">y</a></li>
									<li class="list mr-3"><a href="#">z</a></li>

								</ul>
									<div class="table-responsive">
								<br>
								<table class="table">

									<tbody id="myTable" class="table-borderless">
										<tr class="d-flex">
											<th class="col-3"><input type="checkbox" name="book" value="floatingButtonHere" disabled  id="book1"></th>
											<td onclick="show_buttons('Faiz')" id="pwg-0" class="cursor col-5 text-center">Faiz</td>
										</tr>
                                        <tr class="d-flex">
											<th class="col-3"><input type="checkbox" name="book" value="floatingButtonHere" disabled  id="book1"></th>
											<td onclick="show_buttons('Frank')" id="pwg-1" class="cursor col-5 text-center">Frank</td>
										</tr>
                                        <tr class="d-flex">
											<th class="col-3"><input type="checkbox" name="book" value="floatingButtonHere" disabled  id="book1"></th>
											<td onclick="show_buttons('Trump')" id="pwg-2"  class="cursor col-5 text-center">Trump</td>
										</tr>
                                        <tr class="d-flex">
											<th class="col-3"><input type="checkbox" name="book" value="floatingButtonHere" disabled  id="book1"></th>
											<td onclick="show_buttons('Putin');" id="pwg-3" class="cursor col-5 text-center">Putin</td>
										</tr>
										<tr class="d-flex">
											<th class="col-3"><input type="checkbox" name="book" value="floatingButtonHere" disabled  id="book1"></th>
											<td onclick="show_buttons('Jennifer');" id="pwg-4" class="cursor col-5 text-center">Jennifer</td>
										</tr>
										<tr class="d-flex">
											<th class="col-3"><input type="checkbox" name="book" value="floatingButtonHere" disabled  id="book1"></th>
											<td onclick="show_buttons('Chris');" id="pwg-5" class="cursor col-5 text-center">Chris</td>
										</tr>
										<tr class="d-flex">
											<th class="col-3"><input type="checkbox" name="book" value="floatingButtonHere" disabled  id="book1"></th>
											<td onclick="show_buttons('Naqui');" id="pwg-6" class="cursor col-5 text-center">Naqui</td>
										</tr>
										<tr class="d-flex">
											<th class="col-3"><input type="checkbox" name="book" value="floatingButtonHere" disabled  id="book1"></th>
											<td onclick="show_buttons('John');" id="pwg-7" class="cursor col-5 text-center">John</td>
										</tr>
										<tr class="d-flex">
											<th class="col-3"><input type="checkbox" name="book" value="floatingButtonHere" disabled  id="book1"></th>
											<td onclick="show_buttons('Scarlett');" id="pwg-8" class="cursor col-5 text-center">Scarlett</td>
										</tr>
										<tr class="d-flex">
											<th class="col-3"><input type="checkbox" name="book" value="floatingButtonHere" disabled  id="book1"></th>
											<td onclick="show_buttons('Mark');" id="pwg-9" class="cursor col-5 text-center">Mark</td>
										</tr>
										<tr class="d-flex">
											<th class="col-3"><input type="checkbox" name="book" value="floatingButtonHere" disabled  id="book1"></th>
											<td onclick="show_buttons('Tesafe');" id="pwg-10" class="cursor col-5 text-center">Tesafe</td>
										</tr>
										<tr class="d-flex">
											<th class="col-3"><input type="checkbox" name="book" value="floatingButtonHere" disabled  id="book1"></th>
											<td onclick="show_buttons('Kristen');" id="pwg-11" class="cursor col-5 text-center">Kristen</td>
										</tr>
										<tr class="d-flex">
											<th class="col-3"><input type="checkbox" name="book" value="floatingButtonHere" disabled  id="book1"></th>
											<td onclick="show_buttons('Elizabeth');" id="pwg-12" class="cursor col-5 text-center">Elizabeth</td>
										</tr>

									</tbody>
								</table>
							</div>
							</div>

							</div>
						</div>

					</div>

				</div>

			</div>
		</div>
    </section>


<section class="floatingButtonHere" style="display: none;" id="floating-button">
	<a href="" class=" btn btn-primary" >Confirm</a>
	<a href="admin-seller" class=" btn btn-danger">Cancel</a>
</section>







//modal for review record
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title font-weight-bold">Record of PWGs-1</h5>
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Sr. No.</th>
								<th scope="col">Date</th>
								<th scope="col">Time</th>
								<th scope="col">Password</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>20/06/20</td>
								<td>5:30 pm</td>
								<td>6kBuSpm&MO64y{q</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>10/05/20</td>
								<td>1:30 pm</td>
								<td>{!ZAwaKYW-zm}$s</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>19/04/20</td>
								<td>2:30 pm</td>
								<td>ln19gUFU%-&&B[b</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Return</button>
      </div>
		</div>
	</div>
</div>


<!--modal for alias record-->
<div class="modal fade" id="imagemodal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5>Set Alias</h5>
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				</div>
				<div class="modal-body" id="change-name">
					<form>
						<div class="form-group">
							<label id="alias_pwg"></label>
							<input type="text" class="form-control" id="emp" value="">
						</div>
						<a  href="#" type="submit" id="bt" class="btn btn-primary" onclick="changeLabel()">Submit</a>
					</form>
				</div>

				<div class="modal-body text-center p-4" id="successfully-changed">
					<i class="fas fa-check-circle fa-3x" style="color: green;"></i>
					<p class="pt-2 font-weight-bold">You've successfully set the Alias</p>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Return</button>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript">

// search filter table
	$(document).ready(function(){
		$("#myInput").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#myTable tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});



// modal popup
	$(function() {
		$('.pop').on('click', function() {
			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
			$('#imagemodal').modal('show');
		});
	});


	// check all checkbox in one click

	$(document).ready(function() {

		$('#checkAll').click(function () {
			$('input:checkbox').not(this).prop('checked', this.checked);
		});

		$("[id*=book_]").change(function () {
			if ($('input[type=checkbox]:checked').length == $('input[type=checkbox]').length) {
				$('#checkAll').prop('checked', true);
			} else {
				$('#checkAll').prop('checked', false);
			}
		});

	});


	function show_buttons(value){
	//enabling top chat button and dropdown icon
		$('#button-chat').prop("disabled",false);
		$('#button-dropdown').prop("disabled",false);

	//putting pwg name in input field
		$("#myInput").attr("value",value);
		$('.modal-title').html("Record of "+value);
		$('#alias_pwg').html("Set alias for "+value);
		table = document.getElementById('myTable');
		rows = table.rows;
		for(i=0;i<rows.length;i++){
			if( value == rows[i].getElementsByTagName("td")[0].innerHTML){
				id_name = rows[i].getElementsByTagName("td")[0].getAttribute('id');
				$('#'+id_name).addClass("selected_pwg");
			} else{
				id_name = rows[i].getElementsByTagName("td")[0].getAttribute('id');
				$('#'+id_name).removeClass("selected_pwg");
			}
		}
	}



		// change name JS
		function changeLabel() {
		var empName = document.getElementById('emp').value;
        pop_title = document.getElementById('alias_pwg').innerHTML;
        elements = pop_title.split(" ");
        len = elements.length;
        pwg_name = elements[len-1];

        table = document.getElementById('myTable');
		rows = table.rows;
		for(i=0;i<rows.length;i++){
			if(pwg_name == rows[i].getElementsByTagName("td")[0].innerHTML){
				rows[i].getElementsByTagName("td")[0].innerHTML = empName;
			}
		}


        document.getElementById("change-name").style.display="none";
        document.getElementById("successfully-changed").style.display="block";

    }

	//show pop to set alias
	function pop2(pwg_name) {
		$("#successfully-changed").css("display","none");
		$("#change-name").css("display","block");
		$('.imagepreview').attr('src', $(this).find('img').attr('src'));
		$('#imagemodal2').modal('show');
	}

</script>
</body>
</html>