{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Admin | Seller</title>


	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	

	<!-- fontawesome cdn -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'tesafe/css/admin-seller.css' %}">
</head>
<body>



	<section class="bg-light">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light ">
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item pl-3">
							<a class="nav-link "  href="admin-home">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link active" href="admin-seller">Seller</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link" href="admin-tester">Tester</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link" href="admin-info-server">PWG Server</a>
						</li>
					</ul>
					
				</div>

				{% include 'notification.html' %}

				<div class="dropdown  dropleft float-xl-right mb-0" >
					<button  class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#" onclick="myfun1()">Add New</a>
						<a class="dropdown-item" href="#" onclick="broadcast()">Broadcast</a>
						<a class="dropdown-item" href="#" onclick="chat()">Chat</a>
						<a class="dropdown-item" href="#" onclick="myFunction()">Delete</a>
						<a class="dropdown-item" href="#" onclick="freeze()"> Freeze </a>
						<a class="dropdown-item" href="admin-home" >Exit</a>
					</div>
				</div>
			</nav>
		</div>
	</section>

	<section class="bg-detail">
		<div class="container-fluid">
			<div class="row justify-content-center">

				<!-- for showing error and messages-->
				<div class="col-md-10 py-2 px-5 mt-3" id="msg">

				</div>

				<div class="col-md-10  py-5 px-5">

					<div class="row justify-content-center bg-button-2 p-xl-4 mt-3" id="div-1" >

						<div class="col-md">

							<header>
								<nav class="navbar navbar-light  venue-registration">
									<a class="h4 text-dark font-weight-bold pt-2">SELLER ACCOUNTS</a>
									<form class="form-inline">
										<div class="input-group-prepend mb-1 mr-2">
											<span class="input-group-text" id="addon-wrapping"><i class="fas fa-search fa-1x"></i></span>
											<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" id="myInput">
										</div>

									</form>
								</nav>
							</header>




							<div class="table-responsive">


								<br>
								<table class="table">
									<thead>
										<tr>

											<th scope="col" style="position: relative;"><input type="checkbox" id="checkAll" disabled> <i class="fas fa-sort-down"></i></th>
											<th scope="col">Name</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody id="myTable">
									{% for sel in seller %}
										<tr>
											<th><input type="checkbox" name="floatingButtonHere" disabled  value="{{sel.pk}}" id="book1" class="check"></th>
											<td><span><img src="{{sel.profile_pic.url}}" height="40" width="40" class="rounded-circle" title="Profile Pic"></span>{% if sel.alias == '' or sel.alias == None %} {{sel.first_name}} {{sel.last_name}} {% else %} {{sel.alias}} {% endif %}
												{% if sel.is_freeze %}
												<i class="fa fa-ban" aria-hidden="true" title="Freezed"></i>
												{% endif %}
											</td>
											<td><a href="transfer{{sel.user.pk}}" class="btn btn-primary btn-light btn-sm">Transfer</a> <div class="dropup  mb-0 ml-xl-3  ml-sm-2" >
												<button  class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
													<i class="fas fa-ellipsis-v"></i>
												</button>
												<div class="dropdown-menu" id="dropdown_menu">
													<a class="dropdown-item" onclick="custom_chat('{{sel.user.email}}')">Chat</a>
													<a class="dropdown-item" href="">Payment</a>
													<a class="dropdown-item" onclick="pop({{sel.user.pk}}, 'seller');" href="#" > Login History </a>
													<a class="dropdown-item" href="#" onclick="chat_history('{{sel.first_name}}',{{sel.user.id}})" >Chat History</a>
													<a class="dropdown-item" onclick="delete_user({{sel.user.pk}},'seller');" href="#" >Delete</a>
													{% if sel.is_freeze %}
													<a class="dropdown-item" onclick="unfreeze_user({{sel.id}}, 'seller');">Unfreeze</a>
													{% else %}
													<a class="dropdown-item" onclick="freeze_user({{sel.id}}, 'seller');">Freeze</a>
													{% endif %}
												</div>
											</div></td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>

					</div>


					<div class="row justify-content-center bg-button-2 p-4 mt-3" id="div-2" style="display: none;">

						<div class="col-md">
							<h5 class="font-weight-bold"> <span><i class="fas fa-caret-right"></i></span> Add Seller Account</h5>
							<div class="row">
								<div class="col-md-8 py-3">

									<form method="post" action="add-new">
										{% csrf_token %}
									  <div class="form-group">
										  <div class="row"><div class="col-md-7">
										  <select name="unique_name" class="form-control" id="unique_name" onchange="get_name('S');">
										  <!-- Countries often selected by users can be moved to the top of the list. -->
										  <!-- Countries known to be subject to general US embargo are commented out by default. -->
										  <!-- The data-countryCode attribute is populated with ISO country code, and value is int'l calling code. -->

										  <option selected disabled>National Name</option>
										  <option data-countryCode="GS" value="0001">US (+1)</option>
										  <option data-countryCode="GB" value="0044">UK (+44)</option>
										  <option disabled="disabled">Other Countries</option>
										  <option data-countryCode="DZ" value="0213">Algeria (+213)</option>
										  <option data-countryCode="AD" value="0376">Andorra (+376)</option>
										  <option data-countryCode="AO" value="0244">Angola (+244)</option>
										  <option data-countryCode="AI" value="1264">Anguilla (+1264)</option>
										  <option data-countryCode="AG" value="1268">Antigua &amp; Barbuda (+1268)</option>
										  <option data-countryCode="AR" value="0054">Argentina (+54)</option>
										  <option data-countryCode="AM" value="0374">Armenia (+374)</option>
										  <option data-countryCode="AW" value="0297">Aruba (+297)</option>
										  <option data-countryCode="AU" value="0061">Australia (+61)</option>
										  <option data-countryCode="AT" value="0043">Austria (+43)</option>
										  <option data-countryCode="AZ" value="0994">Azerbaijan (+994)</option>
										  <option data-countryCode="BS" value="1242">Bahamas (+1242)</option>
										  <option data-countryCode="BH" value="0973">Bahrain (+973)</option>
										  <option data-countryCode="BD" value="0880">Bangladesh (+880)</option>
										  <option data-countryCode="BB" value="1246">Barbados (+1246)</option>
										  <option data-countryCode="BY" value="0375">Belarus (+375)</option>
										  <option data-countryCode="BE" value="0032">Belgium (+32)</option>
										  <option data-countryCode="BZ" value="0501">Belize (+501)</option>
										  <option data-countryCode="BJ" value="0229">Benin (+229)</option>
										  <option data-countryCode="BM" value="1441">Bermuda (+1441)</option>
										  <option data-countryCode="BT" value="0975">Bhutan (+975)</option>
										  <option data-countryCode="BO" value="0591">Bolivia (+591)</option>
										  <option data-countryCode="BA" value="0387">Bosnia Herzegovina (+387)</option>
										  <option data-countryCode="BW" value="0267">Botswana (+267)</option>
										  <option data-countryCode="BR" value="0055">Brazil (+55)</option>
										  <option data-countryCode="BN" value="0673">Brunei (+673)</option>
										  <option data-countryCode="BG" value="0359">Bulgaria (+359)</option>
										  <option data-countryCode="BF" value="0226">Burkina Faso (+226)</option>
										  <option data-countryCode="BI" value="0257">Burundi (+257)</option>
										  <option data-countryCode="KH" value="0855">Cambodia (+855)</option>
										  <option data-countryCode="CM" value="0237">Cameroon (+237)</option>
										  <option data-countryCode="CA" value="0001">Canada (+1)</option>
										  <option data-countryCode="CV" value="0238">Cape Verde Islands (+238)</option>
										  <option data-countryCode="KY" value="1345">Cayman Islands (+1345)</option>
										  <option data-countryCode="CF" value="0236">Central African Republic (+236)</option>
										  <option data-countryCode="CL" value="0056">Chile (+56)</option>
										  <option data-countryCode="CN" value="0086">China (+86)</option>
										  <option data-countryCode="CO" value="0057">Colombia (+57)</option>
										  <option data-countryCode="KM" value="0269">Comoros (+269)</option>
										  <option data-countryCode="CG" value="0242">Congo (+242)</option>
										  <option data-countryCode="CK" value="0682">Cook Islands (+682)</option>
										  <option data-countryCode="CR" value="0506">Costa Rica (+506)</option>
										  <option data-countryCode="HR" value="0385">Croatia (+385)</option>
										  <option data-countryCode="CU" value="0053">Cuba (+53)</option>
										  <option data-countryCode="CY" value="0090">Cyprus - North (+90)</option>
										  <option data-countryCode="CY" value="0357">Cyprus - South (+357)</option>
										  <option data-countryCode="CZ" value="0420">Czech Republic (+420)</option>
										  <option data-countryCode="DK" value="0045">Denmark (+45)</option>
										  <option data-countryCode="DJ" value="0253">Djibouti (+253)</option>
										  <option data-countryCode="DM" value="1809">Dominica (+1809)</option>
										  <option data-countryCode="DO" value="1809">Dominican Republic (+1809)</option>
										  <option data-countryCode="EC" value="0593">Ecuador (+593)</option>
										  <option data-countryCode="EG" value="0020">Egypt (+20)</option>
										  <option data-countryCode="SV" value="0503">El Salvador (+503)</option>
										  <option data-countryCode="GQ" value="0240">Equatorial Guinea (+240)</option>
										  <option data-countryCode="ER" value="0291">Eritrea (+291)</option>
										  <option data-countryCode="EE" value="0372">Estonia (+372)</option>
										  <option data-countryCode="ET" value="0251">Ethiopia (+251)</option>
										  <option data-countryCode="FK" value="0500">Falkland Islands (+500)</option>
										  <option data-countryCode="FO" value="0298">Faroe Islands (+298)</option>
										  <option data-countryCode="FJ" value="0679">Fiji (+679)</option>
										  <option data-countryCode="FI" value="0358">Finland (+358)</option>
										  <option data-countryCode="FR" value="0033">France (+33)</option>
										  <option data-countryCode="GF" value="0594">French Guiana (+594)</option>
										  <option data-countryCode="PF" value="0689">French Polynesia (+689)</option>
										  <option data-countryCode="GA" value="0241">Gabon (+241)</option>
										  <option data-countryCode="GM" value="0220">Gambia (+220)</option>
										  <option data-countryCode="GE" value="7880">Georgia (+7880)</option>
										  <option data-countryCode="DE" value="0049">Germany (+49)</option>
										  <option data-countryCode="GH" value="0233">Ghana (+233)</option>
										  <option data-countryCode="GI" value="0350">Gibraltar (+350)</option>
										  <option data-countryCode="GR" value="0030">Greece (+30)</option>
										  <option data-countryCode="GL" value="0299">Greenland (+299)</option>
										  <option data-countryCode="GD" value="1473">Grenada (+1473)</option>
										  <option data-countryCode="GP" value="0590">Guadeloupe (+590)</option>
										  <option data-countryCode="GU" value="0671">Guam (+671)</option>
										  <option data-countryCode="GT" value="0502">Guatemala (+502)</option>
										  <option data-countryCode="GN" value="0224">Guinea (+224)</option>
										  <option data-countryCode="GW" value="0245">Guinea - Bissau (+245)</option>
										  <option data-countryCode="GY" value="0592">Guyana (+592)</option>
										  <option data-countryCode="HT" value="0509">Haiti (+509)</option>
										  <option data-countryCode="HN" value="0504">Honduras (+504)</option>
										  <option data-countryCode="HK" value="0852">Hong Kong (+852)</option>
										  <option data-countryCode="HU" value="0036">Hungary (+36)</option>
										  <option data-countryCode="IS" value="0354">Iceland (+354)</option>
										  <option data-countryCode="IN" value="0091">India (+91)</option>
										  <option data-countryCode="ID" value="0062">Indonesia (+62)</option>
										  <option data-countryCode="IQ" value="0964">Iraq (+964)</option>
										  <option data-countryCode="IR" value="0098">Iran (+98)</option>
										  <option data-countryCode="IE" value="0353">Ireland (+353)</option>
										  <option data-countryCode="IL" value="0972">Israel (+972)</option>
										  <option data-countryCode="IT" value="0039">Italy (+39)</option>
										  <option data-countryCode="JM" value="1876">Jamaica (+1876)</option>
										  <option data-countryCode="JP" value="0081">Japan (+81)</option>
										  <option data-countryCode="JO" value="0962">Jordan (+962)</option>
										  <option data-countryCode="KZ" value="0007">Kazakhstan (+7)</option>
										  <option data-countryCode="KE" value="0254">Kenya (+254)</option>
										  <option data-countryCode="KI" value="0686">Kiribati (+686)</option>
										  <option data-countryCode="KP" value="0850">Korea - North (+850)</option>
										  <option data-countryCode="KR" value="0082">Korea - South (+82)</option>
										  <option data-countryCode="KW" value="0965">Kuwait (+965)</option>
										  <option data-countryCode="KG" value="0996">Kyrgyzstan (+996)</option>
										  <option data-countryCode="LA" value="0856">Laos (+856)</option>
										  <option data-countryCode="LV" value="0371">Latvia (+371)</option>
										  <option data-countryCode="LB" value="0961">Lebanon (+961)</option>
										  <option data-countryCode="LS" value="0266">Lesotho (+266)</option>
										  <option data-countryCode="LR" value="0231">Liberia (+231)</option>
										  <option data-countryCode="LY" value="0218">Libya (+218)</option>
										  <option data-countryCode="LI" value="0417">Liechtenstein (+417)</option>
										  <option data-countryCode="LT" value="0370">Lithuania (+370)</option>
										  <option data-countryCode="LU" value="0352">Luxembourg (+352)</option>
										  <option data-countryCode="MO" value="0853">Macao (+853)</option>
										  <option data-countryCode="MK" value="0389">Macedonia (+389)</option>
										  <option data-countryCode="MG" value="0261">Madagascar (+261)</option>
										  <option data-countryCode="MW" value="0265">Malawi (+265)</option>
										  <option data-countryCode="MY" value="0060">Malaysia (+60)</option>
										  <option data-countryCode="MV" value="0960">Maldives (+960)</option>
										  <option data-countryCode="ML" value="0223">Mali (+223)</option>
										  <option data-countryCode="MT" value="0356">Malta (+356)</option>
										  <option data-countryCode="MH" value="0692">Marshall Islands (+692)</option>
										  <option data-countryCode="MQ" value="0596">Martinique (+596)</option>
										  <option data-countryCode="MR" value="0222">Mauritania (+222)</option>
										  <option data-countryCode="YT" value="0269">Mayotte (+269)</option>
										  <option data-countryCode="MX" value="0052">Mexico (+52)</option>
										  <option data-countryCode="FM" value="0691">Micronesia (+691)</option>
										  <option data-countryCode="MD" value="0373">Moldova (+373)</option>
										  <option data-countryCode="MC" value="0377">Monaco (+377)</option>
										  <option data-countryCode="MN" value="0976">Mongolia (+976)</option>
										  <option data-countryCode="MS" value="1664">Montserrat (+1664)</option>
										  <option data-countryCode="MA" value="0212">Morocco (+212)</option>
										  <option data-countryCode="MZ" value="0258">Mozambique (+258)</option>
										  <option data-countryCode="MN" value="0095">Myanmar (+95)</option>
										  <option data-countryCode="NA" value="0264">Namibia (+264)</option>
										  <option data-countryCode="NR" value="0674">Nauru (+674)</option>
										  <option data-countryCode="NP" value="0977">Nepal (+977)</option>
										  <option data-countryCode="NL" value="0031">Netherlands (+31)</option>
										  <option data-countryCode="NC" value="0687">New Caledonia (+687)</option>
										  <option data-countryCode="NZ" value="0064">New Zealand (+64)</option>
										  <option data-countryCode="NI" value="0505">Nicaragua (+505)</option>
										  <option data-countryCode="NE" value="0227">Niger (+227)</option>
										  <option data-countryCode="NG" value="0234">Nigeria (+234)</option>
										  <option data-countryCode="NU" value="0683">Niue (+683)</option>
										  <option data-countryCode="NF" value="0672">Norfolk Islands (+672)</option>
										  <option data-countryCode="NP" value="0670">Northern Marianas (+670)</option>
										  <option data-countryCode="NO" value="0047">Norway (+47)</option>
										  <option data-countryCode="OM" value="0968">Oman (+968)</option>
										  <option data-countryCode="PK" value="0092">Pakistan (+92)</option>
										  <option data-countryCode="PW" value="0680">Palau (+680)</option>
										  <option data-countryCode="PA" value="0507">Panama (+507)</option>
										  <option data-countryCode="PG" value="0675">Papua New Guinea (+675)</option>
										  <option data-countryCode="PY" value="0595">Paraguay (+595)</option>
										  <option data-countryCode="PE" value="0051">Peru (+51)</option>
										  <option data-countryCode="PH" value="0063">Philippines (+63)</option>
										  <option data-countryCode="PL" value="0048">Poland (+48)</option>
										  <option data-countryCode="PT" value="0351">Portugal (+351)</option>
										  <option data-countryCode="PR" value="1787">Puerto Rico (+1787)</option>
										  <option data-countryCode="QA" value="0974">Qatar (+974)</option>
										  <option data-countryCode="RE" value="0262">Reunion (+262)</option>
										  <option data-countryCode="RO" value="0040">Romania (+40)</option>
										  <option data-countryCode="RU" value="0007">Russia (+7)</option>
										  <option data-countryCode="RW" value="0250">Rwanda (+250)</option>
										  <option data-countryCode="SM" value="0378">San Marino (+378)</option>
										  <option data-countryCode="ST" value="0239">Sao Tome &amp; Principe (+239)</option>
										  <option data-countryCode="SA" value="0966">Saudi Arabia (+966)</option>
										  <option data-countryCode="SN" value="0221">Senegal (+221)</option>
										  <option data-countryCode="CS" value="0381">Serbia (+381)</option>
										  <option data-countryCode="SC" value="0248">Seychelles (+248)</option>
										  <option data-countryCode="SL" value="0232">Sierra Leone (+232)</option>
										  <option data-countryCode="SG" value="0065">Singapore (+65)</option>
										  <option data-countryCode="SK" value="0421">Slovak Republic (+421)</option>
										  <option data-countryCode="SI" value="0386">Slovenia (+386)</option>
										  <option data-countryCode="SB" value="0677">Solomon Islands (+677)</option>
										  <option data-countryCode="SO" value="0252">Somalia (+252)</option>
										  <option data-countryCode="ZA" value="0027">South Africa (+27)</option>
										  <option data-countryCode="ES" value="0034">Spain (+34)</option>
										  <option data-countryCode="LK" value="0094">Sri Lanka (+94)</option>
										  <option data-countryCode="SH" value="0290">St. Helena (+290)</option>
										  <option data-countryCode="KN" value="1869">St. Kitts (+1869)</option>
										  <option data-countryCode="SC" value="1758">St. Lucia (+1758)</option>
										  <option data-countryCode="SR" value="0597">Suriname (+597)</option>
										  <option data-countryCode="SD" value="0249">Sudan (+249)</option>
										  <option data-countryCode="SZ" value="0268">Swaziland (+268)</option>
										  <option data-countryCode="SE" value="0046">Sweden (+46)</option>
										  <option data-countryCode="CH" value="0041">Switzerland (+41)</option>
										  <option data-countryCode="SY" value="0963">Syria (+963)</option>
										  <option data-countryCode="TW" value="0886">Taiwan (+886)</option>
										  <option data-countryCode="TJ" value="0992">Tajikistan (+992)</option>
										  <option data-countryCode="TH" value="0066">Thailand (+66)</option>
										  <option data-countryCode="TG" value="0228">Togo (+228)</option>
										  <option data-countryCode="TO" value="0676">Tonga (+676)</option>
										  <option data-countryCode="TT" value="1868">Trinidad &amp; Tobago (+1868)</option>
										  <option data-countryCode="TN" value="0216">Tunisia (+216)</option>
										  <option data-countryCode="TR" value="0090">Turkey (+90)</option>
										  <option data-countryCode="TM" value="0993">Turkmenistan (+993)</option>
										  <option data-countryCode="TC" value="1649">Turks &amp; Caicos Islands (+1649)</option>
										  <option data-countryCode="TV" value="0688">Tuvalu (+688)</option>
										  <option data-countryCode="UG" value="0256">Uganda (+256)</option>
										  <option data-countryCode="UA" value="0380">Ukraine (+380)</option>
										  <option data-countryCode="AE" value="0971">United Arab Emirates (+971)</option>
										  <option data-countryCode="UY" value="0598">Uruguay (+598)</option>
										  <option data-countryCode="UZ" value="0998">Uzbekistan (+998)</option>
										  <option data-countryCode="VU" value="0678">Vanuatu (+678)</option>
										  <option data-countryCode="VA" value="0379">Vatican City (+379)</option>
										  <option data-countryCode="VE" value="0058">Venezuela (+58)</option>
										  <option data-countryCode="VN" value="0084">Vietnam (+84)</option>
										  <option data-countryCode="VG" value="0001">Virgin Islands - British (+1)</option>
										  <option data-countryCode="VI" value="0001">Virgin Islands - US (+1)</option>
										  <option data-countryCode="WF" value="0681">Wallis &amp; Futuna (+681)</option>
										  <option data-countryCode="YE" value="0969">Yemen (North)(+969)</option>
										  <option data-countryCode="YE" value="0967">Yemen (South)(+967)</option>
										  <option data-countryCode="ZM" value="0260">Zambia (+260)</option>
										  <option data-countryCode="ZW" value="0263">Zimbabwe (+263)</option>
										</select>
										  </div>
										  <div class="col-md-1 ml-n1" style="color: red;">*</div>
										  </div>
									  </div>
									  <div class="form-group"><div class="row"><div class="col-md-7">
										  <input type="text" value="" id="unique_name_value" class="form-control" readonly placeholder="System Name" name="system_name"></div>

									  </div></div>
									  <div class="form-group"><div class="row"><div class="col-md-7">
										  <input type="text" class="form-control is-integer" placeholder="Enter First Name " name="fname" required></div>
										  <div class="col-md-1 ml-n1" style="color: red;">*</div>
									  </div></div>
									  <div class="form-group"><div class="row"><div class="col-md-7">
									    <input type="text" class="form-control is-integer"   placeholder="Enter Last Name " name="lname">
									  </div></div></div>
									  <div class="form-group"><div class="row"><div class="col-md-7">
									     <input type="text" class="form-control is-integer"  placeholder="Enter Alias Name " name="alias">
									  </div></div></div>
									  <div class="form-group"><div class="row"><div class="col-md-7">
										  <input type="email" class="form-control" aria-describedby="emailHelp"  placeholder="Enter Email " name="email" autocomplete="true" required></div>
										  <div class="col-md-1 ml-n1" style="color: red;">*</div>
									  </div></div>

									  <div class="form-group"><div class="row"><div class="col-md-7">
									     <input type="tel" class="form-control"   placeholder="Enter Contact Number " name="number" >
									  </div></div></div>

									  <div class="form-group"><div class="row"><div class="col-md-7">
										  <input type="password" class="form-control"  id="default-password" placeholder="Enter Password " name="password" autocomplete="true" required></div>
										  <div class="col-md-1  ml-n5 mt-2 pl-1"><i class="far fa-eye" id="togglePassword"></i></div>
										  <div class="col-md-1 ml-n1" style="color: red;">*</div>
									  </div></div>
										<input type="hidden" value="seller" name="accType">

									<button class="btn btn-primary mt-3" type="submit" disabled id="add-new-button" >Submit</button>
									<button class="btn btn-danger mt-3" type="button" onclick="cancel()">Cancel</button>
									</form>
								</div>
							</div>


						</div>

					</div>

				</div>
			</div>
		</div>

</section>


<section class="floatingButtonHere" style="display: none;" id="floating-button">
	<button class="btn btn-primary" id="floating-confirm" onclick="delete_multiple_users();">Proceed</button>
	<a href="admin-seller" class=" btn btn-danger">Cancel</a>
</section>


	<!--	to show login of history-->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title font-weight-bold" id="modal-title-history">Login History of Seller ABC</h5>
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</div>
			<div class="modal-body" id="modal-body-login-history">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Sr. No.</th>
								<th scope="col">Date</th>
								<th scope="col">Time</th>
								<th scope="col">Device Name</th>
								<th scope="col">Login IP Address</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>20/06/5</td>
								<td>5:30pm</td>
								<td>Samsung</td>
								<td>10.2.0.10:8090</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Return</button>
      </div>
		</div>
	</div>
</div>

<!--	to show confirmation popup of single delete-->
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Message</h5>
				<a href="" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
			</div>
			<div class="modal-body text-center p-4">
				<i class="fas fa-check-circle fa-3x" style="color: green;" id="confirm-message-color"></i>
				<p class="pt-2 font-weight-bold" id="confirm-message"></p>

			</div>

		</div>
	</div>
</div>


<!--	to show confirmation of delete and freeze-->
<div class="modal fade" id="imagemodalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
				<a href="" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
			</div>
			<div class="modal-body text-center p-4">
				<i class="fa fa-question-circle fa-3x" style="color: #bd2130;" id="confirm-message-color"></i>
				<p class="pt-2 font-weight-bold" id="confirm-message-delete"></p>

			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-primary" id="confirm-modal-button" onclick="sendsellerspk();">Confirm</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
		  	</div>
		</div>
	</div>
</div>


<!--	to delete sellers names-->
	<form action="delete_multiple_user" method="post" name="delete_multiple">
		{% csrf_token %}
		<input type="hidden" id="assign_values" name="values">
		<input type="hidden" value="seller" name="accType">
	</form>


<!--	to freeze sellers -->
	<form action="freeze_multiple_user" method="post" name="freeze_multiple">
		{% csrf_token %}
		<input type="hidden" id="freeze_values_seller" name="freeze_values">
		<input type="hidden" value="seller" name="accType">
	</form>

<!--	to start chat multiple -->
	<form action="chat_multiple" method="post" name="chat_form">
		{% csrf_token %}
		<input type="hidden" id="user_values" name="users">
		<input type="hidden" value="seller" name="accType">
		<input type="hidden" value="" id="broadcast_action" name="action">
	</form>
	<!--	to start chat to a single user -->
	<form action="chat" method="post" name="single_chat">
		{% csrf_token %}
		<input type="hidden" id="chatting_to" name="email_user">
	</form>

<script src="{% static 'tesafe/js/ajax.js' %}"></script>
<script src="{% static 'js/dropdown.js' %}"></script>
<script src="{% static 'js/mark_read.js' %}"></script>
<script type="text/javascript">

	// Shorthand for $( document ).ready()
	// for message showing
		$(function() {
			setTimeout(function(){
				$("#msg").removeClass('bg-light');
				$("#msg").html('');
			}, 4000);
			{% if messages %}
			$("#msg").addClass('bg-light');
			{% endif %}
			$("#msg").html('{% for msg in messages %}<h3 class="text-danger">{{msg}}</h3>{% endfor %}');
		});



	// function to check is contains integer or not
	$('.is-integer').on('change', function(){
		var value = $(this).val();
		isnum = /^\d/.test(value)   // to check if it is starting with num
		// isnum = /^\d+$/.test(value);   to check if it is only containing num
		if( isnum ){
			$("#add-new-button").attr("disabled", true);
		}else{
			if(value ==""){
				$("#add-new-button").attr("disabled", true);
			}else{
				$("#add-new-button").attr("disabled", false);
			}
		}
	});

let checkbox_values = [];

// search filter table
	$(document).ready(function(){
		$("#myInput").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#myTable tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});


	// to remove all occurrence of the element
	function removeItemAll(value) {
		  var i = 0;
		  while (i < checkbox_values.length) {
				if (checkbox_values[i] === value) {
				  checkbox_values.splice(i, 1);
				} else {
				  ++i;
				}
		  }
	}


	// check all checkbox in one click

		$('#checkAll').click(function () {

			var ele = $(".check");
			if ($("#checkAll").is(':checked')) {
				$(".check").prop("checked", true);
				for(i=0;i<ele.length;i++){
					checkbox_values.push(ele[i].value);
				}
			}else{
				$(".check").prop("checked", false);
				for(i=0;i<ele.length;i++){
					removeItemAll(ele[i].value);
				}
			}

			if( checkbox_values.length == 0){
				$("#floating-confirm").attr('disabled', true);
			}else{
				$("#floating-confirm").attr('disabled', false);
			}
		});



	$('input[type="checkbox"]').click(function(){
		if($(this).attr("name")=="floatingButtonHere"){
			if($(this).is(':checked')){
				checkbox_values.push($(this).val());
			}else{
				removeItemAll($(this).val());
			}
		}
		if( checkbox_values.length == 0){
			$("#floating-confirm").attr('disabled', true);
		}else{
			$("#floating-confirm").attr('disabled', false);
		}
		console.log(checkbox_values);
	});





	// division hide/show js
// add new account
	function myfun1(){
		document.getElementById("div-1").style.display = "none";
		document.getElementById("div-2").style.display = "block";
		document.getElementById("floating-button").style.display = "none";
	}


	function cancel() {
		document.getElementById("div-2").style.display = "none";
		document.getElementById("div-1").style.display = "block";
	}



function myFunction() {
  	document.getElementById("checkAll").disabled = false;
    $(".check").attr("disabled",false);
    $("#floating-confirm").attr('onclick','delete_multiple_users()');
    $("#floating-confirm").attr('disabled', true);
    $(".floatingButtonHere").show(150);
}

function freeze(){
	document.getElementById("checkAll").disabled = false;
    $(".check").attr("disabled",false);

	$("#floating-confirm").attr('onclick','freeze_multiple_users()');
	$("#floating-confirm").attr('disabled', true);
	$(".floatingButtonHere").show(150);
}

function chat(){
	document.getElementById("checkAll").disabled = false;
    $(".check").attr("disabled",false);

	$("#floating-confirm").attr('onclick','chat_multiple()');
	$("#floating-confirm").attr('disabled', true);
	$(".floatingButtonHere").show(150);
}


function chat_multiple(){
	checkbox_values = [...new Set(checkbox_values)];
	$('#user_values').attr('value', checkbox_values);
	$('#broadcast_action').attr('value', "Chatting");
	document.forms['chat_form'].submit();
}

function broadcast(){
	document.getElementById("checkAll").disabled = false;
    $(".check").attr("disabled",false);
	$("#checkAll").click();
	checkbox_values = [...new Set(checkbox_values)];
	$('#user_values').attr('value', checkbox_values);
	$('#broadcast_action').attr('value', "Broadcasting");
	document.forms['chat_form'].submit();
}

 // to show confirmation modal
function delete_multiple_users(){
	checkbox_values = [...new Set(checkbox_values)];

	if( checkbox_values.length == 1 ){
		$("#confirm-message-delete").html("Delete the selected "+checkbox_values.length+" Seller");
	}else{
		$("#confirm-message-delete").html("Delete the selected "+checkbox_values.length+" Sellers");
	}

	$("#confirm-modal-button").attr('onclick','sendsellerspk();');
	$('.imagepreview').attr('src', $(this).find('img').attr('src'));
	$('#imagemodalConfirm').modal('show');

}


function freeze_multiple_users(){
	checkbox_values = [...new Set(checkbox_values)];

	if ( checkbox_values.length == 1 ){
		$("#confirm-message-delete").html("Freeze the selected "+checkbox_values.length+" Seller");
	}else{
		$("#confirm-message-delete").html("Freeze the selected "+checkbox_values.length+" Sellers");
	}

	$("#confirm-modal-button").attr('onclick','sendSellersPKFreeze();');
	$('.imagepreview').attr('src', $(this).find('img').attr('src'));
	$('#imagemodalConfirm').modal('show');

}


function sendsellerspk(){
	$("#assign_values").attr('value', checkbox_values);
	document.forms['delete_multiple'].submit();

	checkbox_values = [];

}

function sendSellersPKFreeze(){
		$("#freeze_values_seller").attr('value', checkbox_values);
		document.forms['freeze_multiple'].submit();

		checkbox_values = [];
}

// to add predefined password values
$(function (){
	var d = new Date();
	var year = String(d.getFullYear());
	var month = d.getMonth();
	var day = d.getDate();
	var hour = d.getHours();
	if(month <= 9){
		month = String(month);
		month = '0' + month;
	}
	if(day <= 9){
		day = String(day);
		day = '0' + day;
	}
	if(hour <= 9){
		hour = String(hour);
		hour = '0' + hour;
	}


	var password = year + month + day + hour;
	console.log(password);
	$("#default-password").attr("value",password);
})

const togglePassword = document.querySelector('#togglePassword');
const password = document.querySelector('#default-password');

togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});

//to chat a single user
function custom_chat(email){
	$('#chatting_to').attr('value', email);
	document.forms['single_chat'].submit();
}
</script>
</body>
</html>