{% load static %}

<!DOCTYPE html>
<html>
<head>

	<title>Admin | PWG</title>


		<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="bootstrap4/css/bootstrap.min.css">
<link rel="stylesheet" href="bootstrap4/css/bootstrap">
<link rel="stylesheet" href="bootstrap4/css/bootstrap-grid">
<link rel="stylesheet" href="bootstrap4/css/bootstrap-grid.min">
<link rel="stylesheet" href="bootstrap4/css/bootstrap-reboot">
<link rel="stylesheet" href="bootstrap4/css/bootstrap-reboot.min"> -->

<!-- Latest compiled JavaScript -->
<!-- <script src="bootstrap4/js/bootstrap.min.js"></script>
<script src="bootstrap4/js/bootstrap.bundle"></script>
<script src="bootstrap4/js/bootstrap.bundle.min"></script>
<script src="bootstrap4/js/bootstrap.js"></script>
<script src="bootstrap4/js/popper.min.js"></script> -->




<!-- Popper JS -->
<!-- 	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->


<!-- jQuery library -->
<!-- <script src="bootstrap4/js/jquery.min.js"></script> -->

<!-- fontawesome cdn -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'tesafe/css/admin-info-server.css' %}">
</head>
<body>



	<section class="bg-light">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light ">

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item pl-3">
							<a class="nav-link "  href="admin-home">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link " href="admin-seller">Seller</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link" href="admin-tester">Tester</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link active" href="admin-info-server">PWG Server</a>
						</li>

						<!-- <li class="nav-item pl-3">
							<a class="nav-link" href="admin-info-server.html">Unread Messages <span><i class="fas fa-bell"></i></span></a>
						</li> -->
					</ul>

				</div>

					<a class="navbar-brand pr-3" href="#" style="color: green; font-size: 30px; position: relative;"><i class="fas fa-bell"></i><span class="badge badge-danger" style="position: absolute; top: -5px; font-size: 14px; left:15px; ">1</span></a>

				<div class="dropdown  dropleft float-xl-right mb-0" >
					<button  class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="">Broadcast</a>
						<a class="dropdown-item" href="#div-4" onclick="myfun5()">Add New</a>
						<a class="dropdown-item" href="#">Delete</a>
						<a class="dropdown-item" href="#div-3" onclick="myfun2()">Change Password</a>
						<a class="dropdown-item" href="#div-5" onclick="myfun3()">Tested PWG List</a>
						<a class="dropdown-item" href="#div-2" onclick="myfun4()">Summary PWG</a>
						<a class="dropdown-item" href="admin-home" >Exit</a>
					</div>
				</div>


			</nav>
		</div>
	</section>



	<section class="bg-detail">
		<div class="container-fluid">
			<div class="row justify-content-center">
			<!-- 	<div class="col-md-3 bg-user">
					<div class="row">
						<ul class="nav py-2">

							<li class="nav-item display-block">
								<a class="nav-link font-weight-bold text-success" href="#">Unread Messages ( 4 )</a>
							</li>
						</ul>
					</div>

					<div class="row" style="overflow:scroll; height:520px;">
						<div class="col-md ">
							<a href="">
								<div class="d-flex bd-highlight border-bottom border-top pt-2">
									<div class="p-2 flex-shrink-1 bd-highlight"><img src="images/banner-8.jpg" class="rounded-circle" height="50" width="50"></div>
									<div class="p-2 w-100 bd-highlight"><p class="mb-0">Naqui Hasan</p>
										<p><i class="fas fa-circle fa-1x"></i> Online</p>
									</div>
								</div>
							</a>

							<a href="">
								<div class="d-flex bd-highlight border-bottom pt-2">
									<div class="p-2 flex-shrink-1 bd-highlight"><img src="images/banner-8.jpg" class="rounded-circle" height="50" width="50"></div>
									<div class="p-2 w-100 bd-highlight"><p class="mb-0">Naqui Hasan</p>
										<p><i class="fas fa-circle fa-1x"></i> Online</p>
									</div>
								</div>
							</a>

							<a href="">
								<div class="d-flex bd-highlight border-bottom pt-2">
									<div class="p-2 flex-shrink-1 bd-highlight"><img src="images/banner-8.jpg" class="rounded-circle" height="50" width="50"></div>
									<div class="p-2 w-100 bd-highlight"><p class="mb-0">Naqui Hasan</p>
										<p><i class="fas fa-circle fa-1x"></i> Online</p>
									</div>
								</div>
							</a>

							<a href="">
								<div class="d-flex bd-highlight border-bottom pt-2">
									<div class="p-2 flex-shrink-1 bd-highlight"><img src="images/banner-8.jpg" class="rounded-circle" height="50" width="50"></div>
									<div class="p-2 w-100 bd-highlight"><p class="mb-0">Naqui Hasan</p>
										<p><i class="fas fa-circle fa-1x"></i> Online</p>
									</div>
								</div>
							</a>

							<a href="">
								<div class="d-flex bd-highlight border-bottom pt-2">
									<div class="p-2 flex-shrink-1 bd-highlight"><img src="images/banner-8.jpg" class="rounded-circle" height="50" width="50"></div>
									<div class="p-2 w-100 bd-highlight"><p class="mb-0">Naqui Hasan</p>
										<p><i class="fas fa-circle fa-1x"></i> Online</p>
									</div>
								</div>
							</a>

							<a href="">
								<div class="d-flex bd-highlight border-bottom pt-2">
									<div class="p-2 flex-shrink-1 bd-highlight"><img src="images/banner-8.jpg" class="rounded-circle" height="50" width="50"></div>
									<div class="p-2 w-100 bd-highlight"><p class="mb-0">Naqui Hasan</p>
										<p><i class="fas fa-circle fa-1x"></i> Online</p>
									</div>
								</div>
							</a>

							<a href="">
								<div class="d-flex bd-highlight border-bottom pt-2">
									<div class="p-2 flex-shrink-1 bd-highlight"><img src="images/banner-8.jpg" class="rounded-circle" height="50" width="50"></div>
									<div class="p-2 w-100 bd-highlight"><p class="mb-0">Naqui Hasan</p>
										<p><i class="fas fa-circle fa-1x"></i> Online</p>
									</div>
								</div>
							</a>

							<a href="">
								<div class="d-flex bd-highlight border-bottom pt-2">
									<div class="p-2 flex-shrink-1 bd-highlight"><img src="images/banner-8.jpg" class="rounded-circle" height="50" width="50"></div>
									<div class="p-2 w-100 bd-highlight"><p class="mb-0">Naqui Hasan</p>
										<p><i class="fas fa-circle fa-1x"></i> Online</p>
									</div>
								</div>
							</a>

							<a href="">
								<div class="d-flex bd-highlight border-bottom pt-2">
									<div class="p-2 flex-shrink-1 bd-highlight"><img src="images/banner-8.jpg" class="rounded-circle" height="50" width="50"></div>
									<div class="p-2 w-100 bd-highlight"><p class="mb-0">Naqui Hasan</p>
										<p><i class="fas fa-circle fa-1x"></i> Online</p>
									</div>
								</div>
							</a>

							<a href="">
								<div class="d-flex bd-highlight border-bottom pt-2">
									<div class="p-2 flex-shrink-1 bd-highlight"><img src="images/banner-8.jpg" class="rounded-circle" height="50" width="50"></div>
									<div class="p-2 w-100 bd-highlight"><p class="mb-0">Naqui Hasan</p>
										<p><i class="fas fa-circle fa-1x"></i> Online</p>
									</div>
								</div>
							</a>

							<div class="d-flex bd-highlight border-bottom pt-2">
								<div class="p-2 flex-shrink-1 bd-highlight"><img src="images/banner-8.jpg" class="rounded-circle" height="50" width="50"></div>
								<div class="p-2 w-100 bd-highlight"><p class="mb-0">Naqui Hasan</p>
									<p><i class="fas fa-circle fa-1x"></i> Online</p>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<div class="col-md-10 py-5 px-5">
						<!-- <div class="row bg-button-2 p-4">

							<div class="col-md mb-2" >
								<div class="card" onclick="myfun()">
									<div class="card-body">
										<div class="card-title">
											PWG SERVER ACCOUNT LIST
										</div>
									</div>
								</div>
							</div>

							<div class="col-md mb-2" >
								<div class="card" onclick="myfun1()">
									<div class="card-body">
										<div class="card-title">
											ADD PWGS SERVER SELLER ACCOUNT
										</div>
									</div>
								</div>
							</div>

							<div class="col-md mb-2" >
								<div class="card px-3" onclick="myfun2()">
									<div class="card-body">
										<div class="card-title">
											PWG INFO SERVER
										</div>
									</div>
								</div>
							</div>

						</div> -->

						<div class="row justify-content-center bg-button-2 p-xl-4 mt-3" id="div-1" >

						<div class="col-md">

							<header>
								<nav class="navbar navbar-light  venue-registration">
									<a class="h4 text-dark font-weight-bold pt-2">PWG ACCOUNT LIST</a>
									<form class="form-inline">
										<div class="input-group-prepend mb-1 mr-2">
											<span class="input-group-text" id="addon-wrapping"><i class="fas fa-search fa-1x"></i></span>
											<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" id="myInput">
										</div>

									</form>
								</nav>
							</header>




							<div class="table-responsive">


								<br>
								<table class="table">
									<thead>
										<tr>

											<th scope="col" style="position: relative;"><input type="checkbox" name="checkAll" id="checkAll"> <i class="fas fa-sort-down"></i></th>
											<th scope="col">Name</th>
											<th scope="col">Action</th>


										</tr>
									</thead>
									<tbody id="myTable">
									{% for i in num %}
										<tr data-toggle="tooltip" data-placement="top" title="this PWG is assign to Faiz elahi">

											<th><input type="checkbox" name="book"></th>
											<td class="pop" style="cursor:pointer;"><span><img src="{% static 'tesafe/images/faiz.png' %}" height="40" width="40" class="rounded-circle"></span> Faiz Elahi</td>
											<td><div class="dropup  mb-0 ml-xl-3  ml-sm-2" >
												<button  class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
													<i class="fas fa-ellipsis-v"></i>
												</button>
												<div class="dropdown-menu">
													<!-- <a class="dropdown-item" href="#">Chat</a>
													<a class="dropdown-item" href="">Payment</a> -->
													<a class="dropdown-item pop1" href="#" > Login Record </a>
													<!-- <a class="dropdown-item" href="" >Chat History</a> -->
													<a class="dropdown-item" href="" >Delete</a>
												<!-- 	<a class="dropdown-item" href="" >Freeze</a> -->
												</div>
											</div></td>
										</tr>
										<tr data-toggle="tooltip" data-placement="top" title="this PWG is assign to Faiz elahi">

											<th><input type="checkbox" name="book"></th>
											<td class="pop" style="cursor:pointer;"><span><img src="{% static 'tesafe/images/naqui.jpg' %}" height="40" width="40" class="rounded-circle"></span> Naqui</td>
											<td><div class="dropup  mb-0 ml-xl-3  ml-sm-2" >
												<button  class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
													<i class="fas fa-ellipsis-v"></i>
												</button>
												<div class="dropdown-menu">
													<!-- <a class="dropdown-item" href="#">Chat</a>
													<a class="dropdown-item" href="">Payment</a> -->
													<a class="dropdown-item pop1" href="#" > Login Record </a>
													<!-- <a class="dropdown-item" href="" >Chat History</a> -->
													<a class="dropdown-item" href="" >Delete</a>
												<!-- 	<a class="dropdown-item" href="" >Freeze</a> -->
												</div>
											</div></td>
										</tr>

										<tr data-toggle="tooltip" data-placement="top" title="this PWG is assign to Faiz elahi">
											<th><input type="checkbox" name="book"></th>
											<td class="pop" style="cursor:pointer;"><span><img src="{% static 'tesafe/images/tesafe.jpg' %}" height="40" width="40" class="rounded-circle"> </span>Frank</td>
											<td><div class="dropup  mb-0 ml-xl-3  ml-sm-2" >
												<button  class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
													<i class="fas fa-ellipsis-v"></i>
												</button>
												<div class="dropdown-menu">
													<!-- <a class="dropdown-item" href="#">Chat</a>
													<a class="dropdown-item" href="">Payment</a> -->
													<a class="dropdown-item pop1" href="#" > Login Record </a>
													<!-- <a class="dropdown-item" href="" >Chat History</a> -->
													<a class="dropdown-item" href="" >Delete</a>
												<!-- 	<a class="dropdown-item" href="" >Freeze</a> -->
												</div>
											</div></td>
										</tr>

										<tr data-toggle="tooltip" data-placement="top" title="this PWG is assign to Faiz elahi">
											<th><input type="checkbox" name="book"></th>
											<td class="pop" style="cursor:pointer;"><span><img src="{% static 'tesafe/images/banner-8.jpg' %}" height="40" width="40" class="rounded-circle"> </span>Jennifer</td>
											<td><div class="dropup  mb-0 ml-xl-3  ml-sm-2" >
												<button  class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
													<i class="fas fa-ellipsis-v"></i>
												</button>
												<div class="dropdown-menu">
													<!-- <a class="dropdown-item" href="#">Chat</a>
													<a class="dropdown-item" href="">Payment</a> -->
													<a class="dropdown-item pop1" href="#" > Login Record </a>
													<!-- <a class="dropdown-item" href="" >Chat History</a> -->
													<a class="dropdown-item" href="" >Delete</a>
												<!-- 	<a class="dropdown-item" href="" >Freeze</a> -->
												</div>
											</div></td>
										</tr>
									{% endfor %}

									</tbody>
								</table>
							</div>
						</div>

					</div>


						<div class="row  bg-button-2 p-4 mt-3" id="div-2" style="display: none;">

							<div class="col-md-6">
								<h4 class="font-weight-bold">Summary PWG</h4>
								<div class="tabl-responsive">
									<table class="table">
										<tbody>
											<tr>
												<th scope="row">Total Number PWG Server is Online</th>
												<td>12</td>

											</tr>
											<tr>
												<th scope="row">Total Number PWG Server is Offline</th>
												<td>15</td>

											</tr>

											<tr>
												<th scope="row">Total Number PWG Server</th>
												<td>15</td>

											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="row justify-content-center bg-button-2 p-4 mt-3" id="div-3" style="display: none;">

							<div class="col-md">
								<h5 class="font-weight-bold"> <span><i class="fas fa-caret-right"></i></span> Change PWGs Account Password</h5>
								<div class="row ">
									<div class="col-md-8 py-3">

										<form>

											<div class="form-row">
												<div class="col-md mb-2">
													<input type="Password" class="form-control" placeholder=" Enter Old Password">
												</div>
											</div>

											<div class="form-row">

												<div class="col-md mb-2">
													<input type="Password" class="form-control" placeholder=" Enter New Password">
												</div>
												<div class="col-md mb-2">
													<input type="Password" class="form-control" placeholder=" Confirm Password">
												</div>
											</div>

											<div class="form-row">
												<div class="col-md-4 mb-2">
													<button  type="submit" class="btn btn-success btn-block">Proceed</button>
												</div>
												<div class="col-md-4">
												<a href="" class="btn-danger btn text-white">Cancel</a>
													</div>
											</div>

										</form>
									</div>
								</div>
							</div>

						</div>


						<div class="row justify-content-center bg-button-2 p-4 mt-3" id="div-4" style="display: none;">

							<div class="col-md">
								<h5 class="font-weight-bold"> <span><i class="fas fa-caret-right"></i></span> Add PWG Account</h5>
								<div class="row">
									<div class="col-md py-3">
										<form>
											<div class="row">
												<div class="col-md mb-2">
													<input type="text" class="form-control" placeholder="Enter Name">
												</div>
												<div class="col-md mb-2">
													<input type="email" class="form-control" placeholder="Enter Email">
												</div>

												<div class="col-md mb-2">
													<input type="password" class="form-control" placeholder="Enter Password">
												</div>

												<div class="col-md mb-2">
													<button class="btn btn-primary" type="submit">Submit</button>
													<a href="" class="btn-danger btn text-white">Cancel</a>
												</div>
											</div>
										</form>
									</div>
								</div>


							</div>

						</div>


						<div class="row justify-content-center bg-button-2 p-4 mt-3" id="div-5" style="display: none;">

							<div class="col-md">
								<h5 class="font-weight-bold"> <span><i class="fas fa-caret-right"></i></span> List Of Tested PWG</h5>
								<div class="table-responsive">
									<table class="table">
									<thead>
										<tr>
											<th scope="col">Sr. No.</th>
											<th scope="col">Name</th>
											<th scope="col">TESTED</th>



										</tr>
									</thead>
									<tbody>
									{% for i in num %}
										<tr>
											<th scope="row">{{forloop.counter}}</th>
											<td><a href="">PWG-{{forloop.counter}}</a></td>
											<td><i class="fas fa-check pl-4"></i></td>


										</tr>
									{% endfor %}
									</tbody>


								</table>

								</div>
								<button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Transfer Tested PWG to Seller</button>
								<a href="admin-info-server" class="btn btn-danger text-white">Cancel</a>

								<!-- Modal -->
								<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Transfer Tested PWG to Seller</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<div class="text-center" style="display: none;" id="successfully-transfer">
													<i class="fas fa-check-circle fa-3x" style="color: green;"></i>
													<p class="pt-2 font-weight-bold "  >Your PWG has been successfully transferred to tester</p>
												</div>
												<table class="table" id="transfer-hide">
													<thead>
														<tr>
															<th scope="col">Sr. No.</th>
															<th scope="col">Name</th>
															<th scope="col">TESTED</th>
															<th scope="col">Select</th>




														</tr>
													</thead>
													<tbody>
													{% for i in num %}
														<tr>
															<th scope="row">{{forloop.counter}}</th>
															<td><a href="">PWG-{{forloop.counter}}</a></td>
															<td><i class="fas fa-check pl-4"></i></td>
															<td>
																<div class="form-check">
																	<input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
																</div>
															</td>


														</tr>
													{% endfor %}

													</tbody>


												</table>
											</div>
											<div class="modal-footer">

												<button type="button" class="btn btn-primary" onclick="transfer()">Transfer</button>
											</div>
										</div>
									</div>
								</div>


							</div>

						</div>


						<div class="row bg-button-2 p-4 mt-3" style="display: none;" id="div-6">

							<div class="col-md">
								<h5 class="font-weight-bold"> <span><i class="fas fa-caret-right"></i></span> Untested PWG  ( 09 )</h5>
								<div class="table-responsive">
									<table class="table">
									<thead>
										<tr>
											<th scope="col">Sr. No.</th>
											<th scope="col">Name</th></tr>
									</thead>
									<tbody>
									{% for i in num %}
										<tr>
											<th scope="row">{{forloop.counter}}</th>
											<td><a href="">PWG-{{forloop.counter}}</a></td>
										</tr>
									{% endfor %}
									</tbody>


								</table>
								</div>

								<button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">Assign New PWG to Tester for Testing</button>
								<a href="admin-info-server" class="btn btn-danger text-white">Cancel</a>
								<!-- Modal -->
								<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Assign New PWG to Tester for Testing</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<div class="text-center" style="display: none;" id="successfully">
													<i class="fas fa-check-circle fa-3x" style="color: green;"></i>
													<p class="pt-2 font-weight-bold "  >Your PWG has been successfully Assigned to Tester</p>
												</div>
												<div class="table-responsive" id="assign-hide">
													<table class="table">
														<thead>
															<tr>
																<th scope="col">Sr. No.</th>
																<th scope="col">Name</th>

																<th scope="col">Select</th>




															</tr>
														</thead>
														<tbody>
														{% for i in num %}
															<tr>
																<th scope="row">{{forloop.counter}}</th>
																<td><a href="">PWG-{{forloop.counter}}</a></td>

																<td>
																	<div class="form-check">
																		<input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
																	</div>
																</td>


															</tr>
														{% endfor %}
														</tbody>


													</table>
												</div>
											</div>
											<div class="modal-footer">

												<button type="button" class="btn btn-primary" onclick="assign()">Assign</button>
											</div>
										</div>
									</div>
								</div>


							</div>




						</div>

					</div>







				</div>
			</div>


		</div>
	</section>











<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</div>
			<div class="modal-body text-center">
				<p>This PWG is Assign to Faiz Elahi</p>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="imagemodal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>Login Record</h5>
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</div>
			<div class="modal-body text-center">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Sr. No.</th>
							<th scope="col">Name</th>
							<th scope="col">Date</th>
							<th scope="col">Time</th>
						</tr>
					</thead>
					<tbody>{% for i in num %}
						<tr>
							<th scope="row">{{forloop.counter}}</th>
							<td><a href="">Faiz Elahi</a></td>
							<td>05/06/2020</td>
							<td>04:30 pm</td>
						</tr>
					{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
	</div>
</div>












	<script type="text/javascript">



		// search filter table
	$(document).ready(function(){
		$("#myInput").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#myTable tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});



// modal popup
	$(function() {
		$('.pop').on('click', function() {
			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
			$('#imagemodal').modal('show');
		});
	});


	$(function() {
		$('.pop1').on('click', function() {
			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
			$('#imagemodal1').modal('show');
		});
	});


	// check all checkbox in one click

	$(document).ready(function() {

		$('#checkAll').click(function () {
			$('input:checkbox').not(this).prop('checked', this.checked);
		});

		$("[id*=book_]").change(function () {
			if ($('input[type=checkbox]:checked').length == $('input[type=checkbox]').length) {
				$('#checkAll').prop('checked', true);
			} else {
				$('#checkAll').prop('checked', false);
			}
		});

	});

		function myfun(){

			document.getElementById("div-1").style.display = "block";
			document.getElementById("div-3").style.display = "none";
			document.getElementById("div-2").style.display = "none";
			document.getElementById("div-6").style.display = "none";
			document.getElementById("div-4").style.display = "none";
			document.getElementById("div-5").style.display = "none";

		}

		function myfun1(){
			document.getElementById("div-1").style.display = "none";
			document.getElementById("div-2").style.display = "block";
			document.getElementById("div-3").style.display = "none";
			document.getElementById("div-5").style.display = "none";


		}


		function myfun2(){
			document.getElementById("div-1").style.display = "none";
			document.getElementById("div-3").style.display = "block";
			document.getElementById("div-2").style.display = "none";
			document.getElementById("div-6").style.display = "none";
			document.getElementById("div-4").style.display = "none";
			document.getElementById("div-5").style.display = "none";


		}

		function myfun3(){
			document.getElementById("div-1").style.display = "none";
			document.getElementById("div-3").style.display = "none";
			document.getElementById("div-2").style.display = "none";
			document.getElementById("div-6").style.display = "block";
			document.getElementById("div-4").style.display = "none";
			document.getElementById("div-5").style.display = "block";


		}


		function myfun4(){
			document.getElementById("div-1").style.display = "none";
			document.getElementById("div-3").style.display = "none";
			document.getElementById("div-2").style.display = "block";
			document.getElementById("div-6").style.display = "none";
			document.getElementById("div-5").style.display = "none";
			document.getElementById("div-4").style.display = "none";


		}

		function myfun5(){
			document.getElementById("div-1").style.display = "none";
			document.getElementById("div-3").style.display = "none";
			document.getElementById("div-2").style.display = "none";
			document.getElementById("div-6").style.display = "none";
			document.getElementById("div-5").style.display = "none";
			document.getElementById("div-4").style.display = "block";


		}

		function assign(){
		document.getElementById("assign-hide").style.display = "none";
		document.getElementById("successfully").style.display = "block";
	}


	function transfer(){
		document.getElementById("transfer-hide").style.display = "none";
		document.getElementById("successfully-transfer").style.display = "block";
	}




		$(function() {
			$('.pop').on('click', function() {
				$('.imagepreview').attr('src', $(this).find('img').attr('src'));
				$('#imagemodal').modal('show');
			});
		});

	</script>
</body>
</html>