{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Admin | Seller</title>


	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	

	<!-- fontawesome cdn -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'tesafe/css/admin-seller.css' %}">
</head>
<body>



	<section class="bg-light">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light ">
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item pl-3">
							<a class="nav-link "  href="admin-home">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link active" href="admin-seller">Seller</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link" href="admin-tester">Tester</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link" href="admin-info-server">PWG Server</a>
						</li>
					</ul>
					
				</div>

				<a class="navbar-brand pr-3" href="#" style="color: green; font-size: 30px; position: relative;"><i class="fas fa-bell "></i><span class="badge badge-danger" style="position: absolute; top: -5px; font-size: 14px; left:15px; ">1</span></a>

				<div class="dropdown  dropleft float-xl-right mb-0" >
					<button  class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#" onclick="myfun1()">Add New</a>
						<a class="dropdown-item" href="#" onclick="myFunction()">Delete</a>
						<a class="dropdown-item" href="#" onclick="freeze()"> Freeze </a>
						<a class="dropdown-item" href="#">Chat</a>
						<a class="dropdown-item" href="">Broadcast</a>
						<!-- <a class="dropdown-item" href="#div-3" onclick="myfun2()">Tested PWG List</a> -->
						<a class="dropdown-item" href="admin-home" >Exit</a>
					</div>
				</div>


			</nav>
		</div>
	</section>

	<section class="bg-detail">
		<div class="container-fluid">
			<div class="row justify-content-center">

				<!-- for showing error and messages-->
				<div class="col-md-10 py-2 px-5 mt-3" id="msg">

				</div>

				<div class="col-md-10  py-5 px-5">

					<div class="row justify-content-center bg-button-2 p-xl-4 mt-3" id="div-1" >

						<div class="col-md">

							<header>
								<nav class="navbar navbar-light  venue-registration">
									<a class="h4 text-dark font-weight-bold pt-2">SELLER ACCOUNTS</a>
									<form class="form-inline">
										<div class="input-group-prepend mb-1 mr-2">
											<span class="input-group-text" id="addon-wrapping"><i class="fas fa-search fa-1x"></i></span>
											<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" id="myInput">
										</div>

									</form>
								</nav>
							</header>




							<div class="table-responsive">


								<br>
								<table class="table">
									<thead>
										<tr>

											<th scope="col" style="position: relative;"><input type="checkbox" name="checkAll" id="checkAll" name="floatingButtonHere" disabled> <i class="fas fa-sort-down"></i></th>
											<th scope="col">Name</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody id="myTable">
									{% for sel in seller %}
										<tr>
											<th><input type="checkbox" name="floatingButtonHere" disabled  value="{{sel.pk}}" id="book1" class="check"></th>
											<td><span><img src="{{sel.profile_pic.url}}" height="40" width="40" class="rounded-circle"></span> {{sel.first_name}} {{sel.last_name}}</td>
											<td><a href="transfer{{sel.user.pk}}" class="btn btn-primary btn-light btn-sm">Transfer</a> <div class="dropup  mb-0 ml-xl-3  ml-sm-2" >
												<button  class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown">
													<i class="fas fa-ellipsis-v"></i>
												</button>
												<div class="dropdown-menu">
													<a class="dropdown-item" href="#">Chat</a>
													<a class="dropdown-item" href="">Payment</a>
													<a class="dropdown-item" onclick="pop({{sel.user.pk}}, 'seller');" href="#" > Login History </a>
													<a class="dropdown-item" href="" >Chat History</a>
													<a class="dropdown-item" onclick="delete_user({{sel.user.pk}},'seller');" href="#" >Delete</a>
													{% if sel.is_freeze %}
													<a class="dropdown-item" onclick="unfreeze_user({{sel.id}}, 'seller');">Unfreeze</a>
													{% else %}
													<a class="dropdown-item" onclick="freeze_user({{sel.id}}, 'seller');">Freeze</a>
													{% endif %}
												</div>
											</div></td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>

					</div>


					<div class="row justify-content-center bg-button-2 p-4 mt-3" id="div-2" style="display: none;">

						<div class="col-md">
							<h5 class="font-weight-bold"> <span><i class="fas fa-caret-right"></i></span> Add Seller Account</h5>
							<div class="row">
								<div class="col-md-6 py-3">
									{% for msg in messages %}
										<label class="text-danger">{{msg}}</label>
									{% endfor %}
									<form method="post" action="add-new">
										{% csrf_token %}
									  <div class="form-group">
									    <input type="text" class="form-control is-integer" placeholder="Enter First Name " name="fname">
									  </div>
									  <div class="form-group">
									    <input type="text" class="form-control is-integer"   placeholder="Enter Last Name " name="lname">
									  </div>
									  <div class="form-group">
									     <input type="text" class="form-control is-integer"  placeholder="Enter Alias Name " name="alias">
									  </div>
									  <div class="form-group">
									     <input type="email" class="form-control" aria-describedby="emailHelp"  placeholder="Enter Email " name="email" autocomplete="true" required>
									  </div>

									  <div class="form-group">
									     <input type="tel" class="form-control"   placeholder="Enter Contact Number " name="number" >
									  </div>

									  <div class="form-group">
									     <input type="password" class="form-control"  placeholder="Enter Password " name="password" autocomplete="true" required>
									  </div>
										<input type="hidden" value="seller" name="accType">

									<button class="btn btn-primary" type="submit" disabled>Submit</button>
									<button class="btn btn-danger" type="button" onclick="cancel()">Cancel</button>
									</form>
								</div>
							</div>


						</div>

					</div>

				</div>
			</div>
		</div>


	</div>
</section>


<section class="floatingButtonHere" style="display: none;" id="floating-button">
	<a href="#" class="btn btn-primary" id="floating-confirm" onclick="delete_multiple_users();">Proceed</a>
	<a href="admin-seller" class=" btn btn-danger">Cancel</a>
</section>


	<!--	to show login of history-->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title font-weight-bold" id="modal-title-history">Login History of Seller ABC</h5>
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</div>
			<div class="modal-body" id="modal-body-login-history">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Sr. No.</th>
								<th scope="col">Date</th>
								<th scope="col">Time</th>
								<th scope="col">Device Name</th>
								<th scope="col">Login IP Address</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>20/06/5</td>
								<td>5:30pm</td>
								<td>Samsung</td>
								<td>10.2.0.10:8090</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Return</button>
      </div>
		</div>
	</div>
</div>

<!--	to show confirmation popup of single delete-->
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Message</h5>
				<a href="" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
			</div>
			<div class="modal-body text-center p-4">
				<i class="fas fa-check-circle fa-3x" style="color: green;" id="confirm-message-color"></i>
				<p class="pt-2 font-weight-bold" id="confirm-message"></p>

			</div>

		</div>
	</div>
</div>


<!--	to show confirmation of delete and freeze-->
<div class="modal fade" id="imagemodalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
				<a href="" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
			</div>
			<div class="modal-body text-center p-4">
				<i class="fa fa-question-circle fa-3x" style="color: #bd2130;" id="confirm-message-color"></i>
				<p class="pt-2 font-weight-bold" id="confirm-message-delete"></p>

			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-primary" id="confirm-modal-button" onclick="sendsellerspk();">Confirm</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
		  	</div>
		</div>
	</div>
</div>

<!--	to delete sellers names-->
	<form action="delete_multiple_user" method="post" name="delete_multiple">
		{% csrf_token %}
		<input type="hidden" id="assign_values" name="values">
		<input type="hidden" value="seller" name="accType">

	</form>


<!--	to freeze sellers -->
	<form action="freeze_multiple_user" method="post" name="freeze_multiple">
		{% csrf_token %}
		<input type="hidden" id="freeze_values" name="freeze_values">
		<input type="hidden" value="seller" name="accType">
	</form>


<script src="{% static 'tesafe/js/ajax.js' %}"></script>
<script type="text/javascript">

	// Shorthand for $( document ).ready()
		$(function() {
			setTimeout(function(){
				$("#msg").removeClass('bg-light');
				$("#msg").html('');
			}, 4000);
			{% if messages %}
			$("#msg").addClass('bg-light');
			{% endif %}
			$("#msg").html('{% for msg in messages %}<h3 class="text-danger">{{msg}}</h3>{% endfor %}');
		});



	// function to check is contains integer or not
	$('.is-integer').on('change', function(){
		var value = $(this).val();
		isnum = /^\d/.test(value)   // to check if it is starting with num
		// isnum = /^\d+$/.test(value);   to check if it is only containing num
		if( isnum ){
			$("#add-new-button").attr("disabled", true);
		}else{
			$("#add-new-button").attr("disabled", false);
		}
	});

let checkbox_values = [];

// search filter table
	$(document).ready(function(){
		$("#myInput").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#myTable tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});


	// to remove all occurrence of the element
	function removeItemAll(value) {
		  var i = 0;
		  while (i < checkbox_values.length) {
				if (checkbox_values[i] === value) {
				  checkbox_values.splice(i, 1);
				} else {
				  ++i;
				}
		  }
	}


	// check all checkbox in one click

		$('#checkAll').click(function () {

			var ele = $(".check");
			if ($("#checkAll").is(':checked')) {
				$(".check").prop("checked", true);
				for(i=0;i<ele.length;i++){
					checkbox_values.push(ele[i].value);
				}
			}else{
				$(".check").prop("checked", false);
				for(i=0;i<ele.length;i++){
					removeItemAll(ele[i].value);
				}
			}

			if( checkbox_values.length == 0){
				$(".floatingButtonHere").hide();
			}else{
				$(".floatingButtonHere").show(150);
			}
		});



	$('input[type="checkbox"]').click(function(){
		if($(this).attr("name")=="floatingButtonHere"){
			if($(this).is(':checked')){
				checkbox_values.push($(this).val());
			}else{
				removeItemAll($(this).val());
			}
		}
		if( checkbox_values.length == 0){
			$(".floatingButtonHere").hide();
		}else{
			$(".floatingButtonHere").show(150);
		}
		console.log(checkbox_values);
	});





	// division hide/show js

	function myfun(){

		document.getElementById("div-1").style.display = "block";
		document.getElementById("div-2").style.display = "none";
		document.getElementById("div-3").style.display = "none";

	}

	function myfun1(){
		document.getElementById("div-1").style.display = "none";
		document.getElementById("div-2").style.display = "block";
		document.getElementById("floating-button").style.display = "none";
	}


	function myfun2(){
		document.getElementById("div-1").style.display = "none";
		document.getElementById("div-3").style.display = "block";
		document.getElementById("div-2").style.display = "none";


	}



	function cancel() {
		document.getElementById("div-2").style.display = "none";
		document.getElementById("div-1").style.display = "block";
	}


// floating button JS

	$('input[type="checkbox"]').click(function(){
		if($(this).attr("value")=="floatingButtonHere"){
			$(".floatingButtonHere").show(150);
		}
	});



function myFunction() {
  	document.getElementById("checkAll").disabled = false;
    $(".check").attr("disabled",false);
    $("#floating-confirm").attr('onclick','delete_multiple_users()');
}

function freeze(){
	document.getElementById("checkAll").disabled = false;
    $(".check").attr("disabled",false);

	$("#floating-confirm").attr('onclick','freeze_multiple_users()');
}

 // to show confirmation modal
function delete_multiple_users(){
	if ( checkbox_values.length == 1 ){
		$("#confirm-message-delete").html("Delete the selected "+checkbox_values.length+" Seller");
	}else{
		$("#confirm-message-delete").html("Delete the selected "+checkbox_values.length+" Sellers");
	}

	$("#confirm-modal-button").attr('onclick','sendsellerspk();');
	$('.imagepreview').attr('src', $(this).find('img').attr('src'));
	$('#imagemodalConfirm').modal('show');

}


function freeze_multiple_users(){
	if ( checkbox_values.length == 1 ){
		$("#confirm-message-delete").html("Freeze the selected "+checkbox_values.length+" Seller");
	}else{
		$("#confirm-message-delete").html("Freeze the selected "+checkbox_values.length+" Sellers");
	}

	$("#confirm-modal-button").attr('onclick','sendSellersPKFreeze();');
	$('.imagepreview').attr('src', $(this).find('img').attr('src'));
	$('#imagemodalConfirm').modal('show');

}


function sendsellerspk(){
	$("#assign_values").attr('value', checkbox_values);
	document.forms['delete_multiple'].submit();

	checkbox_values = [];

}

function sendSellersPKFreeze(){
		$("#freeze_values").attr('value', checkbox_values);
		document.forms['freeze_multiple'].submit();

		checkbox_values = [];
}

</script>
</body>
</html>