{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Admin | Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


	<!-- fontawesome cdn -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'tesafe/css/admin-home.css' %}">

</head>
<body>



	<section class="bg-light">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light ">
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item pl-3">
							<a class="nav-link active"  href="admin-home">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link " href="admin-seller">Seller</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link" href="admin-tester">Tester</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link" href="admin-info-server">PWG Server</a>
						</li>
					</ul>
					
				</div>

				<a class="navbar-brand pr-3" href="#" style="color: green; font-size: 20px; position: relative;"><i class="fas fa-bell fa-2x"></i><span class="badge badge-danger" style="position: absolute; top: -5px; font-size: 14px; left:15px; ">1</span></a>
				
				<div class="dropdown  dropleft float-xl-right mb-0" >
					<button  class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="" onclick="myfun()">Broadcast</a>
						<a class="dropdown-item" href="#change-passward" onclick="myfun3()">Change Password</a>
						<a class="dropdown-item" href="#login-history" onclick="myfun1()">Login History</a>

						<a class="dropdown-item" href="#password-history" onclick="myfun2()">Password History</a>
						<a class="dropdown-item" href="#Statics" onclick="myfun()">Statistics</a>
						{% if user.is_authenticated %}
						<a class="dropdown-item" href="logout">Log Out</a>
						{%else%}
						<a class="dropdown-item" href="/">Log In</a>
						{% endif %}
						<a class="dropdown-item" href="/">Exit</a>

					</div>
				</div>
				

			</nav>
		</div>
	</section>

	<section class="bg-detail">
		<div class="container-fluid">
			<div class="row justify-content-center ">

				<div class="col-md-10 py-2 px-5">

					


					<div class="row justify-content-center bg-button-1 p-4 my-5" id="Statics">
						
						<div class="col-md">
							<h4 class="">statistics</h4>

							<div class="row">
								<div class="col-md">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">Account Name</th>
													<th scope="col">Total Number</th>
													<th scope="col">Online Number</th>
													<th scope="col">Offline Number</th>

												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">Seller</th>
													<td>{{seller_count}}</td>
													<td>{{seller_online}}</td>
													<td>{{seller_offline}}</td>


												</tr>

												<tr>
													<th scope="row">Tester</th>
													<td>{{tester_count}}</td>
													<td>{{tester_online}}</td>
													<td>{{tester_offline}}</td>

												</tr>

												<tr>
													<th scope="row">User</th>
													<td>{{web_user_count}}</td>
													<td>{{web_user_online}}</td>
													<td>{{web_user_offline}}</td>

												</tr>
												<tr>

													<th scope="row">PWGs</th>
													<td>{{PWGs_count}}</td>
													<td>{{PWGs_online}}</td>
													<td>{{PWGs_offline}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

							
						</div>

					</div>

					<div class="row justify-content-center bg-button-1 p-4 my-5" id="login-history" style="display: none;">
						
						<div class="col-md">
							<h4>Login History
                                <span class="d-flex justify-content-end">
							        <a href="admin-home" type="button" class="btn btn-danger btn-sm">Return</a>
                                </span>
                            </h4>
							<div class="row">
								<div class="col-md-6 py-3">
									<h6 class="font-weight-bold"><span><i class="fas fa-caret-right"></i></span> Number Of times Admin Been Logged in </h6>
									<p>{{history_count}}</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md">
									<h6 class="font-weight-bold"> <span><i class="fas fa-caret-right"></i></span> Login History</h6>
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">Sr. No.</th>
													<th scope="col">Date</th>
													<th scope="col">TIme</th>
													<th scope="col">Device Name</th>
													<th scope="col">Login IP Address</th>
												</tr>
											</thead>
											<tbody>
											{% for admin_history in history %}
												<tr>
													<th scope="row">{{forloop.counter}}</th>
													<td>{{admin_history.login_date}}</td>
													<td>{{admin_history.login_time}}</td>
													<td>{{admin_history.device_name}}</td>
													<td>{{admin_history.login_IP}}</td>
												</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

					</div>


					<div class="row justify-content-center bg-button-1 p-4 my-5" id="change-passward" style="display: none;">
						
						<div class="col-md">
							<h4 class="">Change Password<span class="float-right"></span></h4>
							<div class="row ">
								<div class="col-md-8 py-3">
									<h6 class="font-weight-bold"> <span><i class="fas fa-caret-right"></i></span> Change Your Current Password </h6>
									<form action="password_change" method="post">
										{% csrf_token %}
									  <div class="form-group">
									    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email" name="old_email">
									  </div>
									  <div class="form-group">
									     <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter New Password " name="new_email">
									  </div>

									  <div class="form-group">
									     <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Confirm New Password " name="new_conf_email">
									  </div>
									<button class="btn btn-success" type="submit">Proceed</button>
                                        <a href="admin-home"><button class="btn btn-secondary" type="button" onclick="cancel()">Cancel</button></a>
									</form>
								</div>
							</div>
						</div>

					</div>

					<div class="row justify-content-center bg-button-1 p-4 my-5" id="password-history" style="display: none;">
						
						<div class="col-md">

							<h4 class=""> Password HISTORY<span class="float-right"><a href="admin-home" type="button" class="btn btn-danger btn-sm">Return</a></span></h4>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Sr. No.</th>
											<th scope="col">Date</th>
											<th scope="col">Time</th>
											<th scope="col">Device Name</th>
											<th scope="col">Last Password</th>
										</tr>
									</thead>
									<tbody>
                                    {% for history in password_history %}
										<tr>
											<th scope="row">{{forloop.counter}}</th>
											<td>{{history.login_date}}</td>
											<td>{{history.login_time}}</td>
											<td>{{history.device_name}}</td>
											<td>{{history.last_pass}}</td>
										</tr>
                                    {% endfor %}
									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>


		</div>
	</section>





	<script type="text/javascript">

		function myfun(){
			document.getElementById("Statics").style.display="block";
			document.getElementById("change-passward").style.display="none";
			document.getElementById("login-history").style.display="none";
			document.getElementById("login-history").style.display="none";
		}
		function myfun1(){
			document.getElementById("login-history").style.display="block";
			document.getElementById("change-passward").style.display="none";
			document.getElementById("Statics").style.display="none";
			document.getElementById("password-history").style.display="none";
		}

		function myfun3(){
			document.getElementById("login-history").style.display="none";
			document.getElementById("change-passward").style.display="block";
			document.getElementById("password-history").style.display="none";
			document.getElementById("Statics").style.display="none";
			// document.getElementById("login-history").style.display="block";
		}

		function myfun2(){
			document.getElementById("password-history").style.display="block";
			document.getElementById("change-passward").style.display="none";
			document.getElementById("login-history").style.display="none";
			document.getElementById("Statics").style.display="none";
		}
	</script>


</body>
</html>