




<style type="text/css">
	
.bg-light {
    background-color: #ffffff!important;
    -webkit-box-shadow: -1px 2px 21px -10px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 21px -10px rgba(0,0,0,0.75);
box-shadow: -1px 2px 21px -10px rgba(0,0,0,0.75);
border-bottom: 1px solid #e2e2e2;
}

.navbar-light .navbar-brand {
    color: rgb(21, 47, 105);
}

.bg-detail {
    background-color: #efeff1!important;
}


.navbar .nav-item .nav-link {
    font-size: 20px;
    color: #0c0f6b;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
}


.active{
	border-radius: 10px;
    color: red!important;
}




.bg-user{
	background-color: white;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    color: white;
}
</style>













<section class="bg-light">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light ">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item pl-3">
							<a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link" href="#">Seller</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link" href="#">Tester</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link" href="#">PWG Server</a>
						</li>
					</ul>
					
				</div>
			</nav>
		</div>
	</section>