{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{% static 'tesafe/bootstrap4/css/bootstrap.min.css' %}">

	<!-- jQuery library -->
	<script src="{% static 'tesafe/bootstrap4/js/jquery.min.js' %}"></script>

	<!-- Popper JS -->
	<script src="{% static 'tesafe/bootstrap4/bootstrap.min.js' %}"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<!-- fontawesome cdn -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'tesafe/css/style.css' %}">
</head>
<body>


	<style type="text/css">
		.padding-register{
    padding:7rem 0rem;
}
	.background-images-1{
	background-image: url({% static 'tesafe/images/banner-8.jpg' %});
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
	</style>

	<section class="background-images-1">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-5">
					<div class="padding-register">
						<div class="card">
							<h3 class="text-center pt-3">Registration</h3>
							<div class="card-body">
								<form action="admin-home">
									{% csrf_token %}

									<div class="form-group mb-4">
										<label class="font-weight-bold">Account Type</label>
										<select class="form-control" name="accType">
											<option value="admin">Admin</option>
											<option value="seller">Seller</option>
											<option value="tester">Tester</option>
											<option value="user">User</option>
										</select>
									</div>
									<div class="form-group mb-4">
										<input type="text" class="form-control" id="formGroupExampleInput" name="fname" placeholder="Enter Your first name" required>
									</div>
									<div class="form-group mb-4">
										<input type="text" class="form-control"  name="lname" placeholder="Enter Your last name">
									</div>
									<div class="form-group mb-4">
										<input type="text" class="form-control"  name="uname" placeholder="Enter username ( includes @,#,!,_,-,etc )">
									</div>
									<div class="form-group mb-4">
										<input type="email" class="form-control"  name="email" placeholder="Enter Your Mail" required>
									</div>
									<div class="form-group mb-4">
										<input type="tel" class="form-control"  name="phone" placeholder="Enter Your Phone Number" title="Invalid Phone Number" pattern="[1-9]{1}[0-9]{9}">
									</div>
									<div class="form-group mb-4">
										<label for="msg">{{msg}}</label>
									</div>
									<div class="form-group mb-4">
										<input type="password" class="form-control" name="password1" placeholder="Enter Password" required>
									</div>
									<div class="form-group mb-4">
										<input type="password" class="form-control"  name="password2" placeholder="Confirm Password" required>
									</div>
									<div class="form-group">
										<button class="btn btn-primary btn-block">Submit</button>
									</div>
									<div class="form-group">
										<p class="text-center">Already Register?? <a href="/">  Login Here!!</a></p>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>