{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Admin | Tester-Get Back</title>


	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	

	<!-- fontawesome cdn -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'tesafe/css/tester-tested-pwg.css' %}">
</head>
<body>



	<section class="bg-light">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light ">
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item pl-3">
							<a class="nav-link "  href="admin-home">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link " href="admin-seller">Seller</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link active" href="admin-tester">Tester</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link" href="admin-info-server">PWG Server</a>
						</li>

						<!-- <li class="nav-item pl-3">
							<a class="nav-link" href="admin-info-server.html">Unread Messages <span><i class="fas fa-bell"></i></span></a>
						</li> -->
					</ul>
					
				</div>

				<a class="navbar-brand pr-3" href="#" style="color: green; font-size: 30px; position: relative;"><i class="fas fa-bell "></i><span class="badge badge-danger" style="position: absolute; top: -5px; font-size: 14px; left:15px; ">1</span></a>
				
				<div class="dropdown  dropleft float-xl-right mb-0" >
					<button  class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu">
						<!-- <a class="dropdown-item" href="">Delete</a>
						<a class="dropdown-item" href=""> Freeze </a>
						<a class="dropdown-item" href="" >Chat</a> -->
						<a class="dropdown-item" href="">Broadcast</a>
						
						<a class="dropdown-item" href="admin-home" >Exit</a>
					</div>
				</div>
				

			</nav>
		</div>
	</section>

	<section class="bg-detail">
		<div class="container-fluid">
			<div class="row justify-content-center">

				<div class="col-md-10  py-5 px-5">
					
					<div class="row justify-content-center bg-button-2 p-xl-4 mt-3" id="div-3">

						<div class="col-md" id="div-7">
							<header class="">
								<nav class="navbar navbar-light  venue-registration">
									<a class="h4 text-dark font-weight-bold pt-2">Get Back PWG From Tester Faiz</a>
									<form class="form-inline">
										<div class="input-group-prepend  mr-2">
											<span class="input-group-text" id="addon-wrapping"><i class="fas fa-search fa-1x"></i></span>
											<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" id="myInput">
										</div>
										<a href="#" class="btn btn-success text-white" onclick="fun6()">Tested</a>
										<a href="admin-tester" class="btn btn-danger text-white  ml-1">Back</a>
									</form>

								</nav>
							</header>

							
							<div class="accordion" id="accordionExample di">
								<p class="font-weight-bold" style="font-size: 18px; margin-left: 20px;"><i class="fas fa-caret-right"></i> <span>Untested PWG List</span></p>
								<div class="card">
									<div class="card-header" id="headingOne">
										<h2 class="mb-0">
											<button class="btn" type="button" data-toggle="collapse">
												<input type="checkbox"  id="checkAll" name="checkAll" value="floatingButtonHere"> PWGS-A
											</button>
											<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>
											
										</h2>
									</div>

									<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
										<div class="card-body px-5">
											<table class="table table-borderless">
												<thead>
													<tr>

														<th scope="col">Name</th>


													</tr>
												</thead>
												<tbody>
													<tr>

														<td><a href="#"><input type="checkbox" name="book" class="book" value="floatingButtonHere"> PWGS-A-1</a></td>


													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book" class="book" value="floatingButtonHere"> PWGS-A-12</a></td>

													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book" class="book" value="floatingButtonHere"> PWGS-A-3</a></td>

													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book" class="book" value="floatingButtonHere"> PWGS-A-4</a></td>

													</tr>
												</tbody>

											</table>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo">
										<h2 class="mb-0">
											<button class="btn" type="button" data-toggle="collapse">
												<input type="checkbox"  id="checkAll1" name="checkAll1" value="floatingButtonHere"> PWGS-B
											</button>
											<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>
										</h2>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body px-5">
											<table class="table table-borderless">
												<thead>
													<tr>

														<th scope="col">Name</th>


													</tr>
												</thead>
												<tbody>
													<tr>

														<td><a href="#"><input type="checkbox" name="book1" class="book1" value="floatingButtonHere" > PWGS-B-1</a></td>


													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book1" class="book1" value="floatingButtonHere" > PWGS-B-12</a></td>

													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book1" class="book1" value="floatingButtonHere" > PWGS-B-3</a></td>

													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book1" class="book1" value="floatingButtonHere" > PWGS-B-4</a></td>

													</tr>
												</tbody>

											</table>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingThree">
										<h2 class="mb-0">
											<button class="btn" type="button" data-toggle="collapse">
												<input type="checkbox"  id="checkAll2" name="checkAll2" value="floatingButtonHere"> PWGS-C
											</button>
											<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>
										</h2>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
										<div class="card-body  px-5">
											<table class="table">
												<thead>
													<tr>

														<th scope="col">Name</th>


													</tr>
												</thead>
												<tbody>
													<tr>

														<td><a href="#"><input type="checkbox" name="book2" class="book2" value="floatingButtonHere" > PWGS-C-1</a></td>


													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book2" class="book2" value="floatingButtonHere" > PWGS-C-12</a></td>

													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book2" class="book2" value="floatingButtonHere" > PWGS-C-3</a></td>

													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book2" class="book2" value="floatingButtonHere" > PWGS-C-4</a></td>

													</tr>
												</tbody>

											</table>
										</div>
									</div>
								</div>
							</div>

							<!-- <div class="table-responsive" style="overflow:scroll; height:520px;">
								<table class="table table-borderless">
									<thead>
										<tr>
											<th scope="col" style="position: relative;">Select</th>
											<th scope="col">Name</th>
											<th scope="col">Total PWG</th>

										</tr>
									</thead>
									<tbody id="myTable">
										<tr> 
											<th>
												<input type="checkbox"  id="checkAll" name="checkAll" value="floatingButtonHere"></th>
												<td><a href="tester-pwg-sublist.html">PWGS-A</a><div class="dropdown">
													<button class="btn btn-light dropdown-toggle"  onclick="myOpen('one')" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													</button>

													<div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="one">

														<table class="table">
															<thead>
																<tr>

																	<th scope="col">Name</th>
																	<th scope="col">Status</th>

																</tr>
															</thead>
															<tbody>
																<tr>

																	<td><a href="#"><input type="checkbox" name="book" class="book" > PWGS-A-1</a></td>
																	<td>T</td>

																</tr>

																<tr>
																	<td><a href="#"><input type="checkbox" name="book" class="book" > PWGS-A-12</a></td>
																	<td>U</td>
																</tr>

																<tr>
																	<td><a href="#"><input type="checkbox" name="book" class="book" > PWGS-A-3</a></td>
																	<td>T</td>
																</tr>

																<tr>
																	<td><a href="#"><input type="checkbox" name="book" class="book" > PWGS-A-4</a></td>
																	<td>U</td>
																</tr>
															</tbody>

														</table>


													</div>
												</div>
											</td>
											<td>20</td>
										</tr>

										<tr> 
											<th>
												<input type="checkbox"  id="checkAll1" name="checkAll1" value="floatingButtonHere"></th>
												<td><a href="tester-pwg-sublist.html">PWGS-B</a><div class="dropdown">
													<button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

													</button>
													<div class="dropdown-menu" aria-labelledby="dropdownMenu2">

														<table class="table">
															<thead>
																<tr>

																	<th scope="col">Name</th>
																	<th scope="col">Status</th>

																</tr>
															</thead>
															<tbody>
																<tr>

																	<td><a href="#"><input type="checkbox" name="book1" class="book1" > PWGS-B-1</a></td>
																	<td>T</td>

																</tr>

																<tr>
																	<td><a href="#"><input type="checkbox" name="book1" class="book1" > PWGS-B-12</a></td>
																	<td>U</td>
																</tr>

																<tr>
																	<td><a href="#"><input type="checkbox" name="book1" class="book1" > PWGS-B-3</a></td>
																	<td>T</td>
																</tr>

																<tr>
																	<td><a href="#"><input type="checkbox" name="book1" class="book1" > PWGS-B-4</a></td>
																	<td>U</td>
																</tr>
															</tbody>

														</table>
													</div>
												</div>
											</td>
											<td>20</td>



										</tr>
										<tr> 
											<th>
												<input type="checkbox"  id="checkAll2" name="checkAll2" value="floatingButtonHere"></th>
												<td><a href="tester-pwg-sublist.html">PWGS-C</a><div class="dropdown">
													<button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

													</button>
													<div class="dropdown-menu" aria-labelledby="dropdownMenu2">

														<table class="table">
															<thead>
																<tr>

																	<th scope="col">Name</th>
																	<th scope="col">Status</th>

																</tr>
															</thead>
															<tbody>
																<tr>

																	<td><a href="#"><input type="checkbox" name="book2" class="book2" > PWGS-C-1</a></td>
																	<td>T</td>

																</tr>

																<tr>
																	<td><a href="#"><input type="checkbox" name="book2" class="book2" > PWGS-C-12</a></td>
																	<td>U</td>
																</tr>

																<tr>
																	<td><a href="#"><input type="checkbox" name="book2" class="book2" > PWGS-C-3</a></td>
																	<td>T</td>
																</tr>

																<tr>
																	<td><a href="#"><input type="checkbox" name="book2" class="book2" > PWGS-C-4</a></td>
																	<td>U</td>
																</tr>
															</tbody>

														</table>
													</div>
												</div>
											</td>
											<td>20</td>
										</tr>
									</tbody>


								</table>
							</div> -->




						</div>


						<div class="col-md" style="display: none;" id="div-8">
							<header>
								<nav class="navbar navbar-light  venue-registration">
									<a class="h4 text-dark font-weight-bold pt-2">Get Back PWG From Tester Faiz</a>
									<form class="form-inline">
										<div class="input-group-prepend  mr-2">
											<span class="input-group-text" id="addon-wrapping"><i class="fas fa-search fa-1x"></i></span>
											<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" id="myInput">
										</div>
										<a href="#" class="btn btn-success  text-white" onclick="fun7()">Untested</a>
										<a href="admin-tester" class="btn btn-danger text-white ml-1">Back</a>
									</form>
								</nav>
							</header>
							<!-- <h5 class="font-weight-bold"> <span><i class="fas fa-caret-right"></i></span> List Of Tested PWG</h5> -->
							<div class="accordion" id="accordionExample">
								<p class="font-weight-bold" style="font-size: 18px; margin-left: 20px;"><i class="fas fa-caret-right"></i> <span>Tested PWG List</span></p>
								<div class="card">
									<div class="card-header" id="headingOne">
										<h2 class="mb-0">
											<button class="btn" type="button" data-toggle="collapse">
												<input type="checkbox"  id="checkAll" name="checkAll" value="floatingButtonHere"> PWGS-A
											</button>
											<i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="myFunction(this)"></i>
											
										</h2>
									</div>

									<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
										<div class="card-body px-5">
											<table class="table table-borderless">
												<thead>
													<tr>

														<th scope="col">Name</th>


													</tr>
												</thead>
												<tbody>
													<tr>

														<td><a href="#"><input type="checkbox" name="book" class="book" value="floatingButtonHere"> PWGS-A-1</a></td>


													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book" class="book" value="floatingButtonHere"> PWGS-A-12</a></td>

													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book" class="book" value="floatingButtonHere"> PWGS-A-3</a></td>

													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book" class="book" value="floatingButtonHere"> PWGS-A-4</a></td>

													</tr>
												</tbody>

											</table>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo">
										<h2 class="mb-0">
											<button class="btn" type="button" data-toggle="collapse">
												<input type="checkbox"  id="checkAll1" name="checkAll1" value="floatingButtonHere"> PWGS-B
											</button>
											<i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onclick="myFunction(this)"></i>
										</h2>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body">
											<table class="table table-borderless">
												<thead>
													<tr>

														<th scope="col">Name</th>


													</tr>
												</thead>
												<tbody>
													<tr>

														<td><a href="#"><input type="checkbox" name="book1" class="book1" value="floatingButtonHere" > PWGS-B-1</a></td>


													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book1" class="book1" value="floatingButtonHere" > PWGS-B-12</a></td>

													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book1" class="book1" value="floatingButtonHere" > PWGS-B-3</a></td>

													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book1" class="book1" value="floatingButtonHere" > PWGS-B-4</a></td>

													</tr>
												</tbody>

											</table>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingThree">
										<h2 class="mb-0">
											<button class="btn" type="button" data-toggle="collapse">
												<input type="checkbox"  id="checkAll2" name="checkAll2" value="floatingButtonHere"> PWGS-C
											</button>
											<i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" onclick="myFunction(this)"></i>
										</h2>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
										<div class="card-body">
											<table class="table">
												<thead>
													<tr>

														<th scope="col">Name</th>


													</tr>
												</thead>
												<tbody>
													<tr>

														<td><a href="#"><input type="checkbox" name="book2" class="book2" value="floatingButtonHere" > PWGS-C-1</a></td>


													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book2" class="book2" value="floatingButtonHere" > PWGS-C-12</a></td>

													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book2" class="book2" value="floatingButtonHere" > PWGS-C-3</a></td>

													</tr>

													<tr>
														<td><a href="#"><input type="checkbox" name="book2" class="book2" value="floatingButtonHere" > PWGS-C-4</a></td>

													</tr>
												</tbody>

											</table>
										</div>
									</div>
								</div>
							</div>

							


						</div>

					</div>



				</div>







			</div>
		</div>


	</div>
</section>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Transferred PWG</h5>
				<a href="" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a> 
			</div>
			<div class="modal-body text-center p-4">
				<i class="fas fa-check-circle fa-3x" style="color: green;"></i>
				<p class="pt-2 font-weight-bold">Your PWG has been successfully transferred to seller</p>
				<a href="tester-getback" class="btn-sm btn btn-success">OK</a>

			</div>

		</div>
	</div>
</div>




<!-- <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">  
			<div class="modal-header">
				<h5 class="modal-title font-weight-bold">Login History</h5>
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</div>            
			<div class="modal-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">SL No</th>
							<th scope="col">Name</th>
							<th scope="col">Date</th>
							<th scope="col">Time</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td><a href="">Faiz Elahi</a></td>
							<td>05//06/2020</td>
							<td>04:30 pm</td>
						</tr>

						<tr>
							<th scope="row">1</th>
							<td><a href="">Naqui Hasan</a></td>
							<td>07//06/2020</td>
							<td>04:00 pm</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
</div> -->






















<section class="floatingButtonHere" style="display: none;">
	<a href="" class=" btn btn-primary" data-toggle="modal" data-target="#exampleModal">Confirm</a>
	<a href="tester-getback" class=" btn btn-danger">Cancel</a>
</section>
































<script type="text/javascript">

// floating button JS

	$('input[type="checkbox"]').click(function(){
		if($(this).attr("value")=="floatingButtonHere"){
			$(".floatingButtonHere").show(150);
		}
	});


// search filter table
$(document).ready(function(){
	$("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#myTable tr").filter(function() {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	});
});



// modal popup
$(function() {
	$('.pop').on('click', function() {
		$('.imagepreview').attr('src', $(this).find('img').attr('src'));
		$('#imagemodal').modal('show');   
	});     
});




	$(function () {
		$("#checkAll").click(function () {
			if ($("#checkAll").is(':checked')) {
				$(".book").prop("checked", true);
			} else {
				$(".book").prop("checked", false);
			}
		});
	});



	$(function () {
		$("#checkAll1").click(function () {
			if ($("#checkAll1").is(':checked')) {
				$(".book1").prop("checked", true);
			} else {
				$(".book1").prop("checked", false);
			}
		});
	});


	$(function () {
		$("#checkAll2").click(function () {
			if ($("#checkAll2").is(':checked')) {
				$(".book2").prop("checked", true);
			} else {
				$(".book2").prop("checked", false);
			}
		});
	});








	$(function () {
		$("#checkAll-tested").click(function () {
			if ($("#checkAll-tested").is(':checked')) {
				$(".book-tested").prop("checked", true);
			} else {
				$(".book-tested").prop("checked", false);
			}
		});
	});

	$(function () {
		$("#checkAll-tested1").click(function () {
			if ($("#checkAll-tested1").is(':checked')) {
				$(".book-tested1").prop("checked", true);
			} else {
				$(".book-tested1").prop("checked", false);
			}
		});
	});

	$(function () {
		$("#checkAll-tested2").click(function () {
			if ($("#checkAll-tested2").is(':checked')) {
				$(".book-tested2").prop("checked", true);
			} else {
				$(".book-tested2").prop("checked", false);
			}
		});
	});




	// division hide/show js

	function myfun(){

		document.getElementById("div-1").style.display = "block";
		document.getElementById("div-2").style.display = "none";
		document.getElementById("div-3").style.display = "none";

	}

	function myfun1(){
		document.getElementById("div-1").style.display = "none";
		document.getElementById("div-2").style.display = "block";
		document.getElementById("div-3").style.display = "none";


	}


	function myfun2(){
		document.getElementById("div-1").style.display = "none";
		document.getElementById("div-3").style.display = "block";
		document.getElementById("div-2").style.display = "none";


	}



	function cancel() {
		document.getElementById("div-2").style.display = "none";
		document.getElementById("div-1").style.display = "block";
	}



	function fun6() {
		document.getElementById("div-7").style.display = "none";
		document.getElementById("div-8").style.display = "block";
	}

	function fun7() {
		document.getElementById("div-7").style.display = "block";
		document.getElementById("div-8").style.display = "none";
	}

	function funDown(){
		document.getElementsByClassName('fa-chevron-up').style.display="block";
		document.getElementsByClassName('fa-chevron-down').style.display="none";
	}





	function funDown(){
		document.getElementsByClassName('fa-sort-down').style.display="block";
		document.getElementsByClassName('fa-sort-up').style.display="none";
	}







	function myFunction(x) {
		x.classList.toggle("fa-sort-down");
	}





	function myOpen(one) {
		$("#" + one).slideToggle("slow");
		var tog = document.getElementById(one);
		if (tog.style.display == "none") {
			console.log(tog);
		}
	}



</script>
</body>
</html>