{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Admin | Seller-Transfer</title>


	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	

	<!-- fontawesome cdn -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'tesafe/css/transfer.css' %}">
</head>
<body>



	<section class="bg-light">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light ">
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item pl-3">
							<a class="nav-link "  href="admin-home">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link active" href="admin-seller">Seller</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link " href="admin-tester">Tester</a>
						</li>
						<li class="nav-item pl-3">
							<a class="nav-link" href="admin-info-server">PWG Server</a>
						</li>
					</ul>
					
				</div>


				<a class="navbar-brand pr-3" href="#" style="color: green; font-size: 30px; position: relative;"><i class="fas fa-bell "></i><span class="badge badge-danger" style="position: absolute; top: -5px; font-size: 14px; left:15px; ">1</span></a>

				<div class="dropdown  dropleft float-xl-right mb-0" >
					<button  class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu">

						<a class="dropdown-item" href="">Broadcast</a>
						<a class="dropdown-item" href="admin-home" >Exit</a>
					</div>
				</div>


			</nav>
		</div>
	</section>

	<section class="bg-detail">
		<div class="container-fluid">
			<div class="row justify-content-center">

				<div class="col-md-10  py-5 px-5">

					<div class="row justify-content-center bg-button-2 p-xl-4 mt-3" id="div-3">

						<div class="col-md" id="div-7">
							<header class="pb-4">
								<nav class="navbar navbar-light  venue-registration">
									<a class="h4 text-dark font-weight-bold pt-2">Transfer Tested PWG To Seller {{name}}</a>
									<form class="form-inline">
										<div class="input-group-prepend  mr-2">
											<span class="input-group-text" id="addon-wrapping"><i class="fas fa-search fa-1x"></i></span>
											<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" id="myInput">
										</div>
										<a href="admin-seller" class="btn btn-danger text-white">Back</a>
									</form>
								</nav>
							</header>


							<div class="accordion" id="accordionExample">
								<div class="row px-5">
									<div class="col-2">
										<h5>Select</h5>
									</div>
									<div class="col-7 pl-2">
										<h5 class="pl-3">Name</h5>
									</div>
								</div>
								{% for pwgs in pwgserver %}
									{% with count=forloop.counter %}
									{% if forloop.counter == 1 %}
								<div class="card">
									<div class="card-header" id="headingOne">
										<h2 class="mb-0">
											<button class="btn" type="button" data-toggle="collapse">
												<input type="checkbox" id="checkAll{{forloop.counter}}" name="floatingButtonHere" value="s{{pwgs.id}}" class="s{{pwgs.id}}"> <span class="pwg-list">{{pwgs.alias}}</span>
											</button>
											<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>
										</h2>
									</div>

									<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">


									{% elif forloop.counter == 2 %}
								<div class="card">
									<div class="card-header" id="headingTwo">
										<h2 class="mb-0">
											<button class="btn" type="button" data-toggle="collapse">
												<input type="checkbox" id="checkAll{{forloop.counter}}" name="floatingButtonHere" value="s{{pwgs.id}}" class="s{{pwgs.id}}"> <span class="pwg-list">{{pwgs.alias}}</span>
											</button>
											<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>
										</h2>
									</div>

									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">


									{% elif forloop.counter == 3 %}
									<div class="card">
										<div class="card-header" id="headingThree">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox" id="checkAll{{forloop.counter}}" name="floatingButtonHere" value="s{{pwgs.id}}" class="s{{pwgs.id}}"> <span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>
											</h2>
										</div>

									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">


									{% elif forloop.counter == 4 %}
									<div class="card">
										<div class="card-header" id="headingFour">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox" id="checkAll{{forloop.counter}}" name="floatingButtonHere" value="s{{pwgs.id}}" class="s{{pwgs.id}}"> <span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>
											</h2>
										</div>

									<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">

									{% elif forloop.counter == 5 %}
									<div class="card">
										<div class="card-header" id="headingFive">
											<h2 class="mb-0">
												<button class="btn" type="button" data-toggle="collapse">
													<input type="checkbox" id="checkAll{{forloop.counter}}" name="floatingButtonHere" value="s{{pwgs.id}}" class="s{{pwgs.id}}"> <span class="pwg-list">{{pwgs.alias}}</span>
												</button>
												<i class="fas fa-sort-up" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive" onclick="myFunction(this)" style="position: absolute; top: 31px;font-size: 18px;"></i>
											</h2>
										</div>

									<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">


									{% endif %}
										<div class="card-body px-xl-5">
											<table class="table table-borderless">
												<thead>
												</thead>
												<tbody>
												{% for pw in  pwg %}
													{% if pwgs.id == pw.owned_by.id %}
													<tr>
														<td><a href="#"><input type="checkbox" name="floatingButtonHere" class="pwg{{count}}" value="{{pw.id}}"> {{pw.alias}}</a></td>
													</tr>
													{% endif %}
												{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
										{% endwith %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Transferred PWG</h5>
				<a href="" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
			</div>
			<div class="modal-body text-center p-4">
				<i class="fas fa-check-circle fa-3x" style="color: green;"></i>
				<p class="pt-2 font-weight-bold">Your PWG has been successfully transfered to seller</p>

			</div>

		</div>
	</div>
</div>

<section class="floatingButtonHere" style="display: none;">

	<a href="" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="confirm_transfer();">Confirm</a>
	<a href="transfer{{id}}" class=" btn btn-danger">Cancel</a>
</section>

<!--	to transfer PWG and PWGS names-->
	<form action="transfer_pwgs" method="post" name="transfer">
		{% csrf_token %}
		<input type="hidden" id="assign_values" name="values">
		<input type="hidden"  name="user_pk" value="{{id}}">
	</form>

<script src="{% static 'tesafe/js/transfer_ajax.js' %}"></script>
<script type="text/javascript">

// floating button JS
	let checkbox_values = [];

	function showHideButtons(){
		if( checkbox_values.length == 0){
			$(".floatingButtonHere").hide();
		}else{
			$(".floatingButtonHere").show(150);
		}

	}

	// to remove all occurrence of the element
	function removeItemAll(value) {
		  var i = 0;
		  while (i < checkbox_values.length) {
				if (checkbox_values[i] === value) {
				  checkbox_values.splice(i, 1);
				} else {
				  ++i;
				}
		  }
	}

	$('input[type="checkbox"]').click(function(){
		if($(this).attr("name")=="floatingButtonHere"){

			if($(this).is(':checked')){
				checkbox_values.push($(this).val());
				console.log(checkbox_values);

			}else{
				removeItemAll($(this).val());
				console.log(checkbox_values);
			}

			showHideButtons();
		}

	});



	//creating dynamic functions for the each single pwg selection
	{% for pwg in pwgserver %}
		$(function () {
			$("#checkAll{{forloop.counter}}").click(function () {
				if ($("#checkAll{{forloop.counter}}").is(':checked')) {
					$(".pwg{{forloop.counter}}").prop("checked", true);

					var ele = $(".pwg{{forloop.counter}}");
					for(i=0;i<ele.length;i++){
						checkbox_values.push(ele[i].value);
					}
					console.log(checkbox_values);

				} else {
					$(".pwg{{forloop.counter}}").prop("checked", false);

					// fetch and delete all the PWG from the checkbox_values list
					var ele = $(".pwg{{forloop.counter}}");
					for(i=0;i<ele.length;i++){
						var value = ele[i].value;
						removeItemAll(value);
					}

					// fetch and delete corresponding PWGS from the checkbox_values list
					var ele = $("#checkAll{{forloop.counter}}");
					var index = checkbox_values.indexOf(ele[0].value);
					if( index > -1 ){
						checkbox_values.splice(index,1);
					}
					console.log(checkbox_values);

				}
				showHideButtons();
			});
		});
	{% endfor %}


// search filter table
$(document).ready(function(){
	$("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#myTable tr").filter(function() {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	});
});



// modal popup
$(function() {
	$('.pop').on('click', function() {
		$('.imagepreview').attr('src', $(this).find('img').attr('src'));
		$('#imagemodal').modal('show');
	});
});

	// division hide/show js

	function myfun(){
		document.getElementById("div-1").style.display = "block";
		document.getElementById("div-2").style.display = "none";
		document.getElementById("div-3").style.display = "none";

	}

	function myfun1(){
		document.getElementById("div-1").style.display = "none";
		document.getElementById("div-2").style.display = "block";
		document.getElementById("div-3").style.display = "none";


	}


	function myfun2(){
		document.getElementById("div-1").style.display = "none";
		document.getElementById("div-3").style.display = "block";
		document.getElementById("div-2").style.display = "none";


	}



	function cancel() {
		document.getElementById("div-2").style.display = "none";
		document.getElementById("div-1").style.display = "block";
	}





	function funDown(){
		document.getElementsByClassName('fa-sort-down').style.display="block";
		document.getElementsByClassName('fa-sort-up').style.display="none";
	}


	function myFunction(x) {
		x.classList.toggle("fa-sort-down");
	}


	function myOpen(one) {
		$("#" + one).slideToggle("slow");
		var tog = document.getElementById(one);
		if (tog.style.display == "none") {
			console.log(tog);
		}
	}



		// search filter table
	$(document).ready(function(){
		$("#myInput").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#myTable tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});

	function confirm_transfer(){
		$('#assign_values').attr('value', checkbox_values);
		document.forms['transfer'].submit();
	}


</script>
</body>
</html>